[2017-09-25 15:29] alexwlchan opened #361 "Loris can fail to set the Access-Control-Allow-Origin if using the cors_regex setting"
The `set_acao()` method on `LorisResponse` is defined as follows:

[code]

If a regex is present but `request.url_root` doesn't match, it never sets the ACAO header. This seems like an oversight – in this case, it seems like `*` would be a more appropriate value?

The only value to the `regex` parameter is `self.cors_regex`, where `cors_regex` is a setting with minimal documentation and, as far as

[2017-09-30 17:10] alexwlchan commented on #324
I’ve been raising a bunch of patches to improve the test coverage of Loris, which I think will be a useful safety net for this change.

I’m aiming for a minimum of 100% line coverage, after which I don’t think it should be too hard to get Python 3 support – I already have a tox.ini with Python 3 (although lots of tests fail right now!).

[2017-10-09 22:01] alexwlchan opened #366 "Support compatibility with PyPy"
In the right circumstances, using PyPy can give you a nice performance boost.

I don't know if Loris’s use case really fits PyPy, which helps operations that are computationally expensive – I could imagine that the major Loris bottlenecks are more often I/O-related, when moving images around. Still, might be worth a look.

Adding Python 3 compatibility in #324 will need some work to add testing/in

[2017-10-10 07:07] alexwlchan opened #367 "What does diskless Loris look like?"
Right now, Loris does a bunch of work passed images around the file system: downloading to tempfiles, caching derivatives, and so on.

What if it… didn’t?

Reasons I think this might be interesting:

* If you run CloudFront or a similar cache in front of Loris, derivative caching via local FS is a waste. Better to pass the raw bytes straight out.
* if you have a slow local disk, an HTTP resolver m

[2017-10-10 09:10] jpstroop commented on #367
This has come up several times, but I'm surprised to see that there isn't an issue for it. This was actually always my intent, but the use case never fully materialized and so the work never really happened.

I don't think it's as big a change as you might think. The [`enable_caching` config option](https://github.com/loris-imageserver/loris/blob/development/etc/loris2.conf#L30) was put in to serv

[2017-10-11 12:45] alexwlchan opened #369 "How is the extraInfo parameter in ImageInfo meant to work?"
There’s a snippet of code in the constructor for ImageInfo as follows, which appears to pass the value of an `extraInfo` key through directly:

[code]

I’m trying to add a test for this code, because it’s not currently exercised by the tests. There’s a comment in #298 which describes the intended use case:

I understood this to mean arbitrary key-value pairs, but trying that gets an AttributeError

[2017-10-11 14:35] azaroth42 commented on #369
Yes, it's a passthrough. ImageInfo only accepts a certain set of slots, so trying to set `foo` will cause a failure, whereas setting `service` to an arbitrary value should work.

[2017-10-13 12:39] #369 closed, assigned to nobody

[2017-10-13 13:23] bcail commented on #288
Please upgrade to 2.2.0 and let us know if you still see the issue (the version is 2.2.0 now, so it should work).

[2017-10-13 13:23] #288 closed, assigned to nobody

[2017-10-13 13:24] bcail commented on #253
Closed by #278.

[2017-10-13 13:24] #253 closed, assigned to nobody

[2017-10-13 14:20] jpstroop commented on #323
Closing this, thanks to @bcail and @alexwlchan! New committers still welcome (nudge nudge @azaroth42).

[2017-10-13 14:20] #323 closed, assigned to nobody

[2017-10-13 15:42] jrhoads commented on #367
I'm interested in exploring this as well.

[2017-10-13 16:17] alexwlchan opened #372 "Can we use Pillow for JP2 parsing?"
Currently `img_info.py` has a big chunk of code for parsing JP2s.

Originally, Loris only supported Pillow 2.1 or newer. Pillow added JP2 support [in 2.4.0](http://pillow.readthedocs.io/en/3.1.x/handbook/image-file-formats.html#jpeg-2000), which is now the minimum required version in Loris.This means that every (up-to-date) Loris is running with a version of Pillow that has native JP2 support.

Co

[2017-10-13 16:45] alexwlchan commented on #372
To partially answer my own question: Pillow doesn’t seem to expose (or know about) the colour profile information used by Loris, so we’d have to retain that at least.

Nor does it have tiles. Guess it’s JPEG2000 support isn’t good enough for us (yet!).

[2017-10-13 18:28] jpstroop commented on #372
Last I checked (12 mos?), Pillow's integration w/ OpenJPEG is pretty naive. I think you can get w/h and that's about it. And as far as pulling out tiles or anything like that goes, it doesn't know about tiles or precincts or decomposition levels, etc.

[2017-10-13 20:41] alexwlchan commented on #324
I think there’s a general consensus that we go for 2.7 and 3 compatibility?

I’ve added Python 3 tests to Travis – just for information, not for pass/fail. When they go green, we can promote them to proper tests!

I’ve done enough on this now, and Python 3 compatibility isn’t high on my wishlist – so I won’t do any more work on this for a while. If somebody else wants to work on this, I’d suggest

[2017-10-18 14:23] zannkukai opened #378 "Missing character into constants._IDENT"
Hello,

I'm currently using Loris to serve image from a FedoraCommons repository (3.5)
Checking the documentation, I found the perfect way to use Loris using TemplateHTTPResolver.
For a same object, I can have multiple images. My URL's looks like this

       http://myserver.com/fedora/objects/test:12345/datastreams/IMG_0002/content
  ...

So I would used this configuration :

&nbsp;&nbsp;&nbsp;im

[2017-10-18 14:54] alexwlchan commented on #378
Thanks for the report!

Ideally, I think that regex should really be adapting to your `delimiter` config, and adding the delimiter character to the list of accepted ID characters – but then we might need to check we weren’t allowing any particularly problematic characters there. Maybe updating the IDENT is easiest for now.

[2017-10-20 14:40] ashmashrest opened #379 "Can not create a cache copy of the image in Centos 7"
I am getting below error when the cache is turned on. We are using Centos 7, same configuration in Ubuntu 16.04 seems to be working fine. I tired turning off SELinux but there error still exists. I am using a AWS s3fs mount as the image source root, however changing the image source root  to "/usr/local/share/image" has the same issue.

Below is the snippet of the error log -
File "/usr/lib/python

[2017-10-20 14:45] alexwlchan commented on #379
Yeah, so Loris downloads images from the source to a temporary directory, then uses `os.rename` to copy the file into a permanent cache. There is a note in the docs for `os.rename`:

So I’d guess that either:

* On CentOS, your temporary directory is on a different filesystem to your permanent cache, and on Ubuntu it isn't; or
* CentOS complains about renaming across filesystems in a way that Ubun

[2017-10-20 14:46] alexwlchan commented on #379
(Sorry, hit the wrong button there!)

[2017-10-20 15:18] ashmashrest commented on #379
Thanks @alexwlchan . I came across the workaround yesterday but guess I implemented it incorrectly. Switching rename to shutil.move seemed to have fixed the issue. I am using the same setup in Ubuntu - s3fs mount as the image source root, /tmp/loris2 as the temp directory and /var/cache/loris as the cache directory but guess Centos does not play nice with different file systems.

[2017-10-20 15:20] alexwlchan commented on #379
Glad to hear you resolved it @ashmashrest!

I’ll keep this issue open – we should probably modify vanilla Loris to use `shutil.move()`, so we’ll use this issue for tracking that.

[2017-10-20 15:26] ashmashrest commented on #379
That sounds good.

[2017-10-20 16:16] bcail commented on #379
#300 is relevant here. I think the issue is whether we're going to provide a guarantee that the move is atomic or not. If it's not atomic, users might see a partially written file in the cache. It looks like shutil.move uses os.rename if it's the same filesystem (so it's atomic), but if it's a different filesystem, it uses copy2 (which wouldn't be atomic, I don't think).

The solution that we do i

[2017-10-20 16:45] giorgiosironi commented on #379
Will check the proposed `shutil.move`, interesting to have a solution that is aware of the different filesystem. Notice that if the change is not atomic it can break some images outputting them as incomplete on a 200 response; but on low traffic that should be unlikely to happen.

[2017-10-20 16:53] alexwlchan commented on #379
How hard is it to detect if the two directories are on different filesystems? Could we do something like:

[code]

[2017-10-20 20:24] bcail commented on #379
Looks like shutil.move does a try...except: https://github.com/python/cpython/blob/2.7/Lib/shutil.py#L307

Maybe we could combine the ideas: try the rename, if it fails with that error, do the copy to a tmp file and rename the tmp file.

How does that sound?

[2017-10-20 20:57] alexwlchan commented on #379
Yep, that sounds good to me.

[2017-11-06 13:39] #379 closed, assigned to nobody

[2017-11-09 20:34] bcail commented on #361
I think that functionality is tested here: https://github.com/loris-imageserver/loris/blob/development/tests/webapp_t.py#L301. I think the idea is that if cors_regex is set, then you don't want just any origin to be allowed - only origins you've allowed with your regex. @jpstroop any thoughts?

[2017-11-09 21:22] jpstroop commented on #361
Yes, that was the intent. I believe the discussion was here: https://github.com/loris-imageserver/loris/issues/181

[2017-11-10 13:30] bcail commented on #361
@alexwlchan are you OK with closing this issue? Maybe we should add some documentation and/or code comments to make things clearer.

[2017-11-14 12:55] alexwlchan commented on #361
So if the origin doesn’t match your regex, we don’t allow cross-origin sharing? In that case, is it okay to omit the header, or should we be sending the header with some sort of null/empty value?

[2017-11-14 14:00] bcail commented on #361
[Looks like](https://stackoverflow.com/a/46087244) it's OK to leave out the header completely.

[2017-12-07 17:59] bcail commented on #361
@alexwlchan OK to close?

[2017-12-08 11:52] alexwlchan commented on #361
Yep, good to close.

[2017-12-08 11:52] #361 closed, assigned to nobody

[2017-12-08 16:31] bcail commented on #378
Fixed in #389.

[2017-12-08 16:31] #378 closed, assigned to nobody

[2017-12-18 08:11] alexwlchan commented on #281
I would very much like to get this working, as we’re seeing a small number of 500s from our Loris instance which are triggered by the SimpleHTTPResolver source dropping the connection. If we have ETag caching, we’d reduce the load on our HTTP source.

The simplest thing would be to store the ETag in a JSON file; something like:

[code]

which lives in the HTTP resolver cache alongside the image it

[2017-12-18 20:04] bcail commented on #281
So the goal here is for Loris to automatically update its cached source images, by checking the source http server for an update on each request? I think Loris currently just checks for whether a source image is in the cache - if it is, it uses it, and doesn't hit the source http server at all.

If we go this direction, I like the idea of having a configuration option - that would let users turn i

[2017-12-18 20:31] scossu commented on #281
We implemented this in production for a period of time: https://github.com/aic-collections/loris/commit/3e3a67372fa11aac3373796acc87a94db7f227a5

[2018-01-30 16:19] bcail commented on #359
Fixed in #395.

[2018-01-30 16:19] #359 closed, assigned to nobody

[2018-02-13 17:03] bcail commented on #347
@azaroth42 are you planning to work on this issue? If not, could you please give some more detail about the problem? Is it still an issue? I'm seeing the following on line 273 (currently):
raise AuthorizerException(message="invalidCredentials: expired")

[2018-02-15 16:46] nmaekawa commented on #372
Hi, I'm working on this as a devops point of view and don't know much about images.
I have the jp2 tests images that come with loris and understand that if you don't plan to support jp2 as source format, you probably should not have them in the image storage.

But, is there a way to disable jp2 as a source format?
I'm removing the jp2 entry from the transformers section in loris.conf so it throws

[2018-02-15 20:41] bcail commented on #372
@nmaekawa could you please open a separate issue? Maybe you could give more details about why you want to disable JP2 as a source format. You don't have to have any JP2 source images - you can just ignore JP2s as it is.

[2018-02-16 14:27] abbas001 opened #401 "How to get some specific page thumbnail from a multi page tiff?"
I have a multi page tiff file. I want to get specific page image. how will I get?

For an instance, I have 10 page tiff file I want to get page number 5 from the tiff.

[2018-02-16 18:15] nmaekawa opened #403 "way to disable jp2 as source format"
at harvardx we don't usually have jp2, so we don't bother to install anything to deal with it (kakadu nor openjp2).

But say that i have the loris/tests/img in my storage and someone decides to request it. What I see is that this request returns a 500 after a while (I think 2min).

I can remove the jp2 entry from transformers section in loris.conf and that will return a 500 faster. Or I can preven

[2018-02-18 10:39] alexwlchan commented on #403
So the expedient fix would be to remove any JP2 images from your storage.

I suspect the long timeout is being caused by blocking in this code:

https://github.com/loris-imageserver/loris/blob/bf509cdc539c26f4bd8ab318870b8daaede9b1fe/loris/transforms.py#L314-L319

and eventually something in the stack times out the request and returns a 500 (although a 504 might be more appropriate).

The correct

[2018-02-19 10:05] alexwlchan commented on #401
I don’t think there’s a way to do this in the [IIIF Image API 2.1 spec](http://iiif.io/api/image/2.1/), which is what Loris supports – and I’m pretty sure there’s nothing Loris-specific to do this.

[2018-02-19 13:01] abbas001 commented on #401
Thanks @alexwlchan for you comment.

But as per [IIIF Image API 2.1 spec](http://iiif.io/api/image/2.1/#image-request-uri-syntax), we can have any identify for our resource.

`{scheme}://{server}{/prefix}/{identifier}`
`{scheme}://{server}{/prefix}/{<resouce>,<page_number>}`

**`http://www.example.org/image-service/<file_path>,<page_number>/full/full/0/default.jpg`
`http://www.example.org/image-se

[2018-02-19 14:58] bcail commented on #401
@abbas001, can you point us to another IIIF image server that supports this functionality?

[2018-02-20 13:06] abbas001 commented on #401
@bcail, please check the [Cantaloupe Image Server](https://medusa-project.github.io/cantaloupe/manual/3.4/processors.html#PdfBoxProcessor) they are doing little bit different for PDF file.

You can check the **PdfBoxProcessor** section
`http://example.org/iiif/2/document.pdf/full/full/0/default.jpg?page=<page_number>`
`http://example.org/iiif/2/document.pdf/full/full/0/default.jpg?page=2`

[2018-02-20 15:35] nmaekawa commented on #403
@alexwlchan ah, thanks for checking on this.

[2018-02-27 20:48] bcail commented on #324
PR #400 - Loris is now compatible with 2.7, 3.4, 3.5, and 3.6.

[2018-02-27 20:48] #324 closed, assigned to nobody

[2018-02-28 17:27] cbutcosk commented on #271
Is uncompressed TIFF the presumptive default here? I added a naive uncompressed version of TIFF output to Colby's fork last week for our dev/internal instance, but I can imagine plenty of situations where a response of 100s+ MB would be a deal breaker.

[2018-03-01 04:41] minusdavid opened #404 "ImportError: No module named configobj"
In dependencies.md, it says that you only need to install configobj, if you're not going to run setup.py.

However, I got the following when I ran "./setup.py install --record files.txt":

Installed /usr/local/lib/python2.7/dist-packages/chardet-3.0.4-py2.7.egg
Finished processing dependencies for Loris==2.2.0
writing list of installed files to 'files.txt'
Traceback (most recent call last):
  File

[2018-03-01 05:29] minusdavid opened #405 "Loris seemingly unable to process TIF files"
I'm pointing Loris at a Fedora 4.7.2 instance and it's working great using Kakadu for JPEG2000, but I'm seeing the following for TIFFs:

Server Side Error: -2

This is likely a permissions problem, though it's
possible that there was a problem with the source file
(/usr/local/share/images/loris/7b/977/74f/905/03d/4a6/a43/099/a4d/8f5/193/loris_cache.tif). (500)

I'm able to download and render the

[2018-03-01 05:41] minusdavid commented on #405
I know https://github.com/loris-imageserver/loris/blob/development/doc/dependencies.md says that "pip install Pillow" should say the following:

[...]
--- JPEG support available
[...]
--- ZLIB (PNG/ZIP) support available
--- LIBTIFF support available
--- FREETYPE2 support available
--- LITTLECMS2 support available
--- WEBP support available
--- WEBPMUX support available
[...]

However mine did not

[2018-03-01 05:43] minusdavid commented on #405
But there are other directions which aren't quite right as well I think (I made some notes to go back to raise issues...)

In the Pillow directories, I see the following:

/usr/local/lib/python2.7/dist-packages/PIL/TiffImagePlugin.py
  /usr/local/lib/python2.7/dist-packages/PIL/TiffImagePlugin.pyc
  /usr/local/lib/python2.7/dist-packages/PIL/TiffTags.py
  /usr/local/lib/python2.7/dist-packages/PIL

[2018-03-01 05:44] minusdavid commented on #405
Uninstalled and installed again... added some verbose flags and still none of that desired output.

[2018-03-01 05:47] minusdavid commented on #405
Upgraded pip from 8.1.2 to 9.0.1 and still nothing..

[2018-03-01 05:48] minusdavid commented on #405
Note that this is running on Ubuntu 16.04 LTS...

[2018-03-01 05:54] minusdavid commented on #405
If I use Pillow from the command line, it can tell that it's a TIFF file...

Hmm maybe a missing folder? I noticed that there are a large number of directories that setup.py doesn't auto-create...

[2018-03-01 06:05] minusdavid commented on #405
Manually made /var/cache/loris but nope...

[2018-03-01 06:07] minusdavid commented on #405
Hmm that was certainly related though... as I was getting some errors for that in the Apache logs and now I'm getting my info.json for that TIFF file showing up in /var/cache/loris....

[2018-03-01 06:08] minusdavid commented on #405
Errr but there's also a /var/cache/loris2 which seems to have been autocreated...

[2018-03-01 06:10] minusdavid commented on #405
Ah wait it was unrelated... just some configuration confusion on my part in regards to /var/cache/loris vs loris2...

Still can't get these TIFs to load via Loris though..

[2018-03-01 06:11] minusdavid commented on #405
Just saw this in the Apache logs...

TIFFReadScanline: scanline oriented access is not supported for downsampled JPEG compressed images, consider enabling TIFF_JPEGCOLORMODE as JPEGCOLORMODE_RGB..

[2018-03-01 06:11] minusdavid commented on #405
That comes up when I restart Apache...

[2018-03-01 06:12] minusdavid commented on #405
Hmm perhaps related to https://github.com/python-pillow/Pillow/issues/2926 ?

[2018-03-01 06:17] minusdavid commented on #405
Ha! That was it!

I tried using version 4.3.0 of Pillow since they mentioned it worked in that bug report and sure enough... after running "pip install Pillow==4.3.0", Loris will now render the TIF.

Cleared the cache in /var/cache/loris2, reinstalled Pillow 5.0.0, and nada. Error message once again.

Yikes...

[2018-03-01 07:45] MedievalMatt opened #406 "Is test.py deprecated?"
Hello,

I'm switching over my hosting and reinstalling Loris on the new environment. I noticed that the current version at /loris no longer has test.py, but the installation instructions still point to it as a necessary step. Moreover, when I copied test.py over to my new environment and ran it prior to setup the installation worked, but setup.py alone would not.  Is it intentional that test.py is

[2018-03-01 07:59] alexwlchan commented on #404
Yeah, that's odd. Thanks for the report!

Which commit/release were you trying to install from?

(Also, I'm amused that a "Module not found" error is issue 404…)

[2018-03-01 08:01] alexwlchan commented on #405
Okay, so it sounds like we should be stricter about the version of Pillow we support – and since Loris is an application, not a library, we should really provide exact, known, working pins.

Thanks for the report!

[2018-03-01 13:40] alexwlchan commented on #406
Which part of the installation instructions are you reading that mention `test.py`? I can't seem to find what you're looking at.

[2018-03-01 15:12] #405 closed, assigned to nobody

[2018-03-01 22:22] MedievalMatt commented on #406
Hi Alex,

Thanks for responding.  Going back and looking at the instructions it looks like the issue is not on the github directions directly, but on the page people are directed to if they’re having problems on Debian.

All best,
—Matt

[2018-03-01 22:33] alexwlchan commented on #406
Right, thanks. We should probably add a note to reflect the fact that it’s out-of-date then.

[2018-03-08 01:41] minusdavid commented on #404
Apologies for the delay.

I believe that would be for release 2.2.0.

(Hehe. That is amusing!)

[2018-03-12 07:58] abbas001 commented on #401
@alexwlchan, @bcail, I am going to develop TIFF multi-page support and PDF support for Loris image server using [Ghostscript](https://www.ghostscript.com/).

Please let me know, to get extra information in request which one is good for Loris architecture?

**`http://www.example.org/image-service/<file_path>,<page_number>/full/full/0/default.jpg`
`http://www.example.org/image-service/abcd1234.pdf,2

[2018-03-12 13:14] bcail commented on #401
@abbas001 Thanks for contributing. I think I would lean toward the second option, with page as a url parameter. That may be simpler, instead of having possible extra fields in the id section of the url path.

Might be good to keep ghostscript as an optional dependency.

@alexwlchan what are your thoughts?

[2018-03-12 13:46] alexwlchan commented on #401
I’ll insist on Ghostscript being an optional dependency.

Using the query parameter seems like a better approach to me, both for consistency with Cantaloupe, and for supporting identifiers with commas which aren’t multi-part resources.

There's an open ticket on the main IIIF org discussing this – https://github.com/IIIF/iiif-stories/issues/103 – but without a resolution.

[2018-03-12 15:28] abbas001 commented on #401
Thanks @bcail, @alexwlchan for you thoughts.

I will go with URL only.
[code]

I will make sure if someone willing to use PDF support then only Ghostscript being used. It will be optional by default.

Please suggest if any other library which is opensource and best in performance for PDF to image.

[2018-03-20 11:34] MedievalMatt opened #412 "dependency list not appearing"
Hello,
I'm returning to trying to install Loris on Ubuntu 16.0.4, and I'm having an issue with the instructions when it comes to installing Pillow.  I install the dependencies fine, but "sudo pip install Pillow" simply results in the package being collected and installed, with no expected list of dependencies. Is there a way to confirm the dependencies are linked other than through the pip install

[2018-03-20 14:08] alexwlchan commented on #412
Are you referring to this section of the install docs?

Pillow probably won’t install correctly if you don’t have the required dependencies, so if "pip install Pillow" succeeds, I think you’re okay. Can you paste your entire Pillow installation log?

If you want to manually verify everything was installed correctly, you can inspect your apt-get installed packages with:

[code]

[2018-03-20 14:45] MedievalMatt commented on #412
That's exactly the section I'm referring to.  I've installed the dependencies as the instructions indicate, they show up on `apt list --installed`, and just to be on the safe side I've reinstalled them again after confirming that PIL, Pillow, and python-imaging are uninstalled:

[code]

However, when I go to the next step and type `sudo pip install Pillow` this is all I get as a response:

[code]

[2018-03-20 17:03] bcail commented on #412
@MedievalMatt unfortunately, the docs need to be updated. Please try the following, instead of "sudo pip install Pillow":
sudo pip install Pillow==4.3.0
Does that help?

[2018-03-20 17:08] MedievalMatt commented on #412
Unfortunately, no.  I get this (I added --no-cache-dir to be sure it downloads in case the package is cached):

[code]

I haven't moved past this point to see if it works without the dependencies being displayed, as it didn't before.  Should I go ahead and do so?

[2018-03-20 17:13] bcail commented on #412
@MedievalMatt yes, go ahead and see if it works. It may be that Pillow's output has changed.

[2018-03-20 17:41] MedievalMatt commented on #412
Well, the setup ran, but failed on trying to install cryptography 2.1.4:

[code]
I may just need to see if I can copy the version I'm using on my livesite over and have it work until the instructions are updated.

[2018-03-20 18:29] bcail commented on #412
What was the command you were trying to run at the time? What was your version of python and pip?

It may be helpful to look at some other install scripts:
https://github.com/wellcometrust/loris-docker
https://github.com/Brown-University-Library/loris_install

[2018-03-22 23:41] alexwlchan opened #414 "Investigation into colour profiles with Kakadu/OpenJPEG"
These are some notes on colour profiles issues with JP2.

---

Our test suite has a JP2 image with an embedded ColorSpin profile. This is a screenshot taken in Preview.app on macOS 10.12, which correctly identifies and renders the profile:

![screen shot 2018-03-22 at 23 25 27](https://user-images.githubusercontent.com/301220/37803735-7293550a-2e28-11e8-822e-60307a812191.png)

We have tests for bo

[2018-03-22 23:52] alexwlchan commented on #414
Worth noting: I couldn’t find anything in the OpenJPEG docs explaining this behaviour, but I only did a cursory Google.

[2018-03-23 10:20] modou33 opened #415 "TypeError: function takes at least 3 arguments (1 given)"
Hello.

I've successfully installed and configured the last version of loris. When I query server for getting the info.json file of an image all work nice.
However all others query (exemple: <http://host/ ...>/full/224,/0/default.jpg) return and error 500. On the log I get this trace

[code]

For information, I'm working with Tiff files and:
Ubuntu 16.04
Python 2.7.12
Apache 2.4

Thank you for you

[2018-03-23 10:27] alexwlchan commented on #415
Please could you run `pip freeze` and paste the output here? Along with the contents of `loris2.wsgi`.

I’m particularly interested in your version of Pillow – I wonder if this is related to #405?

[2018-03-23 10:31] modou33 commented on #415
hello @alexwlchan thank your for you fast reply.

the content of pip freeze

[code]

the content of loris2.wsgi

[code]

thanks !

[2018-03-23 10:50] alexwlchan commented on #415
Okay, try running `pip install Pillow==4.3.0`, and see if you can still reproduce the error. I think this is an issue in Pillow 5.0.0.

If that works, can you tell me which bit of the docs you were reading that led you down this install path? Sounds like we need a warning there!

[2018-03-23 12:06] modou33 commented on #415
By installing Pillow 4.3.0 it works nice when I query a jpeg image
However, when I query a tiff file I still get an error 500 with the trace below

[code]

the tiff files are tiled pyramidal. There are builded from jpeg file by using imageMagick with this type of command:
`
convert s -define tiff:tile-geometry=256x256 -compress jpeg 'ptif:o.tif'`

thanks !

[2018-03-23 13:05] bcail commented on #415
@modou33 could you please post the info.json file for this image, and the IIIF URL you're hitting when you get this error?

[2018-03-23 14:22] modou33 commented on #415
The info.json is

[code]

Except the info.json all other IIIF query fail with an error 500. For exemple:
`
<image id>/full/full/0/default.jpg`

thanks !

[2018-03-23 20:25] bcail commented on #415
Maybe Pillow can't handle tiled pyramidal tiffs? @modou33, if you'd be interested in looking into this more, and even submitting a PR to add support, that'd be great. Otherwise, at least we have this issue as a feature request.

[2018-03-23 21:24] alexwlchan commented on #415
This looks like a likely candidate for the "ValueError: tile cannot extend outside image" in 4.3.0: https://github.com/python-pillow/Pillow/issues/3044

The TypeError looks like it might just be a Pillow bug. I’ll file it against the Pillow repo.

[2018-03-23 21:37] alexwlchan commented on #415
I’ve raised https://github.com/python-pillow/Pillow/issues/3053 to track the TypeError, which looks like another bug in Pillow 5’s handling of TIFs. (See also: #405 and https://github.com/python-pillow/Pillow/issues/2926.) That includes a test image that we can use in the Loris test suite, if necessary.

I’m unable to reproduce the ValueError with my test image, so maybe there’s something else at

[2018-03-26 09:08] #415 closed, assigned to nobody

[2018-04-07 08:48] Sozialarchiv opened #417 "How to set maxWith?"
What is the best way to set the maxWith like in the example above:

https://iiifauth.digtest.co.uk/img/10_babel.jpg/info.json

Which file I have to change? Can I do it in the loris2.conf?

[2018-04-09 18:13] alexwlchan commented on #417
Do you want to set maxWidth as a constant, or as a proportion of the overall image width?

If the latter, then yes, you can set it in `loris2.conf`.

[2018-04-10 09:45] dpancic opened #418 "Problem with transforming 32 bit png images to jpeg"
The PNG Transformer cannot transform 32 bit png images to jpeg.
Transforming 24 bit png images to jpeg works fine.
Tested on Ubuntu 16.04 with Loris 2.1.0-final and with Loris v2.3.1

A snippet from the log file generated by Loris when trying to transform 32 bit png image to jpeg.

[code]

[2018-04-10 09:49] alexwlchan commented on #418
Can you share a bit more of the log? In particular, I don’t actually see any error here. What happens if you try to request a 32-bit PNG as JPEG?

[2018-04-10 10:04] dpancic commented on #418
A snippet from the log file generated by Loris when transforming **24 bit png** image to jpeg:

[code]
Link to successfully transformed 24 bit png image:
https://loris.minerva.arz.oeaw.ac.at/uuid:/uuid/2f2ab612-fe1b-72cf-e38f-78d567021110/full/full/0/default.jpg

A snippet from the log file generated by Loris when trying to transform **32 bit png** image to jpeg:

[code]
Loris log level is set to

[2018-04-10 10:08] alexwlchan commented on #418
Ah, so the log just stops? Okay, that’s interesting.

[2018-04-10 10:12] dpancic commented on #418
Yes, it stops and does not return errors. It seems that Pillow Python Library cannot handle request if 32 bit png image is used.

[2018-04-10 13:00] alexwlchan commented on #418
Also, which version of Pillow are you using?

[2018-04-10 13:04] alexwlchan commented on #418
Hmm. Pillow itself doesn’t seem to have an issue with 32-bit PNGs. The following code produces a sensible result, in both Pillow 4.3.0 and 5.0.0. Investigating further…

[code]

[2018-04-10 13:38] dpancic commented on #418
In our case Pillow-5.1.0-cp27-cp27mu-manylinux1_x86_64 is used. We tried to downgrade it to 5.00 and 4.3.0 but it did not helped.

[2018-04-10 13:41] alexwlchan commented on #418
So the exact error comes when Loris tries to write the image as JPEG:

[code]

Looks like we have a bug in the colour profile conversion somewhere.

[2018-04-10 13:43] alexwlchan commented on #418
Okay, the 32-bitness of the image is a red herring, this seems to be a bug in the handling of _all_ PNGs with transparency.

[2018-04-10 14:31] Sozialarchiv commented on #417
Thnak you very much for your anwser.

The first one: I want to set a constant maximum size width for all images.

[2018-04-11 09:34] alexwlchan commented on #418
@dpancic The bugfix is now released as version 2.3.2. I tested with your example image – please check it resolves your issue, and let us know if not.

Thanks for your report!

[2018-04-11 12:12] dpancic commented on #418
Thank you. I tried to update Loris to 2.3.2 but after update it does not work at all.
Here is what setup.py  returned:

[code]

[2018-04-11 13:53] bcail commented on #418
Can you try updating pip/setuptools/wheel?
https://github.com/python-pillow/Pillow/issues/2819#issuecomment-340738471

[2018-04-12 08:00] dpancic commented on #418
Thank you.
After updating pip/setuptools/wheel Loris v2.3.2 is installed without errors but transformer still does not work at all. I tried with Loris v2.3.0, v2.3.1 and v2.3.2 and it did not worked.
Error log level is set to DEBUG but it does not show errors and returning just this:

[code]
Last version that works (but partially because it does not support transparent png converting to jpg) is Lo

[2018-04-12 09:03] netsensei opened #420 "Loris on Debian "Jessie" 8: errors during installation"
I've successfully installed Loris on Debian "Jessie" 8 following the installation instructions. But it didn't went smoothly: I encountered several errors along the way.  I posted my experience on Twitter and @azaroth42 asked me to drop this here.

This is a quick 'n dirty step by step list of actions I performed to get Loris running.

## Setup

I'm doing this in a Vagrant/Virtualbox setup with som

[2018-04-12 17:00] bcail commented on #418
I tried going to that link you posted, and I got a 500 error. There should be an error (or even a traceback) in the logs. Check in your apache logs, or whatever http or application servers you're running (I know you said there's nothing in the Loris log).

[2018-04-12 17:01] bcail commented on #420
@netsensei Thanks for posting this information! We should incorporate it into the Loris documentation. Feel free to submit a PR.

[2018-04-13 06:49] dpancic commented on #418
Loris v.2.3.2 is running and can be reached on: https://loris.minerva.arz.oeaw.ac.at/
Apache log file does not contain errors.

Cache config in loris conf is:

[code]
and resolver cache config is:

[code]

When image is opened in a web browser: https://loris.minerva.arz.oeaw.ac.at/uuid:/uuid/53461a64-51f2-517e-c9f4-16b8dae4eea9/full/full/0/default.jpg

Loris creates following directories and files

[2018-04-13 13:37] bcail commented on #418
I just went to https://loris.minerva.arz.oeaw.ac.at/uuid:/uuid/53461a64-51f2-517e-c9f4-16b8dae4eea9/full/full/0/default.jpg and got a 500 error. How are you running loris? Are you using passenger, or mod_wsgi? Are you using docker? Could you please fill in some more details about your server configuration?

[2018-04-13 14:26] dpancic commented on #418
As I already tried to explain Loris does not create uuid:/uuid/53461a64-51f2-517e-c9f4-16b8dae4eea9/full/full/0/default.jpg

That is the reason why you can not get it in a browser.

I am using Ubuntu 16.04  and Apache mod_wsgi

53461a64-51f2-517e-c9f4-16b8dae4eea9 is 32 bit png with alpha chanel:
https://arche.acdh.oeaw.ac.at/browser/oeaw_detail/aHR0cHM6Ly9hcmNoZS5hY2RoLm9lYXcuYWMuYXQvcmVzdC85Mi9j

[2018-04-13 14:32] bcail commented on #418
What I'm trying to get at is the traceback for the 500 error, if Loris is crashing (or at least the exception that's being thrown). Maybe Loris crashes before it can create the missing uuid dir. Are you able to bump up the Apache or mod_wsgi logging, so that it logs a traceback if Loris crashes?

[2018-04-13 14:42] bcail commented on #418
Here's a link about mod_wsgi debugging:
https://modwsgi.readthedocs.io/en/develop/user-guides/debugging-techniques.html
There's information there about the Apache error logs. Are you able to update your system so that the traceback is put into the Apache error log?

[2018-04-16 07:13] dpancic commented on #418
After setting Apache LogLevel to info Apache returned following errors:

[code]

[2018-04-16 17:40] bcail commented on #418
Thanks. That looks like old Loris code. The directory is "Loris-2.0.0-py2.7.egg", and the line number in webapp.py doesn't match Loris 2.3.2. Could you please double-check that you're running Loris 2.3.2?

[2018-04-17 08:12] dpancic commented on #418
Thank you. You're right. In my last atempt I forgot to replace Loris 2.1.0-final. After replacing Loris 2.1.0-final by v2.3.2 I could not execute setup.py install. It returned errors related to lines 17 and 18.

[code]
Problem is solved by switching from python2 to python3 and by using pip 9.0.3
setup.py install does not work with the latest pip ==10.0.0

Now transformation from png to jpeg works

[2018-04-17 08:12] #418 closed, assigned to nobody

[2018-04-17 08:13] alexwlchan commented on #418
Ah, that’s a good point – pip 10 moved all the internal APIs around. I’ll have a look, thanks for the report!

[2018-04-17 08:17] alexwlchan opened #421 "setup.py can't be run with pip 10"
We have these lines in our setup.py:

[code]

but pip 10 deliberately removed all these internal APIs. We should remove them, and find an alternative way to specify requirements.

[2018-04-18 18:34] captmiddy opened #422 "Basic LRU features for Loris Cache"
As we are moving toward implementation in production, one thing we noticed is that using the standard cache management features, we would be deleting things that are used and leaving behind things that aren't based on timing.  The current method by which items are retrieved does not touch cached objects to make them appear current.  What I am wondering is if it would make sense to have the cache r

[2018-04-18 19:30] alexwlchan commented on #422
What are you using to clear the cache?

We provide a couple of scripts in the `bin` directory, which both use access time, not modified time, to determine which items to purge first – so I don’t think they’d be affected by this issue?

You configure them with a max disk size you want to use, and then cache items are deleted, last accessed first, until you get under that max size.

https://github.c

[2018-04-19 12:42] captmiddy commented on #422
Actually I went back to your original code base and put in our adjustments and it works now.  The original mount I had wasn't supporting atime from find.  I have since moved to Ubuntu for the platform and it is fine now.  I think this can be marked down as user error and you can close it out. Thanks.

[2018-04-19 12:44] alexwlchan commented on #422
Okay, glad you got it sorted!

[2018-04-19 12:44] #422 closed, assigned to nobody

[2018-05-10 20:05] nmaekawa opened #423 "config max size of image to be served?"
I wonder if there's some way to restrict loris from serving the full image for requests like /full/full/0/default.jpg.

We have very large images and when we get these full image requests, loris fulfills it but the presenter (in our case mirador) hangs and doesn't display anything.

I've found the "max_size_above_full" but that doesn't fit our case.

Is there a workaround?

[2018-05-15 19:16] bcail commented on #423
@nmaekawa I don't think there's a way to keep Loris from serving the full image (let me know if you find one). However, one option is you could generate derivatives that aren't as large, and have Loris work with those.

[2018-05-15 20:24] nmaekawa commented on #423
@bcail thanks for your response.

i understand that some folks implement this outside loris as sometimes the image size depends on authorization and wonder if there are examples to poke on.

this thread [1] discuss the problem we have: really huge images that allow deep zoom in mirador. What I took from it is that we should provide available sizes[3] the client can request in the info.json (relate

[2018-05-15 20:52] bcail commented on #423
@nmaekawa It looks like your request is supported by the maxWidth/maxHeight/maxArea parts of the spec: http://iiif.io/api/image/2.1/#profile-description. Unfortunately, we don't currently support those in Loris. PRs are welcome, or maybe we will add support in the future.

[2018-05-17 15:05] nmaekawa commented on #423
@bcail ah i saw that in 2.1... i might be able to have a pr in the future, but for now i guess i'll have to have some kind of gateway in front of loris.

i'm ok with this issue, do you want me to close it? or leave it in case anyone has the same problem?

thanks!

[2018-05-17 15:12] bcail commented on #423
Let's leave it open, until we add support for maxWidth/maxHeight/maxArea in Loris.

[2018-05-17 16:43] nmaekawa commented on #423
@bcail how do you see this being implemented? there would be something like a MAX_CVT config and then loris calculates the maxWidth/maxHeight/maxArea to add to the info.json?

and to clarify, info.json is always generated on the fly (then cached), from the image requested? I saw that there is non-iiif auth related props that can be added to info.json and wondered if it should be possible to add ot

[2018-05-17 18:40] jpstroop commented on #423
If it helps, we added an algorithm for calculating the maximum size available in the 3.0 implementation notes: http://iiif.io/api/image/3.0/implementation/#4-maximum-size-calculation

(3.0 has not been published yet, but this algorithm would be the same for 2.1.x)

[2018-05-21 10:26] minusdavid opened #424 "Packaging Loris for Debian/Ubuntu"
I'm currently looking at packaging Loris for Debian/Ubuntu, and I'm having some ups and downs. I've managed to build a Debian package that contains the same files as /usr/local/lib/python2.7/dist-packages/Loris-2.2.0-py2.7.egg/loris, but that's after hacking on the setup.py file a bit.

I'm not a Pythonista by nature, but I was looking at https://docs.python.org/2/distutils/setupscript.html#instal

[2018-05-22 01:10] minusdavid commented on #421
I ran into this little chestnut yesterday...

I changed the lines to the following as a workaround:
[code]
But obviously that's not a real solution.

[2018-05-22 01:22] minusdavid commented on #424
I did some reading last night which said that "data_files" wouldn't work for putting files into places like /etc and /var, but I just added data_files to setup.py and it worked for the sake of Debian package building...

[2018-05-22 03:39] minusdavid commented on #424
It's actually really interesting going through the setup.py file. I'm on an old version now (2.2.0) as that's the version that I've been working with... but there's lots of stuff that could be improved.

[2018-05-22 04:26] minusdavid commented on #315
I reckon that Loris's setup.py could use a bit of an overhaul. The way it installs most of its files is horrifying.

Running "pip install loris" would be nice.

I'm working on creating Debian packages for Loris and it would be pretty easy to do if setup.py's run() function didn't install things directly to the file system.

[2018-05-25 17:54] bcail commented on #423
thanks @jpstroop. @nmaekawa, would it work to allow MAX_HEIGHT, MAX_WIDTH, and/or MAX_AREA constants in the Loris config, and then generate correct info.json (sizes) data based on any of those constants that are present?

[2018-05-25 17:55] bcail commented on #424
@minusdavid PRs welcome. :)

[2018-05-29 13:21] #421 closed, assigned to nobody

[2018-05-31 00:38] minusdavid commented on #424
I'm thinking about it, although I can't imagine most people would like the result as it would mean a two-step installation process? It seems to me setup.py is suited for modules/libraries rather than applications, but I see the utility in just running "./setup.py install" :/.

[2018-05-31 00:39] minusdavid commented on #424
Although if I did make those functions install things relative to the installation root... maybe that's the key in terms of packaging vs setup.py/pip installs...

[2018-05-31 00:39] minusdavid commented on #424
Actually I wonder if that would be better for pip installs too with the --user flag...

[2018-06-01 15:15] captmiddy opened #426 "GIF as Source Format"
I am wondering if there is a reason GIF as source format isn't permitted, and if it would be acceptable to provide a pull request to add GIF as a source format.  We identified that we have a couple dozen GIF images in our repository and will need a way to deliver them as well.  The change represents about 3 lines adjusted in code and 2 lines added to loris2.conf.

[2018-06-05 08:52] minusdavid commented on #424
I don't have time to work on this at the moment, but my work-in-progress is available at https://github.com/minusdavid/loris/tree/debian_packaging.

Basically, it adds a debian/ directory, a build.sh for building packages, and a modified setup.py which prevents the majority of the installation really beyond installation the Loris Python source code in a package build root.

I've got this building

[2018-06-05 08:53] minusdavid commented on #424
For now, I think I'm just going to script the install of Loris using Ansible, but I really like the package idea.

[2018-06-06 15:06] bcail commented on #426
@captmiddy Feel free to submit a PR to add GIF as a source format. Please add a test as well.

[2018-06-07 14:37] alexwlchan commented on #426
I’m about to need GIF support for another project, so I might get to it first unless you want to work on it @captmiddy?

[2018-06-08 15:15] captmiddy commented on #426
The code is already complete in my fork of this, we already have it in our development environment and plan to release to production in a couple weeks.

I am looking at the tests and what I can find is info test cases but nothing that actually tests a format transforms and is delivered.  Am I missing some test cases in my quick scan of the code?

[2018-06-18 19:35] alexwlchan opened #429 "Add support for IIIF Image API 3.0"
After some discussions with Tom Crane in Slack, it looks like the changes we’d need to make for adding V3 support aren’t as big as I feared:

http://iiif.io/api/image/3.0/change-log/

I think it would be worth adding this at some point, and allowing Loris to serve one and/or both flavours of the API. This issue tracks thinking about how we’re going to do that!

[2018-06-20 11:11] tomcrane commented on #429
Related: https://github.com/IIIF/api/issues/1616#issuecomment-395156683

(pixels returned are the same, but see https://github.com/IIIF/api/issues/1616#issuecomment-395160584)

Possible approach for **image information document** (not a recommendation, just noodling):

Loris is configurable as to whether it serves the v3 or v2 document in the absence of other information. Assume (as is very likely

[2018-07-20 20:35] martinlovell opened #431 "Break up Image and Info cache into more directories"
Currently the image and info cache create a directory per ID in the root of the cache (after the protocol) in ImageRequest.cache_path and InfoCache._get_info_fp/_get_color_profile_fp.  This could cause performance problems with some file systems because of many entries in one directory.

The implementation could optionally split the entries into more directories by doing something like SimpleHTTPR

[2018-07-20 21:04] jpstroop commented on #431
FWIW (and if I recall correctly), the cache used to be a pairtree-like
structure, but that was changed for some reason. Might be worth poking
through old issues/commits to see why.

[2018-07-23 11:31] onbcst opened #432 "Inconsistent handling of special characters"
Special characters in the path to an imge are not handled the same way if a) the `info.json` for that file is requested or b) an actual image using iiif syntax (e.g. `full/full/0/default.jpg`) is requested. For the first case _loris_ returns the valid `info.json` for that image resource. For the latter case _loris_ does not correctly resolve the folder structure and therefore returns `Not Found: c

[2018-07-23 15:02] bcail commented on #432
@onbcst yes, we handle images and info differently in webapp.py. Seems like it would be good to have a consistent matching of identifiers, whether it's for an image or info.json. Feel free to submit a PR if you want.

[2018-07-30 17:43] #432 closed, assigned to nobody

[2018-08-29 07:21] minusdavid commented on #367
A diskless Loris would be awesome

[2018-08-29 07:26] minusdavid opened #434 "bin/loris-http_cache_clean.sh is out of sync with etc/loris2.conf"

[2018-08-29 07:29] minusdavid commented on #434
Although etc/loris2.conf is also out of sync with the defaults provided in setup.py...

[2018-08-29 15:13] bcail commented on #434
@minusdavid PRs are welcome. It would be nice to have anything referencing the various directories look at one place for those directories to be defined.

[2018-08-30 08:38] minusdavid commented on #434
I'm super busy at the moment, but this will certainly be on my mind when I hopefully have more time in a month or so.

[2018-11-07 19:16] regisrob opened #435 "Clarify the use of virtualenv in loris.wsgi"
This is not a bug, and it is something that's totally obvious for anybody using Python, but it seems to me there is something inconsistent in loris.wsgi (as it is generated [here](https://github.com/loris-imageserver/loris/blob/development/setup.py#L169)): if you are installing Loris inside a virtualenv, and thus you uncomment the two lines of code as indicated in the comment, it is obvious that y

[2018-11-08 05:58] AK-Bharath opened #436 "@id value in info.json point to different ipaddress"
Hi There,

My iiifserver ipaddress is `54.252.92.17` and info.json path is `http://54.252.92.17/iiif/417ab3b4-7452-4f7e-a59f-edd068693938/info.json` and its contents are

[code]

here id is pointing to different ip address http://54.252.86.234
but my application runs on http://54.252.92.17
and info.json path is http://54.252.92.17/iiif/417ab3b4-7452-4f7e-a59f-edd068693938/info.json

secondly I get

[2018-11-08 08:23] alexwlchan commented on #436
Can you share your `loris2.conf` file? I wonder if you’ve set the `proxy_path` setting to that of your demo machine? That would cause the behaviour you’re seeing.

Specifically, config a bit like this:

[code]

because that setting is used to populate the `@id` value in the info.json file.

[2018-11-08 22:56] AK-Bharath commented on #436
Hi There,
      Thanks for your response.  
It fails for only a few images and a few images are working properly.
nginx.conf details
////////########/////////
upstream iiifserver {  server unix://tmp/iiifserver.sock;}
server {  listen      80 default_server;  charset     utf-8;  client_max_body_size 5M;
  location / {    if ($arg_download) {      add_header Content-Disposition 'attachment; filenam

[2018-11-09 00:19] AK-Bharath commented on #436
Hi Alex,
       Thanks for your time and help.  I had fixed this. the reason for this issue is, it is not picking the environment variable.  I had set the environment variable and restarted it  Then it started working.
Thanks for your time and help.
With Many thanks, 
Bharath AK
   ----- Forwarded message ----- From: A K Bharath <ak_bharath@yahoo.in>To: loris-imageserver/loris <loris@noreply.githu

[2018-11-09 07:20] alexwlchan commented on #436
Glad you got it working! 🎉

I’ll close this issue now – create a new issue if you have any other problems.

[2018-11-09 07:20] #436 closed, assigned to nobody

[2018-11-22 12:08] heacu commented on #404
just to say, this happened exactly as described above by @minusdavid to me as well, installing from latest commit https://github.com/loris-imageserver/loris/commit/e8881f6fefc5eb7ceb69dc311003c00127c491c1

[2018-12-19 17:57] bptarpley commented on #154
I realize how having spaces in filenames is less than ideal, but we aren't always in control of our customers' file naming habits. Currently, Loris is unable to find files with spaces in the identifier. This is not the case with Cantaloupe. We switched from Cantaloupe to Loris because of Java stability issues in Docker, and haven't looked back. Any chance of revisiting this issue?

[2018-12-21 10:28] alexwlchan commented on #154
I’m going to have a look at this ~today~ after Christmas. (Sorry, I’m meant to be on my break, and this is a bigger patch than I originally thought!)

Really the resolvers shouldn’t be doing any URL quoting – that should be handled by the web app and they just get the “pure” identifier.

[2018-12-28 12:20] abbas001 opened #438 "EXIF Image Orientation flag is not handle"
iPhone taken photo which having **Exif.Image.Orientation** is showing wrongly, but when viewing in any other image viewer its showing correctly.

![iphone](https://user-images.githubusercontent.com/778502/50514828-d2ec1380-0ac6-11e9-84b2-5a7c7ff5e6ef.JPG)

[Click here to view the image](https://user-images.githubusercontent.com/778502/50514828-d2ec1380-0ac6-11e9-84b2-5a7c7ff5e6ef.JPG)

[2019-02-11 17:53] bcail opened #444 "Install process/documentation"
The installation process/documentation has some issues, as we can see from Issues #434, #435, #424, #420, #412, #404 (and maybe others).

We have the [loris-docker](https://github.com/loris-imageserver/loris-docker) repo, but it's for development, and not well-maintained.

There is also [another docker image](https://github.com/bodleian/loris-grok-docker), but it's also not very current and is for

[2019-02-15 10:31] alexwlchan commented on #444
We also have a Docker image in use at Wellcome (see https://github.com/wellcometrust/storage-service in the `loris` directory, although I hope to move it out into its own repo soon).

I would start with a good spring clean of the docs (as well as those issues, we have a bunch of undocumented settings) – most people won't want a development environment if they just want to use a vanilla Loris, and

[2019-03-02 14:49] ericvanderlinden opened #446 "Loris not creating tmp file"
I have installed Loris according to the documentation. Everything seems to be fine exept I get a
Internal Server Error (500) because a temp should be created and it is not created.
I'm on Ubuntu 18.

I have searched via google for reports of similar errors but nothing.

Any ideas?

[code]

[2019-03-03 19:53] alexwlchan commented on #446
This looks like a straight-up bug – we assign a temporary directory from the `loris.Loris.tmp_dp` config setting, but never do anything to check the directory exists or that we can write to it!

You should be able to fix this by running `mkdir -p /tmp/loris2/tmp` on the system that’s running Loris. I’ll have a look at writing a patch so that Loris handles this automatically.

[2019-03-04 12:23] ericvanderlinden commented on #446
It is always a good ideas to do the checking, but in this case the tmp directory in /tmp/loris2 did exist.

[2019-03-04 12:28] alexwlchan commented on #446
Okay, that’s weird. There might be a problem if Loris didn’t have permissions, say, but then I’d expect to see a different error coming out.

[2019-03-04 12:31] ericvanderlinden commented on #446
Wel I put the permissions on 777 just to make sure... but I still get the same error.

[2019-03-07 11:39] ericvanderlinden commented on #446
You closed this with a solution to a problem I did not have.
So I think I must conclude from this you have no ideas...

[2019-03-07 11:41] alexwlchan commented on #446
It got closed automatically by GitHub. I take it you’re still seeing this error?

[2019-03-07 11:47] ericvanderlinden commented on #446
Yes. I was about to rewrite the function in webapp.py to create a temp file bypassing the python module. To see if the problem is python NamedTemporaryFile.

[2019-03-07 14:04] ericvanderlinden commented on #446
Does Loris keep versions of webapp.py somewhere in a cache? I have tried to change some line of code to see what would happen. And now it seems like I get a different response every time I reload.

To be honest... I think I'm going to give up... Maybe there is some problem with Ubuntu 18.04...
and temp files....

I deleted temp_file = NamedTemporaryFile( ...
And created a new binairy file with ope

[2019-03-07 14:27] bcail commented on #446
@ericvanderlinden could you try using a different tmp directory? Maybe try setting the tmp directory to be in your home directory, and see if anything changes. Is /tmp a normal directory on /, or is it mounted somehow?

[2019-03-08 08:44] ericvanderlinden commented on #446
I changed the temp directory to  
/home/loris/tmp

What happened was that as I kept reloading the image Loris seemed to hope from one version of the loris.config and webapp.py to the other, but did not use the latest version.
 The reason I was puzzled by this behavior is that I have never experienced this before and I have been using a Leaseweb virtual server  for the last 4 yours.

This morning I

[2019-03-08 14:23] bcail commented on #446
@ericvanderlinden does "mount | grep /tmp" return anything on the machine?

[2019-03-15 14:18] ericvanderlinden commented on #446
Sorry I have been away.
Mount | grep /tmp
returns  nothing.

[2019-03-15 16:21] bcail commented on #446
@ericvanderlinden can you confirm that you can create a file in /tmp as the loris user? If it works using "touch /tmp/test", maybe you could try with a tiny python script like this:

[code]

Does it create the file there?

[2019-03-25 13:11] ericvanderlinden commented on #446
I logged in as loris.
cd /tml
I started nano and created a file test.txt
This was successful.
Then I create a directory
mkdir loristest
This was successful as well

I hope this answers your question

[2019-03-25 15:43] bcail commented on #446
ok, that shows that the Loris user can create files/directories in /tmp. You could try the little python script if you want. I'm not sure why the Loris code can't create files, when the loris user can.

[2019-04-23 17:59] bcail commented on #315
@alexwlchan @minusdavid any thoughts on how to address setup.py writing directories to the filesystem? I would like to be able to do a "python setup.py install" without being the loris user. Here are some possibilities I see:
1. Stop creating the directories completely - users would just be responsible for creating required directories/config files themselves.
2. Add a separate script that gets in

[2019-04-23 18:08] bcail commented on #315
Here's an example that lets you echo the conf file (and cat to a file if you want): https://github.com/Supervisor/supervisor/blob/master/setup.py#L91

[2019-04-25 14:57] bcail commented on #315
I have a Draft PR #449, for splitting up the package install and the initialization commands. setup.py would handle the code install, and then the commands would be available for the user to run if desired. Feel free to leave feedback.

[2019-04-25 15:20] bcail opened #450 "Drop python2 support in development?"
Python 2 is going EOL on 1/1/2020. Are there any concerns with dropping Python 2 support in the development branch now? Of course all the releases up till now still work with Python 2, and will continue to be available...

[2019-04-27 09:25] minusdavid commented on #315
It's been a while since I've done much with Loris, and I'm not a Python expert nor am I a PyPI expert, so I'm probably not the best person to ask.

I'm mostly familiar with creating Debian packages and RPM packages for Koha, which uses a Makefile generated by Makefile.PL.

You can read more about how Debian packages are created from Koha source code at the following:
http://git.koha-community.org/

[2019-04-27 09:36] minusdavid commented on #315
Looking at the following, it looks like you can specify a prefix and (maybe) a root directory...

https://stackoverflow.com/questions/4740473/setup-py-examples
https://docs.python.org/2/install/#how-installation-works
https://docs.python.org/2/install/#alternate-installation-unix-the-prefix-scheme

This is kind of interesting regarding Python and packages...
https://docs.python.org/3/distutils/bui

[2019-04-27 09:38] minusdavid commented on #315
You can see the Koha Makefile.PL (the Perl equivalent of a Python setup.py I suppose) at http://git.koha-community.org/gitweb/?p=koha.git;a=blob;f=Makefile.PL;h=ce323ef163a50db1162f3ef08354e885e8f07628;hb=HEAD. Pay close attention to INSTALL_BASE

[2019-04-27 09:40] minusdavid commented on #315
Going to look at that PR now...

[2019-05-21 13:42] lguariento opened #451 "Deploying Loris with nginx"
Hello, are there ay instructions for nginx? Apache and Docker are there, it'd be great if there was some information about nginx too. Thanks!

[2019-05-21 14:08] bcail commented on #451
@lguariento a PR to add those instructions would be welcome. (Note: loris is just a regular WSGI app, so instructions for deploying a WSGI app with nginx should help with loris as well.)

[2019-05-22 03:20] DaveGeneral commented on #232
same error, have you solved it?@mmcclimon

[2019-05-22 12:59] bcail commented on #232
@DaveGeneral which version of Python & Loris are you using? Looks like this bug was with Loris 2.0.0 and Python 2.7, and I'd suggest using newer versions of both.

[2019-05-22 19:29] alexwlchan commented on #450
More than happy to!

[2019-05-22 19:32] bcail commented on #450
Great, I'll plan to submit a PR dropping py2 CI testing.

[2019-05-22 19:32] #450 closed, assigned to nobody

[2019-05-22 19:32] alexwlchan commented on #450
While we’re at it, let’s target a fairly modern Python 3 – we still have Python 3.4 in our Travis matrix, even though it’s EOL as well.

[2019-05-25 13:34] ericvanderlinden opened #454 "Loris https and caching"
Could there be any reason for Loris to stop caching when we move to https?

If not, what could, in general, be the reason for Loris to stop caching.

[2019-05-25 13:37] ericvanderlinden opened #455 "resolver configuaration"
in your document resolver.md you suggest to use:
source_suffix='/datastreams/accessMaster/content'

What does that do?
There is no information in the documentation.

[2019-05-27 22:18] alexwlchan commented on #454
I can’t think of a reason.

All the caching that Loris does happens before the HTTP/HTTPS layer, specifically:

* It caches the original, full-resolution images from the source
* It caches the processed (cropped, rotated, resized, etc.) images that are sent to the client
* It caches the image info (resolution, colour profile, etc.)

I don’t think any of those would be affected by Loris running in

[2019-05-28 08:39] ericvanderlinden commented on #454
No unfortunately not hypothetically. Moving to HTTPS and Loris stop caching happened at the same time. It also stopped logging except for a couple of hours on Saturday and a couple of minutes on Monday.
No error messages in Apache error log, no entries in loris access log. And suddenly two directories created in cache named  88 and b7.
I tested writing files and making dirs as user loris in tmp an

[2019-05-28 09:31] ericvanderlinden commented on #454
Well thanks for the comments. Back on HTTP. There must something wrong in HTTPS configuration. Maybe the mixed environment. At least the logging is back.

There is a 303  redirect I do not understand. I saw that before. Any ideas why that happens. It seems to trick Loris in not finding the resource. The resource is definitely there.

2019-05-28 09:21:50,296 (urllib3.connectionpool) [DEBUG]: http:/

[2019-05-28 14:04] bcail commented on #455
Hi @ericvanderlinden. Here's how that SimpleHTTPResolver works: loris takes the ID of an item, and then it needs to know how to construct a URL to retrieve the master image (if the ID isn't already a URL). So there are two options you can configure:
source_prefix='https://<server>/fedora/objects/'
source_suffix='/datastreams/accessMaster/content'

The source prefix is the first part of the URL, wh

[2019-05-28 14:34] ericvanderlinden commented on #455
So in this case "/datastreams/accessMaster/content" would function as extra info you need to process the image.
But my URLs would be domain/loris/image/01/image.jpg
Then image/01/image.jpg is the ID...

Is that possible?

[2019-05-28 14:36] ericvanderlinden commented on #454
I think after looking around in the resolver and webapp I think this 303 also happens after the caching.
So something goes wrong with getting the ID of the file and creating the directories in the cache.

[2019-05-28 14:43] bcail commented on #455
Sure, that should work. So in that case, you would leave the source_suffix as '', since the ID includes the last part of the URL.

What kind of external system is Loris pulling the images from via HTTP? Is it some kind of Fedora install?

[2019-05-28 14:56] ericvanderlinden commented on #455
No, it is very simple Ubuntu file system at the moment. So the images are stored in "/usr/local/share/images/".

So maybe the SimpleFSResolver would be better. I switched because I could not find a way to work with the FS resolver and a domain name. I could only work with the IP address of the server.

I'm working on a proof of concept. It is not really about iiiF as such, more about what you can

[2019-05-28 15:04] bcail commented on #455
Yes, you want SimpleFSResolver for this, not SimpleHTTPResolver, which is only for pulling the images from an external system via HTTP. So you can ignore the SimpleHTTPResolver config options. Is your SimpleFSResolver issue covered in your other issue? If not, please open a new issue with your SimpleFSResolver problem.

[2019-05-28 15:08] ericvanderlinden commented on #455
I'll have a new look at the whole matter. What I know now my issue seems to be to use a domain name with the FS resolver. I will close both issues and open a new one if necessary.

Thank you for your patience. :)

[2019-05-28 15:09] #454 closed, assigned to nobody

[2019-06-05 12:16] ericvanderlinden commented on #455
I was under the impression that the HTTP resolver worked because I the images that were in the cache showed up in the site. But new images were not cached and I started looking for a reason this was not happening. When I deleted the cache the images that were working suddenly stopped working and did not come back.

I did not understand the use of the FS and the HTTP resolver.

From your comments I

[2019-06-05 12:16] #455 closed, assigned to nobody

[2019-06-05 16:58] lguariento opened #457 "configobj.InterpolationLoopError: interpolation loop detected in value "PATH"."
I want to deploy Loris with Nginx and uWSGI. This is my loris.wsgi:

[code]

And this is the error I get:

[code]

What am I missing? Thanks.

[2019-06-05 17:13] bcail commented on #457
@lguariento see https://configobj.readthedocs.io/en/latest/configobj.html#string-interpolation - it talks about the InterpolationLoopError. Check the value of your PATH environment variable, and try printing out app_configs on line 323 of loris/webapp.py.

[2019-06-05 17:27] lguariento commented on #457
Sorry for the stupid question: how do I do that?

`self.logger.debug('Configs are %s', app_configs)` doesn't seem to print out anything.

[2019-06-05 17:28] bcail commented on #457
You could try using a print() statement, and see if you can view the output that way.

[2019-06-05 17:29] lguariento commented on #457
That was the first thing I did:

[code]

doesn't seem to do anything at all :/

[2019-06-05 17:32] bcail commented on #457
you're using docker, right? That may be a docker question. But you could also try going back to the self.logger statement, but use self.logger.error() instead of debug. It could be that debug logger output is suppressed.

[2019-06-05 17:32] lguariento commented on #457
This is my `echo $PATH` by the way:

[code]

[2019-06-05 17:33] lguariento commented on #457
No, I'm not using docker. And no luck with `self.logger.error()` either, unfortunately.

[2019-06-05 17:34] bcail commented on #457
ok, try removing your "$PATH" and $JAVA_HOME values from PATH.

[2019-06-05 18:15] lguariento commented on #457
Great, that worked, thanks! I don't get any error now. But the webserver is not showing when I go to :8888.

[2019-06-05 18:22] bcail commented on #457
Great. Could you please close this issue, and open a new one with the new problem?

[2019-06-05 18:37] lguariento commented on #457
OK, will do!

[2019-06-05 18:37] #457 closed, assigned to nobody

[2019-06-05 18:45] lguariento opened #458 "--- no python application found, check your startup logs for errors ---"
Hello,

I'm deploying Loris behind a Nginx server with uWSGI.

This is my WSGI file:

[code]

[2019-06-05 19:25] bcail commented on #458
Here's a troubleshooting tip: https://stackoverflow.com/questions/17555699/internal-server-error-with-django-and-uwsgi/31884017#31884017

[2019-06-05 19:52] lguariento commented on #458
Fantastic, it works!!! I had to specify the full path of the uwsgi.ini file. Thanks,  @bcail

[2019-06-05 19:52] #458 closed, assigned to nobody

[2019-06-05 22:01] lguariento opened #459 "ImportError: libopenjp2.so.7: cannot open shared object file: No such file or directory"
Hello,

when running `coverage run -m py.test tests/*.py` I get the error

[code]

What can it be? `pip install PIP` returns:

[code]

[2019-06-05 22:08] alexwlchan commented on #459
That looks like something is trying to load an OpenJPEG binary.

We used to have one in the repo for testing in Linux, but it was removed in 75eff75 in favour of installing the relevant apt package in Travis. Do you have OpenJPEG installed?

We install it in Travis with `apt-get install libopenjp2-tools` – could you try that, and see if the issue remains?

[2019-06-05 22:14] lguariento commented on #459
Ah, much better - I did `yum install openjpeg2` (I'm on CentOS) and now it carries on the tests. I did install libopenjp2 with the source files before. Thanks!

[2019-06-05 22:14] #459 closed, assigned to nobody

[2019-06-05 22:14] alexwlchan commented on #459
🎉

Glad you got it sorted!

[2019-06-07 07:32] regisrob opened #460 "Full support for Pyramidal TIFF"
It seems that Loris does not fully support PTIFF, in the sense that it does not give `sizes` and `tiles` in the info.json (which may mean that Loris does not read all the information in the image, i.e. widths/heights and tile width/height).

Below the info.json of a Pyramid TIFF in Loris:

[code]

The TIFF source image has been converted to a tiled pyramidal TIFF with vips:

`vips tiffsave B721816

[2019-06-07 14:42] lguariento commented on #451
Done: #461

[2019-06-07 14:45] #451 closed, assigned to nobody

[2019-06-07 15:02] lguariento commented on #451
I've also added the link to the readme.md file (#462)

[2019-06-07 19:35] alexwlchan commented on #460
Looking at https://github.com/python-pillow/Pillow/issues/3053 and #415, it sounds like the underlying image library (Pillow) has some support for pyramidal TIFF. I’m not sure if it exposes that information – I’ll need to do more digging.

(Although I’m about to go on leave for a week, so I won’t be looking at this for a while.)

[2019-08-20 17:19] bcail commented on #431
We are running into this issue, and it seems like this suggested change would be helpful. @alexwlchan do you have any thoughts?

[2019-08-20 17:25] bcail commented on #144
PRs #442 and #278 address this for JP2 transforms. We can re-open if there are more issues.

[2019-08-20 17:25] #144 closed, assigned to nobody

[2019-08-20 17:37] bcail commented on #431
Looks like issue #143 and PR #146 are related. @jpstroop, @alexwlchan seems like we could do something like _ident_file_structure, but still use identifier name. Something like this:
cache/ab/cd/_ident_/...

How does that sound?

[2019-08-21 14:56] bcail opened #471 "info.json is duplicated at different paths in info cache"
Seems like there should just be one copy of info.json.

[2019-08-22 17:13] JohnMulligan opened #474 "Unicode characters"
Hi all, cannot seem to get Loris to accept any id's with unicode characters:
For instance, "loris/IMG_7727é.JPG" comes out of constants.py as "loris/IMG_7727\xc3\xa9.JPG" and this breaks around line 295 of webapp.py.
These also break:
IMG_7727%C3%A9.JPG
IMG_7727%E9.JPG

I see a fix to a similar problem here: https://github.com/inveniosoftware/invenio-iiif/pull/7/files

[2019-09-02 07:58] minusdavid commented on #444
I'd point to https://github.com/loris-imageserver/loris/issues/315 as well.

I'm working on a Ruby app which creates IIIF manifests that point to Loris, so I've got Debian packages and IIIF on my mind again.

With my Ruby app, I actually turn it into a Ruby Gem then run gem2deb on it. The libraries get installed to the system Ruby path, and the executable (a FCGI handler) gets put into /usr/bin.

[2019-09-02 08:10] minusdavid commented on #444
I've been thinking about this a lot over the years, and I think (web) application deployments for scripting languages are hard. https://wiki.debian.org/DjangoPackagingDraft would be just one example of people trying to find a tried and true way of packaging these kinds of apps.

You know in comparison to say a Java app where you can just drop in a WAR file, although even though you often have to d

[2019-09-11 14:26] jeffreycwitt opened #475 "Loris failing with no error when width is set to 500, but not at 499 or 501 or any other dimension"
Can someone help me with this weird problem.

Loris failing with no error when width is set to 500, but not at 499 or 501 or any other dimension

So for example:
This does NOT work: https://loris2.scta.info/hopkinsMSB19/Lombard_Manuscript-197.jpg/full/500,/0/default.jpg. Loris returns a blank page, without an error

Works: https://loris2.scta.info/hopkinsMSB19/Lombard_Manuscript-197.jpg/full/501,/

[2019-09-11 16:21] bcail commented on #475
@jeffreycwitt is there anything in the log? What's the HTTP status code on the failing response?

[2019-09-11 22:56] alexwlchan commented on #475
HTTP status code seems to be 500.

I’ve just tried in a local instance, using Lombard_Manuscript-197.jpg at full size as the original image; it works fine for me.

If I truncate the cache entry (e.g. `echo '' > /cache/entry/default.jpg`), I get a 500 error – I wonder if a cache has been corrupted somewhere, and Loris isn't handling that correctly?

[2019-09-11 23:33] jeffreycwitt commented on #475
Alex,
I was thinking it had something to do with cache, as if the cache got
corrupted, and the request is never fully re-processing the image because
it is going directly to the corrupted cache.

Is there an actual folder on the file system that contains the cached
images? Could I shell into the server, navigate to the cache folder and
delete the cached 500 width version of the image?

If so, wher

[2019-09-12 08:01] alexwlchan commented on #475
@jeffreycwitt I believe it’s whatever path you have set in `img.ImageCache.cache_dp` in your config file, e.g. if your config was

[code]

the cache directory would be `/usr/local/share/loris/image_cache`.

I don't know how to find this specific image in the cache off the top of my head; I'm about to get on a train so can't test right now!

[2019-09-18 04:39] alexwlchan opened #477 "Don't create a log directory in user_commands.py if the user isn't logging to file"

[2019-09-18 04:40] alexwlchan commented on #477
More generally, we should be creating directories that are defined in the config, and skipping them if not.

[2019-09-21 22:34] alexwlchan commented on #475
I’m on holiday next week so I can’t work on this then, but here are my ideas:

We add a method to ImageCache that deletes a cache entry. If we process a request and get a "not an image" error thrown from the cache, we delete the cache entry and throw the 500 error. When the user reloads, the cache gets repopulated and they get the image they want.

We could also retry the request (using something

[2019-09-21 22:41] jpstroop commented on #475
FWIW, I once toyed with the idea of implementing a PURGE http method that you could send to the base URI to clear the cache RESTfully. Obviously it's completely non-standard, but some of the reverse proxy caches out there support something similar, I believe.

Sent via mobile. Please excuse typos and brevity.

________________________________
From: Alex Chan <notifications@github.com>
Sent: Saturd

[2019-09-23 15:03] bcail commented on #475
@alexwlchan that sounds great to automatically purge an image from the cache if we know it's corrupt.

[2019-10-02 18:19] bcail commented on #431
PR #479 would implement this change for the InfoCache (using the same directory format that the SimpleHTTPResolver uses).

I would like to do the same thing for the derivative ImageCache. Anyone opposed? Anyone need the derivatives cache to stay the way it currently is?

[2019-10-10 13:45] bcail commented on #471
As of PR #479, InfoCache is keyed off the item identifier, instead of the URL, so there should just be one info.json for each identifier.

[2019-10-10 13:45] #471 closed, assigned to nobody

[2019-11-07 14:35] jrhoads opened #488 "Use image-validator in test code."
There exists a python project that validates iiif image servers.
We could include it in the suite of tests.

https://github.com/IIIF/image-validator

[2019-11-08 17:24] jrhoads commented on #431
PR #479 Was merged.  Does that close this issue?

[2019-11-08 17:40] bcail commented on #431
Yes, with #483. Closing.

[2019-11-08 17:40] #431 closed, assigned to nobody

[2019-11-08 17:46] jrhoads commented on #429
Image 3.0 Features to Implement
Extracted from [Image and Presentation API Feature Implementations](https://docs.google.com/spreadsheets/d/1_f1XCh1UrOlhIKrQRy-zkpvs8IjzTD0HGL0wjrBrj-4/edit#gid=0)

- [ ] Server reports and supports upscaling syntax (^)
- [ ] Server supports /square/ region
- [ ] Server provides 3.0 info.json id and type without @
- [ ] Server provides 3.0 info.json profile to "leve

[2019-11-14 17:27] mdlincoln opened #489 "Error despite enabling tif output"
I've setup loris with `tif` enabled in the `target_formats` list, however I get a server error when trying to get that output format on one of the example images:

[code]

JPG and PNG requests work just fine. I'm guessing the conversion is choking somewhere? I've reinstalled Pillow and it confirms that it's got access to libtiff...

[2019-11-14 20:27] bcail commented on #489
@mdlincoln which version of loris are you running? If you're not already, are you able to run the latest code from git and see if it fails there as well? (note that you would need to switch to python3)

[2020-01-02 01:32] minusdavid opened #491 "Loris should set user-agent string"
It looks like Loris isn't sending a user-agent string, which is making troubleshooting web requests a bit challenging.

[2020-01-02 04:48] minusdavid commented on #289
Oh this is interesting. I've started seeing DecompressionBombWarning errors as well.

[2020-01-02 05:09] minusdavid opened #492 "Loris sends (undesirably) sends rules.json for every image resolution"
It would be nice to disable the sending of the rules.json request, as it's creating unnecessary HTTP traffic

[2020-01-02 16:37] bcail commented on #492
@minusdavid thanks, I agree. I'll work on that, but first I have a general question for anyone.

@azaroth42, @alexwlchan, anyone:
The ImageInfo class takes in an "extra" parameter, which contains authentication information (coming from the rules.json file for the image), but the extra parameter also contains "extraInfo", which can set non-auth information like the logo, attribution, and license fo

[2020-01-02 16:38] alexwlchan commented on #492
We’re not using rules.json at all at Wellcome, so no.

[2020-01-02 17:21] bcail commented on #289
Here's a Pillow issue about it: https://github.com/python-pillow/Pillow/issues/515. Looks like we need to let the user configure the Pillow Image.MAX_IMAGE_PIXELS setting.

[2020-01-05 23:48] azaroth42 commented on #492
We used to use it for that, but have switched away from Loris.

[2020-01-06 19:40] bcail commented on #492
should be fixed in #495.

[2020-01-06 19:40] #492 closed, assigned to nobody

[2020-01-07 01:41] minusdavid opened #497 "Inexplicable 503 and 504 errors"
We've started running Loris in production, and we're starting to notice occasional 503 and 504 errors.

It's mostly just a feeling at this point, but I think that Loris (in this case mod_wsgi) is getting hung, but the logs don't clearly say why. I'm mostly wondering if other people are having this issue. I think I saw @alexwlchan saying something like this on the WellcomeTrust Github, although I t

[2020-01-07 01:48] minusdavid commented on #289
Sounds good to me!

[2020-01-07 13:54] bcail commented on #497
@minusdavid what version of Loris are you running? There's been at least one commit recently (https://github.com/loris-imageserver/loris/commit/8855cc958c8fbe7ac523e902a0424563b1da430e) that helped reduce our exceptions in production.

Please do post any stack traces you're able to get.

[2020-01-08 23:18] minusdavid commented on #497
@bcail We're running 2.2.0, which is quite long in the tooth now. Planning to switch over to Python3 anyway, so planning to upgrade very soon.

I notice that the latest release is 2.3.3 from June 2018 (https://github.com/loris-imageserver/loris/releases), but there has been a lot of work done since then.

Could we get a new release posted or at least tagged?

[2020-01-08 23:25] minusdavid commented on #497
Happy to do packaging work on my end, but just would like to know some boundaries for stability : ).

[2020-01-09 14:35] bcail opened #498 "Loris 3.0 release"
What are the next steps for a 3.0 release? I'd like to get the Pillow version updated, which I don't think will be a big deal (I'd be OK with going ahead and merging #485). Are there any other changes we should get in before releasing 3.0?

This is a major release: we dropped python 2 support, and have made changes to the cache layout so caches will need to be rebuilt.

@alexwlchan, others - any t

[2020-01-09 14:36] bcail commented on #497
@minusdavid see #498.

[2020-01-13 07:51] minusdavid commented on #497
You're a champion, @bcail

[2020-01-13 08:11] minusdavid commented on #498
I'm not entirely sure but would be very excited to get #497 in there.

I see the "development" branch is the default. Is there no master or stable branch? What's the current master/stable point in the code? https://github.com/loris-imageserver/loris/commit/66977fe3135242439038aa2a49292c2acfca3bb3 would be another one I'd like to see added to cut down significantly on the amount of unnecessary HTTP

[2020-01-13 08:12] minusdavid commented on #498
(As a side note, are @bcail and @alexwlchan the only active developers/maintainers these days?)

[2020-01-13 18:46] bcail commented on #498
@minusdavid for #497 503/504 errors - those might be fixed already in the development branch... are you able to test the latest dev branch? Or, are you able to capture a stack trace when it happens?

Yes, the "development" branch is the current master branch, and that's what we would tag with a new release (so 66977fe would be included in the new release). And yes, we don't have many developers wo

[2020-01-14 03:59] minusdavid commented on #498
Ooops I meant [https://github.com/loris-imageserver/loris/commit/8855cc958c8fbe7ac523e902a0424563b1da430e](url), but if the development branch is the master branch then nevermind me. Misunderstanding on my part.

The next step for us would be to run up a newer stable version (like 3.0.0) and see how it goes from there. Then if there are issues, more of a deep dive will be done (provided there is f

[2020-01-24 00:22] minusdavid commented on #498
How are we going on this one?

[2020-01-24 04:45] alexwlchan commented on #498
(Sorry, have been somewhat busy/not in the office – haven’t been chiming in but broadly in agreement with what’s already been said, and I’ll have more time to work on Loris stuff again next week.)

[2020-01-24 04:51] minusdavid commented on #498
By the way @alexwlchan I like what you wrote at https://stacks.wellcomecollection.org/using-loris-for-iiif-at-wellcome-6ed1fefaf801. I'm going to reconsider how we're running Loris at the moment in light of that write up.

We're actually stalled on our Loris work until Loris 3.0 is released, but after it comes out, we'll do an upgrade, and hopefully be doing more with it.

[2020-01-28 14:55] bcail commented on #498
I deployed the latest code to our production system yesterday, and it seems fine so far.

@alexwlchan is it OK if we release 3.0 this week, or is there something else you want to get in?

[2020-01-28 15:03] alexwlchan commented on #498
Thanks @minusdavid! It hasn't changed much since then, so feel free to ask questions. All our infra is on GitHub, so I can send you links if it's useful.

I’m happy to release 3.0 this week.

[2020-01-29 08:34] minusdavid commented on #498
Thanks! That would be useful :).

This would be great!

[2020-01-31 15:45] alexwlchan commented on #498
v3.0.0! https://github.com/loris-imageserver/loris/releases/tag/v3.0.0

[2020-01-31 15:45] #498 closed, assigned to nobody

[2020-04-30 14:31] dvhassel opened #502 "documentation for Auth?"
Hi,

is there any documentation floating around on using IIIF Auth with Loris?  I'm trying to get this working with the SimpleFSResolver, without any luck so far unfortunately.

I have created the rules.json file for my test image (test1.jp2 and test1.rules.json live in the same directory) and added `use_auth_rules=True` to the [resolver] section of loris2.conf.

This is being picked up as I can s

[2020-04-30 14:57] bcail commented on #502
@dvhassel have you set up the authorizer section of your loris2.conf? This is an example config from webapp.py:
    config['authorizer'] = {
        "impl": "loris.authorizer.RulesAuthorizer",
        "cookie_secret": b"4rakTQJDyhaYgoew802q78pNnsXR7ClvbYtAF1YC87o",
        "token_secret": b"hyQijpEEe9z1OB9NOkHvmSA4lC1B4lu1n80bKNx0Uz0=",
        "roles_key": "roles",
        "id_key": "sub",
    }

[2020-04-30 15:40] dvhassel commented on #502
hi, no I didn't.  I have this now in loris2.conf:

[code]

The rules.json:
[code]

in the log I can see this now:
`(loris.authorizer) [DEBUG]: Called is_protected with {'extraInfo': {'service (...)`

but nothing in /info.json.

Step-by-step I guess?

[2020-05-08 06:29] lsh-0 commented on #497
how did you go with your crashes, @minusdavid ? did they improve after an upgrade?

We don't see freezes ourselves but we do get random 5xx responses from time to time. We added a workaround in nginx to re-request the same image in a different format if the upstream server (uwsgi+iiif) returned an error. After an upgrade (to 2.3.3) the 5xx responses stopped happening and a corrupted image was inst

[2020-05-08 07:28] lsh-0 opened #503 "corrupted image converting .tiff"
We have a `.tiff` image that is producing corrupted output.

Original: https://prod-elife-published.s3.amazonaws.com/digests/55692/digest-55692.tif

Corrupted: https://iiif.elifesciences.org/digests/55692%2Fdigest-55692.tif/full/full/0/default.webp

With the same type of corruption for `.png` and `.jpg` output formats. The corruption is different on each generation however we have caching turned o

[2020-05-08 08:00] minusdavid commented on #497
@lsh-0 we never did the upgrade as the funding ran out, so that Loris server still has lots of issues unfortunately. I hope one day that some money comes in and we do the upgrade though.

[2020-05-08 12:39] bcail commented on #497
@lsh-0 Gad things are looking better with the upgrade to 3.0. I would highly recommend anyone getting 500 errors to make sure they're running 3.0. Since you're still getting the occasional 5xx response, could you please post any error or stacktrace from your logs? Thanks.

[2020-05-08 12:46] bcail commented on #503
$ mediainfo elife-digest-55692.tif
General
Complete name                            : elife-digest-55692.tif
Format                                   : TIFF
File size                                : 214 KiB

Image
Title                                    : ...
Format                                   : LZW
Width                                    : 540 pixels
Height

[2020-05-12 05:29] lsh-0 commented on #503
Thanks for getting back to me. Here is another LZW compressed `.tif`, it appears to be working fine:

Original: https://prod-elife-published.s3.amazonaws.com/digests/53232/digest-53232.tif

IIIF: https://iiif.elifesciences.org/digests/53232%2Fdigest-53232.tif/full/full/0/default.webp

I have about 50 candidates I'm going to write a wee script to run through. All these images go through a review pr

[2020-05-12 07:32] lsh-0 commented on #503
None of the other candidates exhibited corruption, which is good.

I have [a side-project](https://github.com/elifesciences/imgcmp) using ImageMagick that will compare two images for differences with a fuzz factor and a threshold for passing. I intend to run through all of the our images and check for corruption that way. It would be good for our peace of mind to run this whenever we upgrade Loris

[2020-05-12 14:29] alexwlchan commented on #503
Pulling different versions of the image from https://hub.docker.com/r/elifesciences/loris/tags:

* I could repro the issue with 45b9edd23a9132fc67a8c71ded30836089a63b00
* I couldn't repro with 89a0ed19ee5a86f9b2afa864dfa27b7addaaf7b3

So something about this commit introduced the issue to your build: https://github.com/elifesciences/loris-docker/commit/984cb31ea1d5416bdc228d8ba9d6bd68fc4f08a9

The

[2020-05-12 14:37] lsh-0 commented on #503
This is helpful, thank you. I'll try upgrading the container to Ubuntu 20.04 on Thurs or Fri that has a newer version of `libtiff` in it (4.1 vs 4.0). I looked at it's changelog the other day but nothing jumped out at me.

[2020-05-12 14:42] alexwlchan commented on #503
I think the issue isn’t libtiff; it might be the Python library Pillow.

Your working image had Pillow 4.3.0; your current image has 6.2.0. We used to pin the version of Pillow to avoid an issue with JPEG-compressed TIFs (see https://github.com/loris-imageserver/loris/pull/407, https://github.com/python-pillow/Pillow/issues/2926, https://github.com/loris-imageserver/loris/pull/485).

If I process

[2020-05-12 14:50] lsh-0 commented on #503
Ah, it wasn't actually working. That was a new 2.3.3 installation. I was migrating Loris to a containerised installation. It seemed to go well until we started seeing corruption in a handful of new images resulting in [this rushed upgrade](https://github.com/elifesciences/loris-docker/commit/45b9edd23a9132fc67a8c71ded30836089a63b00) to 3.0.0.

Our previous working version was a patched ~2.0 (?) er

[2020-05-14 00:37] lsh-0 commented on #503
thanks for raising the issue with `Pillow`, @alexwlchan , it's appreciated.

[2020-06-01 11:07] #289 closed, assigned to nobody

[2020-06-28 19:44] cmhdave commented on #401
I'll point out that many client viewers (Mirador, Universal Viewer) do not support the query string parameter option

[2020-08-22 05:26] damooo opened #508 "Normalize content-type before extention computation in SimpleHTTPResolver"
in `SimpleHTTPResolver`, when we are saving fie to cache, we are computing file-extension from request's `content-type` header. this extension will be then used in computing `source_format` at time of resolving.

But it is not normalizing `content-type` before dictionary lookup. Thus it doesn't support values like `image/jpeg; charset=UTF-8`, (archive.org responds like that.). We have to normalize

[2020-08-28 11:45] roelpaesen opened #510 "update kakadu libraries"
We just had a repeatable problem with the kakadu-libraries you can download from this repository (if you open up a lot of thumbnail-size photos at the same time, rendering stops after a limited number of thumbnails and multiple kdu_expand processes hang), that could be fixed with using the newer version of kakadu-libraries downloaded from the kakadusoftware.com-website.

Proposed solution:
Could y

[2020-08-28 13:47] bcail commented on #510
I'm not sure we'll update the libraries - as you noted, there are licensing issues with kakadu, and each user of loris needs to make sure they're following the current licensing requirements from the makers of kakadu.

A possible solution, though, once you've bought/verified your license - fork this repo, put in your latest libraries that you got from the official website, and use that for your do

[2020-09-17 11:40] gvasold opened #511 "Requesting pngs as gray or monochrome"
I noticed that requesting quality "bitonal" or "gray" from a PNG source (and also some TIFF source images) as a PNG results in RGBA instead of the expected gray or bitonal. I wrote 4 tests to show this behaviour, starting here: https://github.com/gvasold/loris/blob/fa7114fac6ebff2e2d01b0bc9de97bd87b5e9051/tests/transforms_t.py#L325

I also tried to fix this (the fix is commented out to make my tes

[2020-09-17 20:39] bcail commented on #511
@gvasold you may very well be right. Feel free to open a PR, if you want. I won't be able to look at this for a while, but maybe @alexwlchan can, or I can later.

[2020-10-01 19:51] MedievalMatt opened #512 "loris folder not being created with ubuntu 20.04"
Hello,

I'm attempting to install loris on a clean ubuntu 20.04 installation hosted on a Dreamhost cloud machine.  The instructions did not throw any errors, but once finished the expected var/www/loris folder doesn't show up.  I've installed Loris once before, but I'm kind of at a loss about what's going on without having any errors to work from.

Is there an extra step or some secret sauce that

[2020-10-02 15:35] bcail commented on #512
@MedievalMatt to create directories, you have to run bin/setup_directories.py now. Note: there's an issue with that script, and hopefully I'll have a PR soon for fixing it.

[2020-10-02 16:08] MedievalMatt commented on #512
Well shoot. Do you have a sense of when the PR will happen?  Or a list somewhere of what all would need to be created manually for things to move forward?

[2020-10-02 16:25] bcail commented on #512
Sure, the directories you have to create are:
image cache
info cache
log directory
tmp directory
www directory
Note: you can use existing directories if you want, and just point loris to them in the loris2.conf file.
then create the wsgi file (for serving via passenger or some python wsgi server)
copy index.html and favicon into their places in the www directory

Here's what our wsgi file basicall

[2020-10-02 16:29] bcail commented on #512
the wsgi example shows that you need to have the loris2.conf file somewhere it can read - you can put that conf file where you want and then point the wsgi file to it. You can copy the existing one from the source repository and then modify it to fit your needs.

[2020-10-02 17:00] bcail commented on #512
I submitted PR https://github.com/loris-imageserver/loris/pull/513 - feel free to try out that "packaging" branch and see if it helps.

[2020-10-04 21:49] MedievalMatt commented on #512
I've never tried to pull down a PR rather than a branch so hopefully just pulling down packaging with the command `git clone -b packaging https://github.com/loris-imageserver/loris.git` was the right move.  No luck if it is. I also tried running `./setup_directories.py` just in case and got the following error:

`  File "./setup_directories.py", line 5, in <module>
    create_default_files_and_dir

[2020-10-05 07:33] gvasold commented on #512
It seems you are running Python Version 2.7 (at least when running the setup_directories.py script). Loris 3 requires Python 3.5+. The last Loris version supporting Python 2.7 was 2.3.3. So consider switching to Python 3, which might be as easy as using `python3` instead of `python` when running the script.

[2020-10-05 07:43] MedievalMatt commented on #512
Ok, will do.  I went with 2.7 because I wasn't sure if the dependencies would carry over to 3 and I wanted to eliminate any oddities if I could..  I'll give you a heads up regarding how it works here in a bit.

ETA: That seemed to be part of it, but now I'm getting an error because (I think) Python is wanting libffi6 and Ubuntu 20.04 only has libffi7.  I'm going to try dropping back a OS version t

[2020-10-05 19:42] MedievalMatt commented on #512
As a follow up to my comment last night, I just wanted to let you all know that everything works (with some manual changing of owners) under Ubuntu 18.04.  I had to make some changes to the packages to reflect Python3 as opposed to Python2, obviously.  Right now it serves images directly from URI, but I'm running into a CORS issue and it won't display the files if I add the manifest to an external

[2020-10-15 12:37] bcail commented on #512
PR #513 changes have been merged into the main development branch.

[2020-10-15 22:26] MedievalMatt commented on #512
Just to let you guys know, I wrote up the bits from my install where I needed to update the instructions you have here at http://www.matthewedavis.net/node/129.  I'm mentioning it in case you get someone else with an issue.

[2020-10-20 13:32] bcail commented on #512
@MedievalMatt some doc changes have been merged into development - they might help with your install process.

[2020-10-20 13:33] bcail opened #517 "new release"
Any changes to get in before a new release? Shall we call it v3.1.0? @alexwlchan

[2020-10-21 22:00] alexwlchan commented on #517
I don't have any pending changes; v3.1.0 sounds good to me.

[2020-11-25 20:41] bcail commented on #517
v3.1.0 has been released

[2020-11-25 20:41] #517 closed, assigned to nobody

[2021-01-27 08:49] VlastaAIP opened #524 "possibility for wrong file in Loris cache using customized HTTP resolver"
Greetings,

we are using customized Loris IIIF server on latest version 3.2.1 with custom HTTP resolver, which is downloading images to HTTP cache with our prefix. Loris cache name directories are also customized + after saving to JPG it is enhanced by PyExiv2 from the downloaded one.

We are using image server for our aplication, which can takes a lot of requests for images, but there is chance t

[2021-01-27 18:18] bcail commented on #524
@VlastaAIP ok, so the downloaded images are fine, but the images that Loris generates (the derivative images) are getting mixed up in the cache?

When you get an incorrect image in the derivative cache, is it the correct image but with the wrong size/region/...? Or is it a completely different image altogether?

Are you able to give us an example of a couple URLs that get mixed up?

[2021-01-28 06:51] VlastaAIP commented on #524
Yes, they are getting mixed and it is completely different image. I will send you some examples, when it will be possible, because we fixed the latest ones.

[2021-01-28 08:32] VlastaAIP commented on #524
OK. Update - it is causing HTTP cache, just noticed the downloaded file is big map from different document.
This page is OK:
https://imagines.manuscriptorium.com/loris/KNM___-NMP___V_C_9_______1RS7R20-en/id69/full/full/0/default.jpg

This page is from different document:
https://imagines.manuscriptorium.com/loris/KNM___-NMP___V_C_9_______1RS7R20-en/id70/full/full/0/default.jpg

Someone was looking

[2021-01-29 07:57] VlastaAIP commented on #524
We might get the clue on Apache threading. We have Loris on test server.
For example this happened:
This page is OK:
http://5.102.53.70/loris/CJSMSB-CJSMSB4ODDILLISACI3798ZAF-cs/ID0148/full/full/0/default.jpg

This page is from wrong document:
http://5.102.53.70/loris/CJSMSB-CJSMSB4ODDILLISACI3798ZAF-cs/ID0149/full/full/0/default.jpg
It is from this:
http://5.102.53.70/loris/AIPDIG-AMBFSK49_88____

[2021-01-29 13:33] bcail commented on #524
that's good turning multi-threading off maybe fixes it. If that does fix the issue, you're welcome to open a PR adding a note to the docs.

[2021-02-11 13:23] lguariento opened #525 "@id starting with https://(null)/"
I have a loris server running and it all works well except for the @id of my images, which start with https://(null)/ for all of them (see for example [here](https://iiif.gla.ac.uk/iiif/MS_Gen_1042_100/images/MS_Gen_1042_100_002.jp2/info.json)). Is there something I am missing? I already have the `proxy_path='https://iiif.gla.ac.uk/'` directive set in my configuration file.

[2021-02-11 17:16] lguariento commented on #525
The server wasn't restarted after adding the proxy_path directive. It's now working fine.

[2021-02-11 17:16] #525 closed, assigned to nobody

[2021-02-15 12:54] lguariento opened #526 "Wrong error returned (404 instead of 400) for special characters"
Hello,

I have Loris running with Apache and `mod_wsgi`. This is my configuration:

[**edit** the configuration is not relevant here. I tested it several times on different machines with different configurations and Loris still outputs 404 instead of 400 for special characters. See additional comments.]

ssl.conf:

[code]
From the modules directory, conf.modules.d/10-wsgi.conf:
[code]

It all work

[2021-02-16 00:35] lguariento commented on #526
After starting the .webapp.py development server and running the validator against it, I noticed that it's actually Loris which returns error 404 instead of the 400 expected by the validator.

[2021-02-16 10:52] lguariento commented on #526
As Andrew Hankinson suggested in the IIIF Slack channel, "it probably has to do with the calls to `self.raise_404_for_ident` in the Loris resolver, e.g.

https://github.com/loris-imageserver/loris/blob/6fee1b8d367b287c981c9851a07a672fd5661ce3/loris/resolver.py#L554

and then the fact that the webapp itself sends back a `NotFoundResponse` whenever it catches a `ResolverException`: https://github.co

[2021-02-22 15:31] lguariento opened #528 "Give a proper 'library not found' error instead of timing out"
If there is a wrong path under one of the transformation scenarios in loris.conf, or/and if the binaries and libraries are not found, Loris just times out when requesting an image.

E.g.:
[code]

This happens when using `mod_wsgi` and Apache under a Python3 virtual environment.

[2021-04-19 16:02] ewg118 opened #533 "WSGI error in Ubuntu 20.04 installation"
I am installing the latest Loris release in Ubuntu 20.04, running Python 3.8 and Apache 2.4.46. I am getting a 500 Internal Server error. The Apache error log is as follows:

[code]

The loris.wsgi file is present in /var/www/loris, and Apache should have execute permissions. The contents of the file are:

[code]

The loris.conf exists, and looks fine to me. I've installed Loris 2 on Python 2.7 on

[2021-04-19 16:17] regisrob commented on #533
It may be related to #435, but not really sure... What I always had to do on Debian is to tweak loris.wsgi this way:

[code]

Hope that will help!

[2021-04-19 18:04] ewg118 commented on #533
I've followed [instructions](https://linoxide.com/how-to-create-python-virtual-environment-on-ubuntu-20-04/) on creating a virtual environment in Ubuntu 20.04, but it doesn't seem to have done anything.

[2021-04-19 18:43] regisrob commented on #533
No other idea... Are you using [libapache2-mod-wsgi-py3](https://packages.debian.org/fr/buster/libapache2-mod-wsgi-py3)?

[2021-04-19 18:54] ewg118 commented on #533
That's it. Only libapache2-mod-wsgi was installed for Python 2.x, as per the instructions on the Apache wiki page. Thanks

[2021-04-19 18:54] #533 closed, assigned to nobody

[2021-04-19 20:42] regisrob opened #534 "Doc should mention libapache2-mod-wsgi-py3 dependency"
... as it seems to be required to run Loris > 2.3.3 with Apache. Installing `libapache2-mod-wsgi-py3` solved #533.

So [apache.md](https://github.com/loris-imageserver/loris/blob/90643bace94326ee75a871f6f34fb48f975e4824/doc/apache.md#L11) and [dependencies.md](https://github.com/loris-imageserver/loris/blob/90643bace94326ee75a871f6f34fb48f975e4824/doc/dependencies.md#L38) should be updated to ment

[2021-04-19 20:45] bcail commented on #534
yes, Loris doesn't support python 2 anymore, so all docs should reference python 3 packages (unless there's a note with the python 2 package that it only works for old versions of loris). A PR would be welcome.

[2021-05-20 08:37] paroar opened #537 "SimpleHTTPResolver to public S3 bucket"
Hi,

I'm trying to set up a simpleHTTPResolver running on docker with loris-grok-docker image to an **s3 public bucket**  that I can access from the browser, without luck. Here's what I tried (one at a time):

## **SimpleFSResolver**
[code]

then fetching works fine and I get the image
[code]

##  **SimpleHTTPResolver**
[code]
then fetching gives an error 404
[code]
---
[code]
then fetching gives

[2021-05-20 13:33] bcail commented on #537
what version of loris are you using? Is there any output in the loris log?

[2021-05-20 15:22] paroar commented on #537
The docker image currently uses an old Loris version, **2.0.1**

With source_prefix:
[code]

With uri_resolvable:
[code]

[2021-05-20 16:43] bcail commented on #537
ok, please try it with the latest (v3.2.1) and see what output you get. We are using loris with the SimpleHttpResolver (although not with S3) - we're using a source prefix and source suffix.

[2021-06-06 20:16] ambs commented on #537
Just to let you know I have a similar configuration, and the correct file is being retrieved by my S3 server (local MINio server). Meanwhile, I have a problem and a question:
 - Problem: the service is returning an empty string (I managed to compile this code, and trying to make it work)
 - Question: I wonder if there is any suggestion for supporting S3 authentication (creating the relevant signat

[2021-06-07 14:32] bcail commented on #537
@ambs so Loris is returning an empty string? Is there any output in the loris log?

For S3 authentication, does https://github.com/loris-imageserver/loris/pull/257 help at all?

[2021-06-07 15:09] ambs commented on #537
Meanwhile noticed I was using a non standard webapp.py file. I am using the proper one from this repository. But while I have a simpleHTTPResolver in the config file, logs still say:
[code]

curious, as that source prefix is exactly in the line after the resolver impl option :-O

[2021-06-07 16:36] bcail commented on #537
do you have multiple resolvers listed in your config? I would suggest commenting out all lines in your config that you're not using.

[2021-06-07 16:38] ambs commented on #537
@bcail I think so: https://paste.debian.net/1200300/

[2021-06-07 17:04] bcail commented on #537
try restarting everything, and see if there's any error in the log when you try the http resolver.

[2021-06-07 17:09] ambs commented on #537
Full startup log here: https://paste.debian.net/1200306/
Then, when accessing it, it looks like it is searching locally:
[code]

The curious thing is that with the web app from here: https://github.com/bodleian/loris-grok-docker
and after changing the code from python2 to python3, I managed to get it "working" (kind of!) :-)

[2021-06-07 17:16] bcail commented on #537
that's good you got it working

[2021-06-07 17:20] ambs commented on #537
I did not explain myself clearly. I had it working before. But given the code that was running was 5 years old, I decided to use the webapp from this repository. And it's with this new version that I am getting these problems on SimpleHTTPResolver.

I will keep debugging it and let you know my findings.

[2021-06-07 18:25] ambs commented on #537
This patch is working for me: https://github.com/loris-imageserver/loris/pull/538
@paroar see if it helps you too.

Will look into authentication next.

[2021-06-08 20:29] ambs opened #540 "loris behind proxy"
I know that supposedly `webapp` is not to be used in production. But at the moment, that's what I'm doing :-)
Is there any configuration available on it to set up `proxy_fix`: https://werkzeug.palletsprojects.com/en/2.0.x/middleware/proxy_fix/ ?
I have it behind `traefik`, but it is creating `http` links, instead of `https` links.

Ideas are welcome.

[2021-06-09 13:40] bcail commented on #540
https://github.com/loris-imageserver/loris/blob/development/doc/configuration.md#lorisloris
Try setting proxy_path in your config to something starting with https, and see if that works.

[2021-06-10 18:34] ambs commented on #540
Yes, it works. Perfect. Thanks

[2021-06-10 18:34] #540 closed, assigned to nobody

[2021-06-28 08:24] alexwlchan opened #542 "Loris needs new maintainers"
The two current maintainers of Loris are @bcail and @alexwlchan (myself), and we agreed to review issues and pull requests because we were running Loris in production. We’re no longer using Loris, and so we’re stepping back from maintaining it.

This means issues and pull requests will not be reviewed until somebody else volunteers to maintain Loris.

If you use Loris and you’re interested in beco

[2021-07-06 05:18] lsh-0 commented on #503
I can confirm that Loris 3.0.0, 3.2.0 and 3.2.1 with `pillow==8.2.0` fixes this corruption issue.

edit: and it looks like [there is a PR for that](https://github.com/loris-imageserver/loris/pull/539) already!

[2021-08-27 13:20] busymo opened #543 "Loris configuration"
I am trying to configure loris for my server (means loris is running as a proxy in Nginx), HTTP://127.0.0.1:8888 ---> https://philhist-papyri-01.philhist.unibas.ch/loris

[resolver]
impl = 'loris.resolver.SimpleHTTPResolver'
uri_resolvable=True
cache_root='/path/to/images'

Everything is fine so far but in the info.json of the images, I do not get the proper id. The @id that I get is:

"@id": "htt

[2021-08-27 14:01] bcail commented on #543
Note #542. But, does setting proxy_path in your config help at all?

[2021-08-27 14:22] busymo commented on #543
Yes, helps a bit. But still, the second part of the URI keeps the same. After setting the proxy path:

"@id": "https://philhist-papyri-01.philhist.unibas.ch/loris/1%2Fimages%2F1.RectoIliad19th%28T%29book-IR-enh.jpg"

I am looking to have it as:

"@id": "https://philhist-papyri-01.philhist.unibas.ch/loris/1/images/1.RectoIliad19th(T)book-IR-enh.jpg"

[2021-08-27 14:35] bcail commented on #543
looks like it's encoding the path - you might have to update the code to not encode it.

[2021-08-27 14:37] busymo commented on #543
Yes, I guess it is just encoding some of the characters like in this case  /, ( and ). I think I can check it out and arrive to a solution with it. Thanks for the help!!

[2021-08-27 14:37] #543 closed, assigned to nobody

[2021-08-28 12:07] busymo opened #544 "Bad URL request"
Anyone having an idea why the error Bad URL request might happen in this case??? Yesterday was fine today it is not.
<img width="1662" alt="Screenshot 2021-08-28 at 14 05 48" src="https://user-images.githubusercontent.com/56075989/131217326-f496dde4-47da-4022-9d86-4a355a5e4542.png">

[2021-12-02 13:34] #488 closed, assigned to nobody

[2021-12-30 09:37] christianmahnke opened #546 "How to provide a custom `quality`"
I'm aware that this package is currently unmaintained, but maybe another user can answer my question as well:
I'm looking into a way to provide a user defined quality as it's possible with [`go-iiif`](https://github.com/go-iiif/go-iiif#non-standard-quality-features). I already asked at over at the [Cantaloupe Project](https://github.com/cantaloupe-project/cantaloupe/issues/545) - there are also so

[2022-03-11 04:23] gulshankbhatia opened #548 "Loris Server error"
Hi,

We are testing IIIF with https://digitaltoolsmss.library.utoronto.ca/iiif-to-go/

Loris server is giving this error and not working on: http://127.0.0.1:8181/loris/omeka-main/

Not Found
The requested URL was not found on this server.
Apache/2.4.41 (Ubuntu) Server at 127.0.0.1 Port 8181