[2012-09-14 13:56] jpstroop opened #1 "add default format for info requests"
As with images, if use_415 is set to False, there should be a default format for the info service (probably json)

[2012-09-14 13:57] jpstroop opened #2 "test decimal precision with larger image"

[2012-09-14 14:15] jpstroop opened #3 "add tests for 304 responses"

[2012-09-14 15:42] jpstroop opened #4 "add response image dimension tests"

[2012-09-14 17:37] jpstroop commented on #3
revision 248f7cc1020

[2012-09-14 17:37] #3 closed, assigned to jpstroop

[2012-09-14 17:42] jpstroop opened #5 "Large file streaming?"
See this: http://stackoverflow.com/questions/5166129/how-do-i-stream-a-file-using-werkzeug

It might be useful for larger files.

[2012-09-14 17:48] jpstroop opened #6 "make sure patoka.py is executable on the command line for testing"
there were path issues that came up with `tests.py` when they weren't run through Sublime.

[2012-09-14 18:02] jpstroop opened #7 "url maps exceptions"
catch whatever is raised when nothing in patokah.url_map is matched and return a 400.

[2012-09-14 18:15] jpstroop opened #8 "color profiles?"
Confirm that they're getting through, else:
if native quality is color and request is native or color

[code]

if native quality is grey and request is native or grey

[code]

[2012-09-14 18:20] jpstroop opened #9 "Check utility and dependency versions in tests"

[2012-09-17 14:03] jpstroop opened #10 "Needs to catch error when cache (or other required) dir can't be made"

[2012-09-17 17:10] sdellis opened #11 "add license to README"
Before this becomes public, we should add license info to the README.  GPL?

[2012-09-17 17:24] jpstroop commented on #11
[code]

[2012-09-17 18:31] sdellis opened #12 "Use grey and color bitmaps rather than .bmp"

[2012-09-17 22:28] kevinreiss commented on #11
Hi,

For what it is worth I do know that OIT folks are releasing code on Drupal.org under the GPL license.

[2012-09-19 12:51] jpstroop opened #13 "Confirm that we can't upsample with a pixel-based size request"
">" might be taking care of if, but it seems like it might be a good idea to pass the dimensions of the image (if full) or otherwise region to SizeParameter#to_convert_arg(). This might make it possible to allow upsampling as a configurable option as well.

[2012-09-20 08:01] jpstroop opened #14 "Read up on WSGI"
Start here: http://code.google.com/p/modwsgi/wiki/QuickConfigurationGuide

[2012-09-20 08:57] jpstroop commented on #12
Those should be PGM is for grayscale and PPM for color

[2012-09-21 04:14] sdellis opened #15 "Percentage-Based Region Parameters Not Implemented?"
The following should work:
http://example.org/image-service/abcd1234/pct:10,10,50,50/full/0/native.jpg

However, Loris returns the following error:

[code]

Furthermore,  the following returns a tile that is 50x50.

[code]

After reading through the spec, it looks like the scaling of the tile and not the original image is intended.  However, it's difficult to create a zoom viewer without being abl

[2012-09-21 11:53] jpstroop commented on #15
Check the spec in [4.6 Order of Implementation](http://www-sul.stanford.edu/iiif/image-api/#order). Remember that the parameters are applied in a specific order:

[code]

_would_ return a 50x50 image because the region coordinates and width and height are always based on a full size image.

You should use 256 x 256 (or, e.g. 128, 512, 1024) tiles all the time, (so `0,0,256,256` for top left; `0,25

[2012-09-21 13:11] jpstroop commented on #15
Follow up:

[code]

style requests were broken (percentage-based region requests). Fixed in the latest revision.

[2012-09-21 15:59] sdellis commented on #15
That all makes sense.  The existing tile-based zoom viewers all seem to maintain a constant tile size no matter what the level/scale is.  I'm having trouble tweaking that because the assumption is built into those viewers and it's a lot to untangle.  A zoom viewer can certainly be done with this API, just not exactly the way it's been done before.  So much for a quick fix.  I'm actually leaning to

[2012-09-21 17:33] jpstroop commented on #15
I like the idea of doing a custom viewer; why not!?
That said, you could still maintain a constant tile size with this API if you needed to, you'd just need to ask for a bigger region. So to keep tiles at 256:

[code]

i.e., every time the pct is divided by two, multiply the tile size by two.

Also, remember that the tiles at the far right edge will not necessarily be the full width (unless the im

[2012-09-21 17:36] jpstroop opened #16 "Upsampling"
(Separated from from #15 ; issue #13 is also related.)

[code]

returns a 7920x7920 tile (problem persists for ",3600" size, etc.).

[2012-09-21 17:37] #6 closed, assigned to jpstroop

[2012-10-08 14:49] #16 closed, assigned to jpstroop

[2012-10-08 14:50] #14 closed, assigned to jpstroop

[2012-10-08 14:50] #9 closed, assigned to jpstroop

[2012-10-08 14:50] #5 closed, assigned to jpstroop

[2012-10-08 14:50] #4 closed, assigned to jpstroop

[2012-10-08 14:50] #2 closed, assigned to jpstroop

[2012-10-08 14:50] #1 closed, assigned to jpstroop

[2012-10-08 14:50] #11 closed, assigned to nobody

[2012-10-08 14:51] jpstroop commented on #13
Change policy: upsampling is allowed

[2012-10-08 14:51] #13 closed, assigned to jpstroop

[2012-10-08 14:52] jpstroop opened #18 "support Content-Disposition header"
See http://www-sul.stanford.edu/iiif/image-api/#implementation #1
and http://tools.ietf.org/html/rfc6266#section-4.1

[2012-10-08 15:00] jpstroop opened #19 "Need to escape "/" in identifiers"
(i.e. with %2F) See http://www-sul.stanford.edu/iiif/image-api/#url_encoding, 5th example.

[2012-10-08 18:14] #19 closed, assigned to nobody

[2012-10-10 13:42] jpstroop opened #20 "Consider __slots__ for ImgInfo and Parameter objects"
See, e.g. http://mypythonnotes.wordpress.com/2008/09/04/__slots__/

[2012-10-12 23:48] #10 closed, assigned to nobody

[2012-10-19 20:39] sdellis opened #21 "In doc/deployment.md the following sections are not in the loris.conf file..."
Daemon Mode >> Adjust
- under [handler_err] and [handler_out] set args to reflect the correct log dir, .e.g. something like args=('/var/log/loris/loris.err', 'midnight', 1, 14)

Is that something that should be there, or was it taken out?

[2012-10-19 21:11] sdellis commented on #21
Looks like they are in the logging.conf file... doc should be updated

[2012-10-19 21:17] sdellis opened #22 "Generally needs to be easier to get working"
While attempting to integrate loris in the image browser, noticed a lot has changed since I last used it.  Someone with basic skills should be able to get this to roll over in under an hour woking with basic test images.  Convention over configuration.  For example, found this in the loris/resolver.py file:

SRC_IMG_ROOT='/home/jstroop/workspace/loris/test_img'

... shouldn't this be in a conf fil

[2012-10-19 22:47] jpstroop commented on #21
Sorry, it was split into a separate file...I've been working to make the
code more modular over the last week. There are a lot more, but smaller
and more readable, files. I thought I'd managed to keep the docs up to
date, but missed this one.

On 10/19/2012 09:39 PM, Shaun Ellis wrote:

[2012-10-19 22:47] #21 closed, assigned to nobody

[2012-10-19 22:53] jpstroop commented on #22
I put a more generic path in the file that's on github.

On 10/19/2012 10:17 PM, Shaun Ellis wrote:

[2012-10-19 22:54] #22 closed, assigned to jpstroop

[2012-10-26 11:19] #15 closed, assigned to jpstroop

[2012-10-26 11:20] jpstroop commented on #8
Tabled for now; seems like at least PUL jp2s are OK.

[2012-10-26 11:20] #8 closed, assigned to jpstroop

[2012-10-26 11:21] jpstroop commented on #7
Done

[2012-10-26 11:21] #7 closed, assigned to jpstroop

[2012-10-26 11:33] jpstroop opened #23 "Math off for landscape images?"
Looking at some scrolls, at levels that should start to tile I'm seeing multiple links to identical images.

The symlinks:

[code]

The targets:

[code]

[2012-11-04 13:04] jpstroop commented on #20
Done

[2012-11-04 13:04] #20 closed, assigned to nobody

[2012-11-04 13:13] jpstroop opened #24 "Grey and Bitonal broken on img.princeton.edu"
See:

http://img.princeton.edu/loris/pudl0001/4609321/s42/00000523/full/pct:25/0/grey.jpg

http://img.princeton.edu/loris/pudl0001/4609321/s42/00000523/full/pct:25/0/bitonal.jpg

Which points out that there's no test for this (e.g. is the resultant img grey, bitonal. color, etc.)

This is **not broken** on other test instances, which suggests a dependency version issue, probably of ImageMagick.

3

[2012-12-14 20:49] jpstroop commented on #24
This was not a dependency issue. Fixed in commit 2692d4d.

[2012-12-18 14:40] jpstroop opened #25 "Add config parameters for `convert` libs"
Just as with Kakadu so that a different version of ImageMagick can be used from the one on the system PATH.

Also, build the environment variable dictionary for shell-outs once globally, rather than on every call.

[2013-04-18 13:15] #24 closed, assigned to nobody

[2013-04-18 13:16] jpstroop opened #26 "Logging needs overhaul"
Logging is a mess at the moment; it's tough to configure and only app.py actually logs anything.

[2013-04-18 13:18] jpstroop opened #27 "Unit tests need to be modularized"
Unit tests are all in one modle at the moment. Refactor into separate modules that match the modules they're testing.

[2013-04-18 13:18] jpstroop opened #28 "Test URL escaping"
currently not covered

[2013-05-16 09:22] jpstroop opened #29 "Consider other source image formats"
e.g. JPEG, TIFF and so support different libraries for format conversion. Maybe this should be abstracted out of the Loris class, so that any function that implements a common signature can be called.

[2013-06-28 15:58] regisrob opened #30 "TypeError: 'unicode' object does not support item assignment"
Hello Jon,

I have been struggling with Loris for a few days and I think it would be interesting to give you some feedback.
I started with the loris-master version and tried to test it with a sample jp2 file. Finally I obtained a "502 Proxy Error. Reason: Error reading from remote server" (maybe from the reverse proxy ? no idea about that...).
So I decided to test Simeon's fork of Loris (I thought

[2013-06-28 18:23] jpstroop commented on #30
Régis,
Thanks for trying out Loris! I've been squeezing in work on what more or less amounts to a complete rewrite of Loris since our meeting in Paris last month. You're right, `setup.py` is out of date; I was hoping to work on it this afternoon  in fact, after I finish the new README, but I may run out of time.

I wasn't able to reproduce your bug until I tried upgrading Werkzeug from 0.8.1 to 0.

[2013-06-28 22:44] regisrob commented on #30
Thank you very much Jon. Right now I'm happy to see the very first Biblissima IIIF compliant image ! The fix to webapp.py did the job.
Actually I'm using the last version of Werkzeug (0.9.1). I will post another comment with some configuration details about my own deployment of Loris. It could be useful in case I notice new bugs later. Next week I will run some deeper tests with various examples a

[2013-06-28 23:07] regisrob commented on #30
I gathered below some details about the environment in which Loris is running on Biblissima server, and the main setup/configuration steps I followed. It could be useful to people (like me) who are not Python developers and are using Debian.

---
- OS : **Debian Squeeze 2.6.32-5-amd64**

---
- **Apache/2.2.16 (Debian)**

[code]

---
- **Python** :
  - System version (package from Debian repositori

[2013-07-16 17:44] #30 closed, assigned to nobody

[2013-07-16 17:44] #29 closed, assigned to nobody

[2013-07-22 14:17] ksclarke commented on #29
Just curious... closed because it was implemented or because it was deemed unnecessary?

[2013-07-22 14:42] jpstroop commented on #29
Sorry...I was just knocking these off because I haven't been closing them as I worked on what basically wound up amounting to a rewrite, and the branches ceased to line up nicely with the issues.

The answer is because it was implemented.

As of 0.1.0beta, Loris supports TIFF and JPEG as well as JP2 as source formats. These are implemented as what I called "Transformer" classes in the [transformat

[2013-07-22 15:40] #26 closed, assigned to nobody

[2013-07-22 15:40] #25 closed, assigned to jpstroop

[2013-07-22 15:42] jpstroop opened #31 "What happens when a quality is requested but not supported,"
E.g. color version of a greyscale image? 4xx?

[2013-07-24 15:16] regisrob opened #32 "Base URI redirection"
Hi Jon,

When I request "http://interne.biblissima-condorcet.fr/loris/T0000009.jp2", it makes a 303 redirect to this URI "http://interne.biblissima-condorcet.fr/T0000009.jp2/info.json", which throws a 404 error (I have "redirect_base_uri=1" in loris.conf). The "/loris" prefix is removed. Is it a normal behaviour ?

Thx
Regis

[2013-07-24 15:39] jpstroop commented on #32
Nope. That would be a bug! I'll try to get on it today.

[2013-07-24 18:19] jpstroop commented on #32
Regis,
This is fixed on the development branch--thanks for catching it. I'll be away for a couple of weeks now, but please let me know if you run into problems.
-Jon

[2013-07-24 19:16] regisrob commented on #32
Thanks! I'll be away too for two weeks, but I'll proceed to test as soon as I come back.
I still have a problem with OSD when requesting info.json through Ajax, as your Loris/OSD demo does with a former Loris version. I posted an issue here : https://github.com/jpstroop/Loris_OpenSeadragon/issues/1
We'll see that later.
Thx again
Regis

[2013-08-26 14:05] regisrob commented on #32
Hi Jon,
I just redeployed dev branch and it seems that the bug is not fixed for me. Now the request "http://interne.biblissima-condorcet.fr/loris/T0000009.jp2" redirects to "http://interne.biblissima-condorcet.fr/loris/%2FT0000009.jp2/info.json" (percent-encoded slash is appended) and ends with a 404.
Thanks for your help.
Regis

[2013-08-26 17:32] jpstroop commented on #32
Rob,
Thanks for catching this! I think it's a simple fix. ~~Could you switch to the branch `issue32` and see if that solves it for you?~~

This is on the development branch now.
-Jon

[2013-08-26 21:15] regisrob commented on #32
Bug fixed ! Redirection is ok now. Thanks.
I thought for a short while it could have solved this issue https://github.com/jpstroop/Loris_OpenSeadragon/issues/1, but I was wrong! I have to proceed.
-Regis

[2013-08-27 13:29] jpstroop commented on #32
I does seem like the callback would still be useful. I will try to work on it this week, but it may need to wait until the following when I have some airplane time :-)

[2013-08-29 16:27] jpstroop commented on #32
Regis,
FYI, I've added back the callback feature, and tests are passing, but I haven't yet tried to run open seadragon; in theory it should work....
-Jon

[2013-08-30 14:44] regisrob commented on #32
Thanks for the callback, it' working fine.
Unfortunately it still doesn't work in practice with openseadragon. The returned error is :
"$TileSource is undefined"
l.3755 : options = $TileSource.prototype.configure.apply( _this, [ tileSource ]);

It seems that openseadragon is not able to determine the TileSource Implementation it should use, in this case IIIFTileSource... But at this time I don't u

[2013-08-30 18:54] jpstroop commented on #32
I've got it figured out. I'm going to fork OSD, add an IIIF 1.1 TileSource, and submit a pull request to them. I'll keep you posted!

[2013-08-30 20:47] jpstroop commented on #32
Regis,

Try this: https://github.com/jpstroop/openseadragon

(You'll need to build; follow the instructions in the README).

This ''should'' support IIIF 1.1. I'm no javascript hacker, but It's working on my dev machine when I do, e.g.:

[code]

I'd like to wait to send a pull request to the OSD folks until the 1.1 spec is finalized and released.

Let me know what you think.
-Jon

[2013-09-02 13:01] regisrob commented on #32
Great! It works with IIIF1.1 TileSource! I just had to redeploy Loris dev branch to make it works.
But there is still a weird bug for me : Ajax requests fail when using percent-encoded URI in getJSON method.

*\* With percent-encoded URI in getJSON :
=> 404 Not Found for http://interne.biblissima-condorcet.fr/loris/01%2F02%2F0001.jp2/info.json?callback=jQuery190011149640029201213_1378067653514&_=1

[2013-09-02 15:29] jpstroop commented on #32
The one difference between our environments is that you're working behind a production web server (Apache, presumably?)  and I'm still just working on the dev server that's built into Werkzeug. Do you have AllowEncodedSlashes set? I just checked my local copies of the repos and everything is in sync w/ github.

Unfortunately I'm out of town this week; I'll put it behind Apache next week and see wh

[2013-09-02 20:27] regisrob commented on #32
Yes you're right, Loris is behind Apache on a production server. I have AllowEncodedSlashes set to On in my Virtualhost. It doesn't seem to be a browser specific bug (but I'm not really sure at this time).
I'll keep on investigating and we'll see next week if you face the same problem or not...

-Regis

[2013-09-03 11:49] #27 closed, assigned to nobody

[2013-09-03 11:49] #12 closed, assigned to jpstroop

[2013-09-03 11:52] jpstroop opened #34 "Consider a media URI resolver"
Check out http://www.w3.org/TR/media-frags/

[2013-09-09 18:48] jpstroop commented on #32
Regis,
Any luck with this? My production server is not ready yet, but I just put this behind apache on my dev box and everything is working. My Apache config looks like this:

[code]

Nothing special as far as I can tell, and it's all working fine. However, I can exactly replicate your problem if I comment out "AllowEncodedSlashes On". Are you sure it's "On", and that no additional comments follow

[2013-09-09 20:24] jpstroop opened #35 "Src image to cache"
When working with networked storage of src image files, it may make sense to copy the source image to the local disk cache. This could all be implemented in the resolver, by adding a second param, the root of the local disk cache, to the resolver implementation's constructor.

[2013-09-11 15:20] regisrob commented on #32
Hi Jon,
No luck, I have the same directives as you in my virtualhost :(

<pre>
AllowEncodedSlashes On
WSGIDaemonProcess loris user=loris group=loris processes=10 threads=25 maximum-requests=10000
WSGIScriptAlias /loris /var/www/loris/loris.wsgi
WSGIProcessGroup loris
</pre>

I read some forum threads and tried a few things, without success  :
- http://stackoverflow.com/questions/4390436/need-to-al

[2013-09-11 15:29] jpstroop commented on #32
Hmm...I wish I were an Apache expert.... At this point, if I were you, I would set up a separate instance of Apache somewhere else and see if you can get it running...at least that will isolate Apache as the problem. Everything in your logs looks the same as mine; it's weird!

Keep me posted!

[2013-09-12 15:36] regisrob commented on #32
So I set up a separate instance of Apache and Loris on a local dev server and... it works! Requests with %2F are ok! The config is almost the same as the prod server. The only things that differ are :
- 32 bit architecture (dev server) vs 64 bit (prod server)
- Werkzeug-0.9.4-py2.7.egg (dev) vs Werkzeug-0.9.1-py2.7.egg-info (prod)
- PIL : Freetype2 support available on prod but not on dev
- ... an

[2013-09-12 15:44] jpstroop commented on #32
Excellent! (that is, at least you've isolated it)

[2013-09-13 14:27] jpstroop commented on #32
Regis,
I've made some tweaks to the routing. Specifically, the region slice of the URI is now matched by a regex, rather than simply assuming that the second path slice is the region. This makes it easier to know where the identifier ends and the rest of the URI begins. You might do pull and see if this solves your problem. There's always a chance...

In the meantime, though, I'm going to close th

[2013-09-13 14:27] #32 closed, assigned to nobody

[2013-09-13 16:06] regisrob commented on #32
Hi Jon,
I tested with the latest changes you made, but unfortunately it didn't solve my problem (404 with %2F still happen). I think I will give up the idea of using sub-folders in my repository (which is a testing one). Since I don't know how to configure a smart resolver, I will merely put all the images in one folder and prepend a unique identifier to filenames (in order to distinguish images o

[2013-09-23 19:05] #28 closed, assigned to nobody

[2013-09-23 19:05] #23 closed, assigned to jpstroop

[2013-09-23 19:15] jpstroop opened #36 "Custom Response?"
The "Full Featured" Werkzeug [`Response`](http://werkzeug.pocoo.org/docs/wrappers/#werkzeug.wrappers.Response) mixes in a bunch of stuff I don't need, and, meanwhile, these four lines:

[code]

are repeated over and over. Could I make a custom `LorisResponse` that extends [`BaseResponse`](http://werkzeug.pocoo.org/docs/wrappers/#werkzeug.wrappers.BaseResponse). to always include the compliance lin

[2013-09-24 13:41] jpstroop opened #37 "!w,h misinterpretation"
Again, only sometimes, "Check size with !width,height" fails, but when it does it looks like this:

[code]

My algorithm (which I believe 4.2 permits) choosing which dimension to respect/retain is as follows:
preferred_dimension=height

[code]

see: https://github.com/pulibrary/loris/blob/development/loris/parameters.py#L321

Again, I think this is legit...no? Maybe the validator should be expecti

[2013-09-24 17:36] #37 closed, assigned to nobody

[2013-09-24 21:10] #36 closed, assigned to nobody

[2013-10-07 18:45] jpstroop opened #38 "Add a whitelist to config for CORS"
If the value of the `Origin` header is in this list, set `Access-Control-Allow-Origin` to its value. Otherwise set `Access-Control-Allow-Origin` to the name of  the server.

[2013-10-07 20:20] #38 closed, assigned to nobody

[2013-11-06 17:30] jpstroop opened #39 "Preserve ICC profiles when producing JPEG"
Bill's proposal is [here](https://docs.google.com/document/d/1vvi8irp6TxYbCsZfctY0YJezv__vo8rMxn763f_C7e0/edit).

It can be done with kakadu 7.2+. Instead of creating a bmp as the intermediate file, we need to make a tif, which will then carry the color profile along. From there, PIL, with the help of [Little CMS](http://www.littlecms.com/) can read the restricted profile out of the tiff and conve

[2013-11-08 21:29] jpstroop commented on #39
Followup: The above approach doesn't scale with TIFF as an intermediate format between the jp2 and the target--the TIFF takes way too long for PIL to parse. Try pulling the profile directly out of the jp2.

[2013-11-11 14:05] jpstroop commented on #39
Function for pulling the color profile out of a JP2 as a byte array:

[code]

[2013-11-13 17:28] jpstroop opened #40 "Use jp2 levels when possible"
Performance with thumbnails and smaller full region images (not tiles or ROI) will be better if we can use the next largest level to generate the image.

[2013-11-13 17:29] jpstroop opened #41 "cors allow all"
cors_whitelist should be able to take a '`*`' as its value, indicating that the info service should be completely open.

[2013-11-13 19:42] jpstroop opened #42 "Provide high-level logging configuration"
Per Jay, something like:

[code]

(and the last one wouldn't apply if log_to=console).

[2013-11-16 10:43] #39 closed, assigned to nobody

[2013-11-16 13:02] #42 closed, assigned to nobody

[2013-11-18 15:24] #40 closed, assigned to nobody

[2013-11-18 16:19] #41 closed, assigned to nobody

[2013-11-18 16:20] #34 closed, assigned to nobody

[2013-11-20 16:01] regisrob opened #43 "ConfigParser.NoSectionError: No section: 'log'"
Hi Jon,

I need to run some more tests with another instance of Loris but I ran into errors while deploying the latest build:

(Python version is 2.7.3)

"python test.py" returns:

<code>
Traceback (most recent call last):
  File "test.py", line 3, in <module>
    from tests import img_info_t
  File "/usr/local/loris-dev/src/loris/tests/img_info_t.py", line 4, in <module>
    from loris import img

[2013-11-20 16:03] jpstroop commented on #43
Hmmm....that was a bug that I thought I fixed right before the tag. Hold on...

[2013-11-20 16:24] jpstroop commented on #43
Hmm, the `log` section is there in both the latest version on the development banch:

https://github.com/pulibrary/loris/blob/development/etc/loris.conf#L29

and in the revision that was tagged:

https://github.com/pulibrary/loris/blob/9a1e320ba4df68efb861fc56ed1a2919045f8ae0/etc/loris.conf#L29

So you're not getting a fresh `loris.conf` file.

I just did a test on my machine, and indeed it looks

[2013-11-20 16:24] #43 closed, assigned to nobody

[2013-11-20 16:44] regisrob commented on #43
Sorry it was my fault: I changed the conf directory and I forgot to change "prod_conf_fp" in "loris/log.py". That was the problem... But it means that test.py is testing against "/etc/loris/loris.conf" and not "etc/loris.conf", is that true ?

[2013-11-20 16:57] jpstroop commented on #43
It's true for logging, unfortunately, and I don't like it.

https://github.com/pulibrary/loris/blob/development/loris/img_info.py#L16

I do point this out [in the README](https://github.com/pulibrary/loris/blob/development/README.md#logging), but it really does feel like a hack.

The problem right now is that loggers are instantiated at the module level, e.g.:
- https://github.com/pulibrary/loris/

[2013-11-20 16:58] jpstroop opened #44 "Logging configuration shouldn't be based on presence of /etc/loris/loris.conf"
See explanation here:

https://github.com/pulibrary/loris/issues/43#issuecomment-28906925

[2013-11-20 16:59] jpstroop commented on #43
Submitted as issue #44

[2013-11-21 20:53] lfarrell opened #45 "Pillow support instead of PIL"
More of a comment, but loris seems to work just fine with Pillow as well.  Do you all have any plans to make Pillow the default imaging library?  Thanks for such a cool project.

[2013-11-21 23:45] jpstroop commented on #45
Thanks! You're not the first person to mention this or ask. I hadn't really considered Pillow, but it's sounding more and more like I should, especially if that's the way the Python community is trending.

Two things (one concern, one point of interest):
1. (the concern) Does Pillow play well with Little CMS? This is required for some (optional) [color profile mapping to sRGB with JP2s](https://gi

[2013-11-21 23:55] jpstroop commented on #45
Wow...five minutes to answer most of the questions I just asked you.

http://pillow.readthedocs.org/en/latest/installation.html

Pillow certainly wins the documentation round. The API seems identical; seems like I could really (in theory) just install Pillow instead of PIL and go?

[2013-11-22 02:08] #45 closed, assigned to nobody

[2013-11-22 13:33] lfarrell commented on #45
It should basically be a straight port of every feature in PIL according to the authors, but with much easier installation and faster release cycles.  I did try it with JP2 and had no issues.  Admittedly my testing has been limited.  Here at UNC-Chapel Hill we were most interested in the JP2 support as we're running into issues with Djatoka.  If there are still any issues from above you're worried

[2013-11-22 14:54] jpstroop commented on #45
You know, it turned out to be super easy. Because others had asked about "Pillow Support" I had assumed it was a big deal, different API, etc. There was literally one change (as far as I can tell, and assuming my test coverage is good), which was this:

https://github.com/pulibrary/loris/blob/development/loris/transforms.py#L16-L22

i.e. `ImageCms` seems to be within with the `PIL` namespace in Pi

[2013-11-22 23:26] #44 closed, assigned to nobody

[2013-11-22 23:34] jpstroop commented on #43
@regisrob see #44. This is in much better shape now. I will release shortly.

[2013-12-02 22:50] tomcramer opened #46 "Can Loris support autogenerating a watermark?"
As an image repository, I'm interested in giving donors a sense of control of their images once posted on the website. For downloading or printing any image above a certain resolution, I'd like to add a watermark that provides attribution and/or discourages unlicensed exploitation of the image.

[2013-12-03 15:29] jpstroop commented on #46
Use case?

Some thoughts in the meantime:
- The libraries with which Loris is built could easily do a transparent overlay on an image.
- The IIIF image API does not address this feature (should it? probably--almost definitely--**not**).
- The logic for when to apply a watermark would have to be entirely server-side, because if the URI for the derivative was, say:

[code]

  then it wouldn't be tou

[2013-12-11 20:06] jpstroop opened #47 "qualities problem"
Tests are passing, but, e.g.:

http://libimages.princeton.edu/loris/new_jp2s%2Fpudl0052%2F6131707%2F00000001.jp2/info.json

Why only `['native', 'bitonal']`? Could be a problem with the image.

[2013-12-16 16:34] regisrob opened #48 "Setup guide for Ubuntu/Debian"
Hi Jon,
I just finished to update my Loris setup guide for dummies:
http://doc.biblissima-condorcet.fr/loris-setup-guide-ubuntu-debian
I first made it for my own needs, as a reminder, but I thought it could be a complement to your readme file, primarily intended for web admin beginners like me.
Feel free to criticize or disseminate if you think it's worth.
R.

[2013-12-16 16:43] jpstroop commented on #48
Regis,
Wow! This is really comprehensive, and it's exactly the kind of info I'd like to be able to provide in the docs. For now, I'll get a link to this post into the README file, but over time I'd like to incorporate some of it into the step-by-step docs.
Thank a lot,
Jon

[2013-12-16 16:48] regisrob commented on #48
Sure, good idea. Feel free to pick up everything you want.
Thx
R.

[2013-12-17 19:39] jpstroop opened #49 "Region not supported for formats other than JP2"
Somehow this was missed and there's no test coverage. Regions can only be requested from jp2s!

[2013-12-17 20:03] #49 closed, assigned to nobody

[2013-12-18 15:22] jpstroop opened #50 "Include SRGB v2 ICC profile"

[2014-01-06 21:25] lfarrell opened #51 "OS package for Loris"
We're discussing using loris at UNC-Chapel Hill Libraries and were wondering if there was an Ubuntu or Redhat/Centos package for loris?   Our sys. admin was hoping not to have to create a local package if possible.

When you build it are you all using Ubuntu LTS or a more unstable version?

Also does loris require python 2.7?  Redhat, unfortunately is only up to python 2.6 in their releases.

than

[2014-01-06 22:09] jpstroop commented on #51
Dean,
Thanks for getting in touch! Unfortunately there's no rpm (or deb) package. Because of Kakadu's licensing terms this will probably never be possible. That said, the current development branch includes Kakadu for 64-bit Linux, so deployment is easier than it's ever been. If your admin has a 64-bit Ubuntu 12.04 LTS box and a half hour, I'd encourage them to clone the development branch and ste

[2014-01-21 14:15] mmcclimon opened #52 "mkfifo, permission denied?"
I'm having some trouble deploying loris on RHEL6 using mod_wsgi (I don't think this is your fault, but I'm hoping you or someone else here might have some guidance, as I'm not really a python person).

I have everything installed correctly, as far as I can tell. When I try to serve an image, however, the call to '/usr/bin/mkfifo' fails with a permission denied error (from line 279 of `transforms.p

[2014-01-22 00:01] jpstroop commented on #52
This may be obvious, but does the user that's running loris have permission to write to the directory where it's trying to make the FIFO? That's the directory configured here:

https://github.com/pulibrary/loris/blob/development/etc/loris.conf#L17

If you ran the embedded development server and then ran `setup.py`, it MAY have made that directory with you as the owner. Try opening the permissions

[2014-01-22 13:10] mmcclimon commented on #52
Right, I checked that. Everything was owned correctly, but there was a strange extended permissions issue (security context in SELinux) that was preventing mod_wsgi from running FIFO commands. That's fixed, but now I'm having other problems (I may comment again later!), so I'll close this now. Thanks!

[2014-01-22 13:10] #52 closed, assigned to nobody

[2014-01-22 16:03] jpstroop commented on #52
OK, thanks. I don't know the details of the issue, but if it's something
you think is worth incorporating into the documentation, please let me know
(or feel free to submit a pull request :-) )

[2014-01-23 17:30] jpstroop opened #53 "Rotation is happening before region cropping"
This is a regression.

E.g.: http://libimages.princeton.edu/loris/pudl0001%2F5138415%2F00000011.jp2/50,200,800,1600/pct:50/90/native.jpg

[2014-01-23 18:04] #53 closed, assigned to nobody

[2014-01-23 18:43] jpstroop opened #54 "PIL version from Travis isn't working"
See: https://travis-ci.org/pulibrary/loris/builds/17494685

Fix and put this back in README.md:

[code]

[2014-01-23 19:34] #54 closed, assigned to nobody

[2014-01-23 19:51] jpstroop opened #55 "Implement PUT"
So that, if the feature is enabled, an Image can be [PUT](http://tools.ietf.org/html/draft-ietf-httpbis-p2-semantics-25#section-4.3.4) to `/{prefix}/{server}/{identifier}`.

The responses would be:
- `201` if new
- `200` if created
- `415`  if the declared `Content-Type` is not something the server supports, or if we can't get the image metadata from it if based on the payload and the declared `Co

[2014-01-23 20:12] ksclarke commented on #55
Just curious, does IIIF have plans to define this sort of thing or is it considered outside the scope of the API?

[2014-01-23 23:32] jpstroop commented on #55
Most likely out of scope, but I'm going to bring it up with my pals next month just to be sure. The rationale for Loris is that when an image gets ingested into a repository, a JP2 can be made as well and copied (`PUT`) onto Loris's filesystem.

[2014-01-24 07:48] mark-dce commented on #55
1. This may show my ignorance, but why is {/prefix} dropped from the PUT specification?
2. You could avoid the `403` result code - and authentication in general - by assuming that the server is always on a protected network (ala [Solr](http://wiki.apache.org/solr/SolrSecurity) ).
3. Do you need an error code for unspecified failure states different from `415`
4. You might want an error response sp

[2014-01-24 14:58] jpstroop commented on #55
@mark-dce I've updated the initial issue to reflect some of your ideas. Comments below

I just left it out :smile:. Added it.

I'm not sure I get it. For `PUT`s that would definitely be easier, but for `GET`s, unlike Solr, which returns a hash, json, XML, or whatever for further processing before it goes to the client, I imagine that the URI for the image would be sent directly to the client, embe

[2014-01-24 15:09] ksclarke commented on #55
About:

"A little more about this. I want to avoid any implication that this is an image repository (whatever that means). I don't want to be in the business of minting IDs (hence PUT), taking any other kinds of content or metadata, fine grained access controls beyond protecting the PUT method, or anything like that. Just like Solr isn't a canonical data store, and you probably don't keep you big

[2014-01-24 15:23] jpstroop commented on #55
If I understand what you're asking: Our current line of thought at PUL is that we will keep a TIFF and JP2 of every image in the repo. There both will be versioned, backed up--curated--because you're right, making the JP2 is resource intensive and we may, e.g. need to use a different JP2 recipe on certain images from time to time (less compression, different tiles, whatever) so we couldn't simply

[2014-01-24 15:40] ksclarke commented on #55
Yes, thanks, that's what I was asking.

[2014-01-24 17:32] azaroth42 commented on #55
Hi all,

Some thoughts, re further RESTful interaction with images.  The set of operations I could see being useful:

PUT /{prefix}/{identifier} -- update existing or create a new image with {identifier}
POST /{prefix}/ -- create a new image with server assigned identifier
                         (understood that Jon doesn't want to implement this in loris, see below)
DELETE /{prefix}/{identifier

[2014-01-24 19:06] ksclarke commented on #55
fwiw, I think it would be good for IIIF to take on defining these operations.

I also agree you don't need to make something accessible through GET that's been PUT.  In fact, I think I liked all of @azaroth42 's thoughts above (POST, DELETE, etc.)

[2014-01-24 19:57] azaroth42 commented on #55
Added to IIIF.5 Agenda :)

Rob

On Fri, Jan 24, 2014 at 12:06 PM, Kevin S. Clarke
notifications@github.comwrote:

[2014-01-24 20:00] jpstroop commented on #55
You beat me! Flying back to NJ the rest of today, so going radio silent,
but I like how this is shaping up. you_guys++

[2014-01-24 21:07] jpstroop commented on #55
Re: I would also think that returning the info.json as the response from PUT and POST would be useful. Perhaps with an extra key for a digest like md5 to ensure it was received correctly. Then we're not inventing any new syntax for the response.

I'm cool with returning the info.json, I think, but what's wrong with the `Content-MD5` header?

[2014-01-24 21:11] azaroth42 commented on #55
I have nothing against Content-MD5 as a header. Just wanted to suggest the
option that it could go in the representation rather than or as well as in
the headers if that was going to be more convenient.

R

On Fri, Jan 24, 2014 at 2:08 PM, Jon Stroop notifications@github.comwrote:

[2014-02-03 17:40] azaroth42 commented on #55
I've implemented this in my server to try it out.

You can POST to http://www.shared-canvas.org/iiif
PUT to http://www.shared-canvas.org/iiif/identifier
and delete http://www.shared-canvas.org/iiif/identifier

There's no user tracking, nor method to list identifiers, so security by
obscurity.
Some slight security:  No images > 1 megabyte, and I reserve the right to
delete any images at any point.

[2014-02-03 19:21] jpstroop commented on #55
Hmm...sounds like a challenge. I'm sure I can find a way to make it take days or even weeks! :grin:

[2014-02-03 19:34] jpstroop commented on #55
Wondering now about `HEAD`. E.g., as a way to find out whether an identifier has already been used on the server. If a `HEAD` request for some ID returned a 404, you'd know you're in the clear.

[2014-02-03 20:14] azaroth42 commented on #55
The problem with HEAD is that it should return the same information as GET,
but without the entity body.
As doing a GET on http://server/prefix/identifer will return 400, so should
HEAD.

I think you'd have to HEAD a full URI, such as identifier/info.json to
determine existence.

On the other hand, following REST, if /prefix/ is a collection that can be
POSTed to, then a GET on that URI should ret

[2014-02-03 20:58] jpstroop commented on #55
In Paris we said, (buried in 2.2):

So, while it's not a hard requirement, the server will probably answer with something at the base URI...for the use case I have in mind it doesn't really matter what it is, as long at it's 20x or 303 and not 40x.

[2014-02-03 21:05] azaroth42 commented on #55
Hrm, true. The validator doesn't test that, nor does my implementation do
it.  Give me five minutes for the implementation and 5 days for the
validator :(

On Mon, Feb 3, 2014 at 1:58 PM, Jon Stroop notifications@github.com wrote:

[2014-02-03 21:08] azaroth42 commented on #55
Done. Do I win a prize? :D

On Mon, Feb 3, 2014 at 2:04 PM, Robert Sanderson azaroth42@gmail.comwrote:

[2014-02-03 21:10] jpstroop commented on #55
:sunglasses:

[2014-02-03 21:11] ksclarke commented on #55
:+1:

[2014-02-03 21:12] jpstroop commented on #55
So, I guess the question is, should that be a requirement...what are the implications for level 0?

[2014-02-03 21:13] azaroth42 commented on #55
Race you to add it to the IIIF agenda! :D

On Mon, Feb 3, 2014 at 2:12 PM, Jon Stroop notifications@github.com wrote:

[2014-02-19 10:28] jpstroop opened #57 "Reduce number of threads allocated to kdu_expand"
See
https://github.com/pulibrary/loris/blob/development/loris/transforms.py#L291

Norwegians report that using too many threads to extract, e.g., a single tile, actually hinders performance. 3 or 4 seems to be optimal.

[2014-04-02 17:18] lfarrell opened #58 "Loris image directories"
1. Does loris support multiple src_img_root settings or does everything need to be split out into sub-directories beneath one root?
2. Does it support displaying images from other servers, such a static assets server?

Thanks

[2014-04-02 19:59] jpstroop commented on #58
Hiya,
`resolver.Resolver` (that is, the class that is responsible for turning identifiers into paths to images and their formats) was designed to be overridden so that Loris could be adapted to different environments. Right now that just means changing the code here:

https://github.com/pulibrary/loris/blob/development/loris/resolver.py#L51-L82

to do whatever you need it to do. The two methods th

[2014-04-10 18:28] qurban opened #59 "Help troubleshooting output from ./test.py"
I'm working to set up Loris on an internal testing server running Ubuntu 12.04 LTS 64bit.

I've progressed through the instructions and dependency installations at https://github.com/pulibrary/loris and at http://doc.biblissima-condorcet.fr/loris-setup-guide-ubuntu-debian.

The machine is set up with Python 2.7

[code]

returns

[code]

Here's where we get stuck:

[code]

returns 6 errors:

[code]

[2014-04-10 18:50] qurban commented on #59
Just saw the comments about running individual test modules. That let me confirm that all the errors we're seeing are confirmed from:

[code]

All the other test modules are successful. Thanks!

[2014-04-10 18:50] jpstroop commented on #59
Is the ultimate error always `IOError: cannot parse this image`? In the case above, it seems like image is not getting written to the named pipe here:

https://github.com/pulibrary/loris/blob/development/loris/transforms.py#L314-L324

The only place I see that error in Pillow is here:

https://github.com/python-imaging/Pillow/blob/master/PIL/ImageFile.py#L420-L421

[2014-04-10 19:12] qurban commented on #59
You're right. The final error is always `IOError: cannot parse this image`. We installed Pillow via:

[code]

I'm pretty sure I recall seeing support for:

[code]

But, I'd be glad to uninstall Pillow and reinstall it with logging to check. Would that help?

One other thing, the instructions on github list `libtiff5-dev` as a dependency. Unfortunately, Ubuntu 12.04 LTS appears only to provide `lib

[2014-04-10 20:01] jpstroop commented on #59
I don't think Pillow is getting any data to parse. Could you check
permissions on whatever directory you've configured at your tmp directory?

https://github.com/pulibrary/loris/blob/development/etc/loris.conf#L17

Could you also confirm that kdu_expand is working properly (just do
kdu_expand -i some.jp2 -o some.jpg)?

I'm on Ubuntu 12.04 (64-bit) and have never seen this error!

[2014-04-10 22:58] qurban commented on #59
I'm with you. I don't have remote access to the server so I'll check in the morning. I appreciate the help. I'll post an update around 9am Central time.

[2014-04-11 00:02] jpstroop commented on #59
OK. I'm out of the office until late afternoon tomorrow, but should be able to check in late in the day. If permissions, etc look OK, let's get the rest of the app out of way and see if we can just make a jpeg from a jp2. Change the constants below as necessary; it should make a JPEG at `/tmp/test.jpg` from the jp2 you provide:

[code]

[2014-04-11 16:35] qurban commented on #59
Thanks! Quick update this morning. I'll review the testing code shortly.

---

**Regarding tmp directory in loris.conf**

[code]

returns

[code]

Initially, `/tmp/loris/tmp` did not exist, but `/tmp/loris` did. So I manually created `/tmp/loris/tmp`. Then:

[code]

returned

[code]

Unfortunately, `sudo python -m unittest -v tests.webapp_t` still returns the same 6 errors.

---

**Regarding `kdu_

[2014-04-11 17:19] qurban commented on #59
I manually upgraded kud_expand to v7.3.3. Same error.

[code]

returns

[code]

Trying it with either `-o sample.bmp` or `-o sample.tif` returns

[code]

If I'm interpreting the error messages correctly, jpg isn't an output type supported by these versions of kdu_expand and trying to use one of the supported output types causes it to crash.

[2014-04-11 17:31] qurban commented on #59
A bit more information....
I installed openjpeg-tools.

[code]

That installs these applications:

[code]

Then we could run:

[code]

which returns

[code]

`sample.bmp` looks identical to `sample.jp2` so that seemed to work.

---

**Which makes me wonder...**
Which version of kdu_expand are you using?

[2014-04-11 23:54] jpstroop commented on #59
I'm using kakadu 7.2--I haven't tried 7.3, but it looks like I should.

OpenJpeg is a different JP2 library altogether, that requires different command lines, is much slower, and doesn't yet support all the features we need (last I checked, anyway).

[code]

Will never work. Kakadu can only produces bitmaps, as you saw:

[code]

hence this bit of code in the script above:

[code]

Which is taking

[2014-04-12 20:37] qurban commented on #59
Thanks for the feedback. Now that we have a specific issue identified, I'll see what I can do about sorting it out. I'll stay focused on getting `kdu_expand` to work and post back when I've made progress. Thanks again for helping me dissect this.

[2014-04-12 20:48] qurban commented on #59
Looks like both the stackoverflow and yahoo groups questions came from the same group.

There is a discussion in the yahoo group between the original poster and Prof. Taubman. It appears the poster started by compiling directly on the Ubuntu machine. When that didn't work, they compiled it on a Centos based machine and copied the files over. And then it worked.

In that discussion, Prof. Taubman s

[2014-04-12 20:48] #59 closed, assigned to nobody

[2014-04-15 09:28] jpstroop commented on #59
@qurban Do keep me posted, and of course let me know if there's anything I can do to help!

[2014-04-18 12:49] jpstroop opened #60 "Explore namedtuple"
New to me, but may be useful for ImgInfo and any other object that is mostly just data: https://docs.python.org/2/library/collections.html#collections.namedtuple

[2014-04-18 13:17] cwulfman commented on #60
Very nice.

Dr. Clifford Wulfman
Coordinator of Library Digital Initiatives
Princeton University
cwulfman@Princeton.EDUmailto:cwulfman@Princeton.EDU

On Apr 18, 2014, at 8:49 AM, Jon Stroop <notifications@github.com<mailto:notifications@github.com>> wrote:

New to me, but may be useful for ImgInfo and any other object that is mostly just data: https://docs.python.org/2/library/collections.html#col

[2014-04-18 16:35] jpstroop opened #61 "OpenJPEG / Glymur"
It's time to start looking at OpenJPEG. Decoding the whole stream is way too slow, but tile access seems acceptable.

Also Glymur:
https://glymur.readthedocs.org/en/latest/introduction.html

Especially if this can ease deployment.

[2014-04-18 16:43] ksclarke commented on #61
Would be interesting to see some benchmarking to see how much slower openjpeg is.

[2014-04-18 17:31] jpstroop commented on #61
Yeah. I thinking about setting something up...not sure when I'll get a chance, but I'll let you know.

[2014-04-23 14:56] lfarrell commented on #58
This is stupid question, but if I wanted to add in pulling in images via
HTTP and serving them through Loris where would I put my overrides?  I
didn't want to mess around in the actual Loris files.  Sorry, I've only
used Python in the context of Django where it's usually pretty obvious
where to put package overrides.

Thanks,

Dean

On Wed, Apr 2, 2014 at 3:59 PM, Jon Stroop notifications@github.c

[2014-04-23 16:10] jpstroop commented on #58
Not a stupid question at all...and you're not gonna like my answer. :smirk:

I've been meaning to refactor this for a while, to make the name of the class that implements that resolver configurable so that it can be whatever, wherever you want on (as long as Python can find it). Right now, though, you do actually have to go into the loris code and replace the Resolver class in the resolver package

[2014-04-23 16:12] jpstroop opened #62 "Make name of AbstractResolver implementation configurable"
See #58 as well. Follow the pattern used for the image transformations.

[2014-04-28 15:20] lfarrell commented on #58
I had two more questions.  Does Loris support authentication or would we
need to to that through something like Apaches?  Second, can you request a
specific area of an image?

Thanks,

Dean

On Wed, Apr 23, 2014 at 12:10 PM, Jon Stroop notifications@github.comwrote:

[2014-04-28 16:06] jpstroop commented on #58
Hiya,
You would need to do auth in Apache or somewhere else upstream. IIIF is actively discussing an auth layer (one that isn't black and white, but may, for example, offer degraded access), and I've decided to hold off on any auth implementation at least until that work is done.

You can absolutely request an area of an image. The [IIIF spec explains how](http://iiif.io/api/image/1.1/#parameters-

[2014-04-29 15:26] jpstroop opened #63 "Use configobj for parsing config"
See:
- https://pypi.python.org/pypi/configobj/5.0.5
- https://github.com/DiffSK/configobj
- http://configobj.readthedocs.org

E.g., switching the config file to use Python syntax as values:

[code]

and reading in the config file like this:

[code]

Would eliminate [all of this](https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L129-L162), and make extension much easier.

[2014-04-29 16:03] jpstroop opened #64 "Skip Werkzeug's Routing"
Routing is confusing right now, and is probably adding a lot of overhead with all of those [Rule objects](https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L269-L280).

We could add more over and confusion by drinking more of the Werkzeug kool-aid with a bunch of custom [Converter](http://werkzeug.pocoo.org/docs/routing/#custom-converters) objects, or instead (better):
1. Grab th

[2014-04-29 16:40] azaroth42 commented on #64
In bottle, you can do:

[code]

Which then calls get_single() with named params of identifier, rtype and name.
Thus:

[code]

And then apply the regexes only to the individual params

[2014-04-29 17:53] jpstroop commented on #64
Looks pretty similar to Werkzeug, if you check out [Loris's routing](https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L270-L277). The problem I'm constantly fighting is that WSGI (it's at that level, not Werkzeug) un-escapes slashes (if not everything else), e.g. if you run:

[code]

And then do:

[code]

The response body is:

[code]

and all of those `/`-based routing patterns

[2014-04-29 18:06] azaroth42 commented on #64
Your apache config is set to not decode slashes?

[2014-04-29 18:18] jpstroop commented on #64
I have `AllowEncodedSlashes On`. But even if they get through Apache, WSGI un-escapes, no?

[2014-04-29 18:24] jpstroop commented on #64
Similar to this: https://github.com/Pylons/pyramid/issues/1008 (though I'm looking for where PEP 333 actually says it).

[2014-05-06 19:37] jpstroop opened #65 "Tiny images problem"
In response to the tiny images that OpenSeadragon requests at first, eg.:

http://libimages.princeton.edu/loris/pudl0022%2F4623565%2F00000001.jp2/full/2,/0/native.jpg

Loris is returning a 500. Error logs say this:

[code]

So must just be a math error somewhere. Seems to only be for 1 and 2 px wide images.

[2014-05-14 22:46] eliotjordan commented on #64
I adapted @azaroth42's ContentDM translator for use with [ERDAS ImageX](https://github.com/eliotjordan/image-api/blob/imagex/translators/ImageX/imagex-iiif-wsgi.py), an obscure geospatial image protocol. The path prefix is removed and the direction of the routing pattens are reversed ( [right to left](https://github.com/eliotjordan/image-api/blob/imagex/translators/ImageX/imagex-iiif-wsgi.py#L235-

[2014-05-15 00:11] jpstroop commented on #64
Awesome! I knew about the Apache directive, but slashes are still getting
decoded by wsgi, no?

-Js

Sent via mobile. Please excuse typos, brevity, etc.

[2014-05-15 17:07] azaroth42 commented on #64
That's great Eliot!  Would it be okay to have it in the IIIF repo, or
otherwise linked from it?

[2014-05-25 15:09] jpstroop opened #66 "Update installation instructions for Ubuntu 14.04"
Feedback about this exists in my inbox as well; make sure it gets incorporated.

[2014-05-25 16:12] jpstroop opened #67 "Rename qualities"
See:
http://iiif.io/api/image/2.0/change-log.html#renamed-qualities

[2014-05-25 16:13] jpstroop opened #68 "Implement profile in info.json"
See
http://iiif.io/api/image/2.0/change-log.html#added-profile-property-to-image-information-document

[2014-05-25 16:15] jpstroop opened #69 "Send Access-Control-Allow-Origin: * for everything"
Loris can leave this as an option to turn off, but it will drop compliance to level 0. See:
http://iiif.io/api/image/2.0/change-log.html#required-cors-for-level-1-compliance

[2014-05-25 16:16] jpstroop opened #70 "Update URIs for Compliance level"
See http://iiif.io/api/image/2.0/change-log.html#changed-uris-for-compliance-levels

[2014-05-25 16:17] jpstroop opened #71 "Drop conneg and default format (except on base URI)"
See http://iiif.io/api/image/2.0/change-log.html#dropped-support-for-content-negotiation-and-default-image-format

[2014-05-25 16:20] jpstroop opened #72 "Add rel=canonical link to Link header"
See: http://iiif.io/api/image/2.0/change-log.html#added-canonical-uri-form

[2014-05-25 16:21] jpstroop opened #73 "Add protocol to info.json"
See http://iiif.io/api/image/2.0/change-log.html#added-protocol-property-to-image-information-document

[2014-05-25 16:22] jpstroop opened #74 "Add size to info.json"
Can report the JP2 levels.
http://iif.io/api/image/2.0/change-log.html#added-size-property-to-image-information-document

[2014-05-25 16:24] jpstroop opened #75 "Support JSON-LD as an Accept header"
See http://iiif.io/api/image/2.0/change-log.html#support-json-ld-contenttypeaccept-header

Also need to add link to context to link header if request if for JSON (not-LD) or no accept header.

[2014-05-25 16:27] jpstroop opened #76 "Add protocol to info.json"
See http://iiif.io/api/image/2.0/change-log.html#added-protocol-property-to-image-information-document

[2014-05-25 19:02] jpstroop opened #77 "Report tile size from JP2s with precincts"
jp2_precinct_support branch is working on this.

[2014-05-26 18:56] #77 closed, assigned to jpstroop

[2014-05-27 12:00] #70 closed, assigned to jpstroop

[2014-05-27 21:53] boskar opened #79 "Consider openslide input"
https://github.com/openslide/openslide-python is a very interesting library supporting multiple slide formats using in digital microscopy.
There is even a proof-of-concept deep zoom server example there, PIL based.
Currently I'm using vips conversion to pyramid tiff, and then - iipserver to IIIF and openseadragon. Direct support of openslide input in production quality software like loris would be

[2014-05-28 01:28] jpstroop opened #80 "double check size_above_full"
Should work, make sure since we're declaring it. Perhaps consider making this optional?

[2014-05-28 01:59] #68 closed, assigned to jpstroop

[2014-05-28 02:25] jpstroop opened #82 "info as ttl?"
Mostly as a way to exercise the extension capabilities in `supports`

[2014-05-28 16:56] jpstroop opened #83 "Some images need resampling"
E.g. engravings scale down really badly. Solution is to add `resample=PIL.Image.ANTIALIAS` when resizing, but it seems like a pretty big performance hit, we don't usually need it,  and the sizes at which it images look particularly poor depend on too many variables. So, how do we know when to resample vs. just resize?? Advice from the Internets welcome :smile: .

[2014-05-28 17:25] #83 closed, assigned to jpstroop

[2014-05-28 18:16] jpstroop opened #84 "option for bitonal alg"
See http://pillow.readthedocs.org/en/latest/reference/Image.html#PIL.Image.Image.convert

[2014-05-28 22:26] jpstroop opened #85 "Can map_profile_to_srgb be turned off?"
Setting the option doesn't seem to do it, commenting code does.

[2014-06-10 10:49] #67 closed, assigned to jpstroop

[2014-06-10 10:54] jpstroop commented on #73
This was closed with 6a01ae68056476bface74722497586896c6b52a7

[2014-06-10 10:54] #73 closed, assigned to nobody

[2014-06-10 13:08] #74 closed, assigned to jpstroop

[2014-06-10 18:58] lfarrell commented on #58
Would you be amenable to the University of North Carolina Libraries adding in serving images from other servers and adding in some basic authorization and then contributing our code back to the Loris code base, pending a review on your end of course.  I'm not sure what you have planned for Loris and if these are already on the roadmap.

Thanks,

Dean

[2014-06-11 23:09] #69 closed, assigned to jpstroop

[2014-06-12 13:12] #64 closed, assigned to jpstroop

[2014-06-12 13:12] #71 closed, assigned to jpstroop

[2014-06-25 10:00] jpstroop opened #89 "Mirroring support to info.json"
https://github.com/IIIF/iiif.io/blob/master/source/api/image/2/context.json#L19

needs to be added to `supports`

[2014-06-29 06:26] doktorbro opened #90 "Original image directory"
Do you have a global option for a directory with all the original images or must the identifier contain the whole path to the image?

[2014-06-29 11:45] jpstroop commented on #90
**Short Answer:**

Set this: https://github.com/pulibrary/loris/blob/development/etc/loris.conf#L34

See also: https://github.com/pulibrary/loris/blob/development/doc/resolver.md

**Long Answer:**

See: https://github.com/pulibrary/loris/issues/62

I always assumed that the resolver class was something people would want to override--people will have their IDs in different databases, may wish to ap

[2014-06-29 12:29] doktorbro commented on #90
Thank you.

[2014-06-29 12:29] #90 closed, assigned to nobody

[2014-07-09 22:00] jpstroop opened #91 "Refactor info.json (again) to reflect spec changes"

[2014-07-13 13:07] jpstroop commented on #60
See [this conversation](http://stackoverflow.com/q/2646157/714478). Reports that a class with `__slots__` (what we have now) is over 2x faster than named tuples.

Was thinking about this for ImageInfo (the data carrier part of the object...the fact that there are multiple constructors would complicate things further), but it doesn't look like we'd get a performance boost for the trouble.

[2014-07-13 13:07] #60 closed, assigned to jpstroop

[2014-07-14 21:07] jpstroop commented on #50
will need to include license

[2014-07-14 21:30] #91 closed, assigned to nobody

[2014-07-16 22:55] azaroth42 opened #94 "identifier/ errors"
Perhaps a spec bug, but identifier/ gives 400 rather than redirection to /info.json

[2014-07-16 23:10] jpstroop commented on #94
Thanks, I'll check it out. Could be one of a few things (maybe my moral
opposition to the idea shining through :-)), but probably just a bug
introduced when I refactored the routing recently.

-Js

Sent via mobile. Please excuse typos, brevity, etc.
On Jul 16, 2014 6:55 PM, "Rob Sanderson" notifications@github.com wrote:

[2014-07-17 22:57] rlskoeser commented on #58
Are there any examples of extending/overriding the resolver?

It looks like the resolver returns a local file path and the format; that means an http resolver would need to pull the content and create a file somewhere locally, right? It seems like it might make sense to put it in the cache directory to take advantage of existing cache cleanup script, but it doesn't look like the resolver has acces

[2014-07-18 01:01] jpstroop commented on #58
@rlskoeser This has been a topic for a while now, and your timing is very good, as @lfarrell and I had a call about it this morning! The diff above (0d3e1b1c72ee311ebb73537bd2eb6078b22d5839), which helps lay the groundwork for some stuff he's going to do, may be enough to help you get the gist of my intentions wrt making this easier, but I'll add some annotations to it, and then maybe you can ask

[2014-07-18 22:15] rlskoeser commented on #58
@jpstroop thanks for the info, this is helpful.   So should I be working with the development code then?

It seems that loris relies pretty heavily on file extensions to determine image format (at least in the stable release - maybe this has been addressed in dev version?).  Seems like this would already be problematic (I tested with a file that had a .jpeg instead of .jpg and got a 500 error), bu

[2014-07-18 23:10] jpstroop commented on #58
@rlskoeser Yes, I would recommend working on the development branch as it'll (soon--I didn't get to write a unit test today for the branch I mentioned above, so it's not been merged--hopefully this weekend) be the one that has a more flexible resolver configuration. One big caveat: the info.json syntax has [changed significantly](http://iiif.io/api/image/2.0/#image-information) since the [1.1 rele

[2014-07-19 11:54] jpstroop opened #95 "Image format identification"
See [this comment](https://github.com/pulibrary/loris/issues/58#issuecomment-49485717). It's true, and this is a fairly typical convention for image processing libraries (as I wrote [here](http://iiif.io/api/image/2.0/change-log.html#dropped-support-for-content-negotiation-and-default-image-format) when IIIF dropped support for conneg) and I don't feel that bad about it.

**However**, with the cur

[2014-07-19 11:59] jpstroop commented on #58
@rlskoeser, just FYI: #95

[2014-07-19 12:58] #62 closed, assigned to jpstroop

[2014-07-20 01:15] jpstroop opened #97 "webp support"
Easy: http://pillow.readthedocs.org/en/latest/handbook/image-file-formats.html#webp

[2014-07-21 13:50] jpstroop opened #98 "Implement an HTTP Resolver"
A few questions here:
- Does the whole URI go into the identifier slot (escaped, of course)?:

[code]
- Or just some part of the URI that gets plugged in (config could supply a string template):

[code]

  so that the identifier slot could just be a (more succinct, tidier) portion of the URI. Option 1 (above) and this may not be mutually exclusive, i.e. if there's a template specified, use it, if

[2014-07-21 14:05] jpstroop commented on #98
These are the thoughts about an HTTP resolver that have been floating around in my head, whether @lfarrell does it or someone else. @rlskoeser any thoughts about this?

[2014-07-21 14:56] ebenenglish commented on #98
Just chiming in as we're interested in this issue as well...

Identifiers:
I think to be as flexible as possible, you'd want to pursue the "if there's a template specified, use it, if not, don't" option. For our implementation, we'd probably specify the URL-root template in the config so the URLs that get constructed for Loris can be simpler/cleaner/shorter by just using the image identifier. Mult

[2014-07-21 16:12] jpstroop commented on #98
OK, so you could also specify a format, that would be cool. What about, then:

[code]

There's a separate [discussion about using file suffixes vs. MIME types](https://github.com/pulibrary/loris/issues/58#issuecomment-49489841) in #58.

The case for multiple templates comes from what I think I heard from UNC--that some requests will be HTTP and others HTTPS (true?) and/or that images may come from

[2014-07-23 09:53] regisrob opened #99 "[error] IndexError: pop from empty list"
Hi Jon,
This is my first test with Loris 2. I think the install is ok, test.py is ok and info.json requests are ok too.
But when requesting default.jpg I have the following error in apache logs. Do you have an idea?
I'll try another install elsewhere.

<pre>
[Wed Jul 23 11:00:30 2014] [error] [client 10.14.1.40] mod_wsgi (pid=16228): Exception occurred processing WSGI script '/var/www/iiif/loris2/

[2014-07-23 11:06] jpstroop commented on #99
Regis,
The routing has been pretty heavily refactored since 1.1. The tests are passing, but it's always possible that I introduced a new bug :wink:. The error is happening here:

https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L313

Could you send me the full URI for the request you're trying to make (it doesn't need to resolve--I just need to see the string).

Thanks!

[2014-07-23 11:30] jpstroop commented on #99
(Just a note to self) Problem may be here:

https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L549

What's the significance of `[3:]`? Have a feeling it's inadvertently hard-coded to the tests. Need to add some debug log statements.

Maybe replace it with something this, which is nicer anyway:

[code]

[2014-07-23 12:03] regisrob commented on #99
The requested URI is:

<pre>
http://mydomain.fr/loris2/T0000009.jp2/full/full/0/default.jpg
</pre>

[2014-07-23 12:40] jpstroop commented on #99
OK, thanks. I'll look into it as soon as I get into the office.

-Js

Sent via mobile. Please excuse typos, brevity, etc.
On Jul 23, 2014 8:03 AM, "regisrob" notifications@github.com wrote:

[2014-07-23 13:12] #99 closed, assigned to nobody

[2014-07-23 13:16] jpstroop commented on #99
Regis,
I was able to reproduce, and the bug was exactly what I thought. Thanks for catching it! I'm 99% sure this will fix it.
-Js

[2014-07-23 15:01] regisrob commented on #99
Thanks a lot! You were perfectly right, now it works fine.
I just struggled a little bit with Kakadu: it took me some time to figure out that setup.py had replaced my kdu_expand in "/usr/local/bin"!

[2014-07-23 15:02] jpstroop commented on #99
Hmm...do you think that shouldn't be a default? Could be. Want to file a
ticket?

-Js

Sent via mobile. Please excuse typos, brevity, etc.
On Jul 23, 2014 11:01 AM, "regisrob" notifications@github.com wrote:

[2014-07-23 15:47] regisrob commented on #99
I didn't read the updated README, so it's my fault! So yes, I think it's really useful to have it by default, but there is always a chance that your kdu_expand won't work in a given environment or architecture (at least I suppose... because it's my case with an old Debian 6 on our production server). In my opinion your instructions about Kakadu in dependencies.md are clear and sufficient.
Just one

[2014-07-23 19:18] rlskoeser commented on #98
I implemented a rough version of an http resolver in the 1.2.2 release code, and was just a url-escaped version of the whole url for the identifier.  That does make for pretty ugly identifiers, so having a configurable template or shortcut to full url paths sounds like a nice option.  I agree with @ebenenglish that the resolver should still support full urls - so the url templates would be a conve

[2014-07-24 08:45] eocarragain commented on #98
IIPImage server recently started using "magic numbers"/"file signatures" to determine image formats.

See discussion: http://sourceforge.net/p/iipimage/discussion/299493/thread/03f8c54c/
Commit: https://github.com/ruven/iipsrv/commit/16f3fd95f4940ba2bb637959b9d469854f6bccfb

EDIT: looks like this is similar to the python-magic approach described here https://github.com/pulibrary/loris/issues/95

[2014-07-24 11:45] jpstroop commented on #95
(In reference to https://github.com/pulibrary/loris/issues/98#issuecomment-49982002)

@eocarragain Thanks! Ruven and I had a brief discussion about this last winter--nice to see he has a solution. His approach is probably a lot more efficient and makes a lot of sense: using a big library like I proposed in #95 is probably overkill when we could just as easily sniff at the first few bytes of the fi

[2014-07-24 11:47] jpstroop commented on #98
@eocarragain, thanks! I wrote a response over on #95. [Here, specifically](https://github.com/pulibrary/loris/issues/95#issuecomment-49997519).

[2014-07-24 11:54] jpstroop commented on #98
Rebecca (@rlskoeser),
Wow, thanks for the feedback! Just so you're all aware you all (+ @ebenenglish, @lfarrell) have at least the same broad use case--integration with Fedora.

I have some more ideas that refine the discussion thus far and want to work up a little flowchart for how I think this can work nicely. I will try get it up later this morning.

[2014-07-24 12:02] jpstroop commented on #58
@rlskoeser unrelated to this ticket and it may not even apply to your use case, but [since I mentioned it above](https://github.com/pulibrary/loris/issues/58#issuecomment-49489841)... :smile:

@azaroth42 is working on a new TileSource for OpenSeadragon and it looks nearly complete (not on github yet, or I'd link). I suspect there will be IIIF 2.0-draft support on the master branch of OpenSeadragon

[2014-07-24 12:05] jpstroop commented on #58
@lfarrell this issue may have splintered into #95 and to some extent #98. Are you OK with closing, or is there still a separate issue here?

[2014-07-24 13:39] jpstroop commented on #98
Given:

[code]

Following magic where we parse the config dict into:

[code]

or something similar; any other config properties (`cache_dir` may be the only one) should be written to attributes of the instance.

The cache structure would be:

[code]

The identifier could be split as necessary (into pairs or chars) to keep any dir from getting too full. We'd just need a method that could calcuate i

[2014-07-24 20:27] ebenenglish commented on #98
Couple of concerns at this point:
- Ditto @rlskoeser on the lack of file-type-suffixes in Fedora URLs.
- Most identifiers in Fedora Commons (which is what many of us use) are prefixed by a `pidspace + ':' + identifier_string` (for example: `bpl:rx913q62j`). So the logic that parses the identifiers would need to be aware that the portion of the identifier before the colon doesn't always mean that t

[2014-07-24 21:46] jpstroop commented on #98
This is good, thanks. Some replies inline:

But `content-type` is reliable, right? Or else fallback to file identification once we've downloaded? Caching on the server with a format extension is going to be faster than having to check the format every request, and seems like a reasonable enough convention, no?

Yeah, that's true. But if this were your resolver, you'd know that, right, and would pr

[2014-07-28 09:42] regisrob commented on #76
I've tested the OSD fork from Rob (https://github.com/azaroth42/openseadragon) and it has raised an issue with Loris: it seems that the "protocol" parameter is not printed as expected in the info.json (I'm using the last dev build of Loris).

[2014-07-28 11:38] jpstroop commented on #76
@regisrob Can you give me a little more info (I will try to replicate later this AM).

Protocol is added here: https://github.com/pulibrary/loris/blob/development/loris/img_info.py#L59

and the values match:

https://github.com/azaroth42/openseadragon/blob/master/src/iiifmultitilesource.js#L120

https://github.com/pulibrary/loris/blob/development/loris/constants.py#L5

Are you seeing a stack trace

[2014-07-28 12:24] regisrob commented on #76
I see nothing in loris.log (even in DEBUG mode), nor in apache logs.
I ran this command: python -m unittest -v tests.img_info_t
... and checked the info file generated in "/tmp/loris/cache/info/01%2F02%2F0001.jp2/info.json" ("protocol" still not there):

<pre>
{"profile": ["http://iiif.io/api/image/2/level2.json", {"supports": ["canonical_link_header", "rotation_arbitrary", "size_above_full"],
"qu

[2014-07-28 12:27] jpstroop commented on #76
Interesting. I will look into it first thing this AM. Was planning to do
the same thing as you this week (with Rob's OSd), so you're helping me!

[2014-07-28 12:31] regisrob commented on #76
:wink:
Thx

[2014-07-28 13:30] #76 closed, assigned to jpstroop

[2014-07-28 13:30] #89 closed, assigned to nobody

[2014-07-28 13:39] jpstroop commented on #76
Should be good to go. As the commit says, [protocol was never serialized in the JSON](https://github.com/pulibrary/loris/pull/100/files#diff-e430a6bf6cb20d5b52a3503ebde8e7f3R269). I took a couple extra minutes to update a few other things that had been looming for info.json--hope it didn't hold you up too long!

[2014-07-28 14:33] regisrob commented on #76
Thx, it's perfect! :sunglasses: Now it works natively with the new OSD tilesource by @azaroth42

[2014-07-28 14:33] jpstroop commented on #76
:+1:

[2014-08-04 11:42] jpstroop commented on #72
Closed in 382e2e23ef5dd8d198cebf5666907f830d221bca.

[2014-08-04 11:42] #72 closed, assigned to jpstroop

[2014-08-06 17:46] #80 closed, assigned to jpstroop

[2014-08-06 23:53] #57 closed, assigned to jpstroop

[2014-08-07 20:46] #75 closed, assigned to jpstroop

[2014-08-07 22:18] jpstroop commented on #94
@azaroth42, just doing some cleanup and ran across this. `/identifier/` does 404, but `/identifier` (no trailing slash) works. I suppose the friendly thing to do is to just make it work (redirect), but, for the record, we don't bring that out in the spec.

[2014-08-07 22:20] azaroth42 commented on #94
Should we fix it in the spec?

[2014-08-07 22:32] jpstroop commented on #94
I don't think so. The presence of a trailing slash is ambiguous. However unlikely, you're in trouble if your identifier happens to end with a slash AND you chose to take this path to the info rather than `/info.json`. How does a server know when to strip it off, and when not? (current coding session is reminiscent of Easter Sunday, so it's possible I'm missing something entirely :wink:).

[2014-08-08 11:27] jpstroop commented on #50
Where to put this when deploying? `/usr/local/share...` is probably the "correct" place, but it feels like stuff is really spreading over the filesystem. Maybe just next to the WSGI script? Or `/etc/loris` next to the config?

[2014-08-08 11:28] jpstroop commented on #50
Address this and #85 in the same PR.

[2014-08-09 17:35] jpstroop opened #105 "should loris.conf be renamed loris2.conf?"
May help with running mutiple versions

[2014-08-09 17:38] jpstroop opened #106 "Refactor create/from cache/304 logic"
Got a little messy after adding support for rel=canonical link header.

Around here: https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L442-L517

[2014-08-09 17:41] jpstroop commented on #98
Is there still an interest in this?

[2014-08-10 13:41] regisrob commented on #105
+1. It would prevent to modify setup.py and webapp.py each time you want to deploy a new version

[2014-08-10 16:59] jpstroop commented on #105
Thanks, that's exactly what I was thinking. I assume you're running
multiple versions on one server--was there anything else you had to do to
make that possible?

(ping @azaroth42)

-Js

Sent via mobile. Please excuse typos, brevity, etc.

[2014-08-10 22:20] regisrob commented on #105
Yes I have two instances on the same server, and I only had to follow these steps to make them coexist:
- change ETC_DP to '/etc/loris2' in setup.py and webapp.py
- get round the default behavior with KDU binary and shared library coming with Loris 2 (avoid the files already existing on the system to be overwritten at setup by those provided by Loris)

That's all, I think.

[2014-08-11 14:25] ebenenglish commented on #98
I'm definitely still interested. How are things looking?

[2014-08-11 15:25] rlskoeser commented on #98
I'm definitely still interested too.

I got sidetracked with other projects and didn't make any comments right after the last exchange, and when I got back to it I looked and didn't see anything that I particularly felt I needed to comment on or respond to.  It also doesn't seem like to me that we'll be able to use Loris in production for a while, for our systems and needs, given where the develop

[2014-08-11 17:08] jpstroop commented on #98
OK, glad to hear it! @rlskoeser: nothing in particular, I'm just glad to know that this seems useful. @ebenenglish, does the multiple templates thing still bug you, or did I manage to convince you? :grinning:

I'm curious to hear from @lfarrell since UNC pitched the initial case. If something in this fairly generalized approach works for them, maybe they can take a stab at it, or else I can try so

[2014-08-11 17:18] jpstroop commented on #105
Do with #63 and before #98

[2014-08-11 19:27] jpstroop commented on #105
@regisrob You must have two versions of Loris on your PYTHONPATH. How does the WSGI script (/var/www/loris/loris.wsgi) know which to import?

[2014-08-11 19:45] #63 closed, assigned to jpstroop

[2014-08-11 19:45] #105 closed, assigned to nobody

[2014-08-11 21:08] jpstroop commented on #35
Should have been closed with 7d02dbe119b4cddeb552ac09a201dd4721d2edef

[2014-08-11 21:08] #35 closed, assigned to jpstroop

[2014-08-11 21:37] #94 closed, assigned to nobody

[2014-08-12 11:29] jpstroop opened #109 "Should Kakadu be optional in setup.py?"
Maybe `--with-kdu` or `--with-opj` and neither by default?

[2014-08-13 13:33] ebenenglish commented on #98
@jpstroop I've made my peace with the multiple template idea. No problems going forward.

[2014-08-14 20:57] jpstroop opened #110 "Support Python 2.6"
For those like @azaroth42 stuck on RedHat/CentOS. :smile:

[2014-08-14 21:00] azaroth42 commented on #110
RHEL = :crying_cat_face:

[2014-08-14 22:55] #110 closed, assigned to nobody

[2014-08-14 23:05] jpstroop commented on #110
@azaroth42 Good to go.

Changes were:
- Conditionally importing `OrderedDict` from `ordereddict`, as discussed,
- Changing `Decimal` constructors to use strings instead of floats (sometimes resulting in an extra cast, but I don't think it's that big a deal, and I could probably tidy it up a bit more), and
- Using an older syntax for unit testing that exceptions are raised, [e.g. this](https://gith

[2014-08-14 23:07] jpstroop commented on #110
Ping @mmcclimon, in case this interests you.

[2014-08-14 23:41] jpstroop commented on #110
(and re: RHEL--eventually it'll be _extra_ secure because nobody will flippin; use it!) :smile_cat:

[2014-08-14 23:49] jpstroop commented on #61
Consider: http://pillow.readthedocs.org/en/latest/handbook/image-file-formats.html#jpeg-2000

[2014-08-14 23:50] azaroth42 commented on #110
Sweet! Thanks @jpstroop :beer: That will indeed make life MUCH easier on ouRHELl.

[2014-08-18 08:59] regisrob commented on #105
Loris 2 is built in a separate virtualenv and loris.wsgi is located in a separate folder. I have this config on my test server:

**Loris 1:** /var/www/iiif/loris/loris.wsgi
with: site.addsitedir('/usr/local/loris/lib/python2.7/site-packages')

**Loris 2:** /var/www/iiif/loris2/loris.wsgi
with: site.addsitedir('/mnt/vdata/opt/loris2/env/lib/python2.7/site-packages')

... and the Apache part in the

[2014-08-18 15:00] regisrob opened #112 "Absolute file system path in @id when source image is jpg"
While testing Rob's validator, I noticed that info.json returns the absolute file system path when requesting a jpg file as source image (I'm using the latest dev build):
See http://interne.biblissima-condorcet.fr/loris2/67352ccc-d1b0-11e1-89ae-279075081939.jpg/info.json

[2014-08-18 18:16] jpstroop commented on #112
Hmmm..
I can't seem to reproduce this, either with the embedded dev server or behind apache. The fact that it's happening with JPGs only also seems a little weird. It's not happening with your JP2s, correct?

Could you clear the cache of that file, restart, and try again? If that doesn't work, could you turn your logging up to 'DEBUG' and send me the statements from the info request?

[2014-08-18 21:11] regisrob commented on #112
Cleaning the cache did the trick! (sorry). Weird, I'm sure I saw an "/mnt/vdata/..." at some point, although I was a bit tired this afternoon :tired_face:

Loris scores 29/31 in the validator :ok_hand:

[2014-08-18 21:14] jpstroop commented on #112
Cool...that one had me confused!

Haven't had a chance to run against the validator, but I'll have it to 31/31 (or better) by the end of the week!

[2014-08-18 21:14] #112 closed, assigned to nobody

[2014-08-18 21:25] regisrob commented on #112
Woo hoo!
![loris-3](https://cloud.githubusercontent.com/assets/402117/3958224/f33bd67a-271d-11e4-861f-1646ace08da3.jpg)

[2014-08-18 22:14] jpstroop commented on #112
Man, that was going to be in my release announcement!

![loris-gif](http://www.pbh2.com/wordpress/wp-content/uploads/2013/06/cutest-slow-loris-gifs-tickle.gif)

[2014-08-18 23:39] #61 closed, assigned to jpstroop

[2014-08-19 00:26] jpstroop commented on #51
Was about to close this, but noticed that you asked about Python 2.6. As of #110, python 2.6 is supported.

[2014-08-19 00:26] #51 closed, assigned to nobody

[2014-08-19 00:29] jpstroop commented on #109
@regisrob -- Any opinions about this? I'm really not sure what's the right thing. I know you have to do a custom build of kakadu; would it be easier if kakadu was just out of the way by default? Do you think it's worth it?

[2014-08-19 09:19] regisrob commented on #109
I understand the reason why kakadu is set by default (which is a good reason of course), but I think I'm in favour of "neither by default" (and --with-kdu or --with-opj as arguments for setup.py install).
Thus Loris doesn't favour any codec or format by default.
It would avoid to copy unnecessary files on the system in case you don't want to use jpeg2000 (but only tiled TIFF or static jpeg)
And a

[2014-08-19 20:44] #84 closed, assigned to jpstroop

[2014-08-19 20:44] #97 closed, assigned to nobody

[2014-08-20 20:41] #31 closed, assigned to jpstroop

[2014-08-20 20:42] jpstroop opened #117 "Update README to include that we're IIIF 2.0 compliant"

[2014-08-21 20:06] lfarrell commented on #98
@jpstroop, yes a big part of our traffic at UNC would be from/to fedora, undergirded by iRods to our digital repository webpages, which would all be https.

[2014-08-21 20:32] #117 closed, assigned to nobody

[2014-08-27 15:05] lfarrell commented on #58
@jpstroop, sorry for the long delay.  I went on vacation and then got caught up in other things.  Closing this issue is fine

[2014-08-27 15:10] lfarrell commented on #58
@rlskoeser I was having similar issues with extensions, as a lot of our images have this format https://url.edu/uuid:21a69f8b-028d-4a67-962b-e88ca16c73e8/IMAGE_JP2000 to access the remote image.  I've got it working locally here at UNC, but it's pretty naive.  It uses @jpstroop file extension check against a list of file types ['png', 'jpg','jpeg', 'jp2'].  If no extension is found it defaults to

[2014-08-27 15:45] #58 closed, assigned to nobody

[2014-08-27 15:46] jpstroop commented on #98
@lfarrell, are you interested in trying to take a crack at this approach?

[2014-08-29 19:06] jpstroop opened #119 "info to camelCase"
See https://github.com/IIIF/iiif.io/commit/39ce4cf6f7d52d841bb6957ebef8e16505cb1b8f

[2014-09-03 18:53] #119 closed, assigned to nobody

[2014-09-08 12:09] regisrob opened #121 "PIL issue with TIFF compressed with deflate method"
I guess it's not an issue on the Loris side but I'm reporting it here as a shared note. I noticed that when a TIFF is compressed with deflate method, Loris (PIL) throws a 500 error "IOError: decoder tiff_adobe_deflate not available". I don't have any idea about what is missing on the system (I have libtiff4 and its headers). It's not an issue for our use of Loris but I think it' good to know... (e

[2014-09-08 13:25] jpstroop commented on #121
Thanks! I've had some trouble writing (deriving) TIFFs with Pillow as well, but haven't looked into too deeply since it seems like such a feature would have limited uses.

This makes sorting it all out a little more compelling, as I assume there are optimizations that could be made when a tiled TIFF is detected.

[2014-09-08 23:54] jpstroop opened #122 "paths not unescaped in cache"
[code]

[2014-09-09 00:34] jpstroop opened #123 "@id is occasionally wrong"
This is elusive and appears to be random.

[code]

It happens when the info is created, and so it persists to the cache. Clear the cache, call it again, and the behavior is as expected.

@regisrob has seen it, and I've seen it in two requests on the server, but can't otherwise reproduce it!

:imp:

The hack / temporary way to catch it in the logs would be to catch when `@id` does not start with "h

[2014-09-09 08:13] regisrob commented on #123
+1
I confirm that it seems to be random. I see this bug from time to time and have to delete manually the info in the cache to regenerate it.

[2014-09-09 10:15] jpstroop commented on #123
Thanks. If you see any pattern, please let me know...this one's driving me nuts! The info gets persisted to the filesystem cache incorrectly, so it happens sometime between extraction of the info and the call to `to_dict` but so far that's all I know.

[2014-09-09 10:53] jpstroop commented on #123
Log sample, **bad**:

[code]

Log sample **good**:

[code]

[2014-09-09 11:16] jpstroop commented on #123
PATTERN: Happens when you get the image before the info has ever been requested.

[2014-09-09 11:25] #123 closed, assigned to nobody

[2014-09-09 14:01] #122 closed, assigned to nobody

[2014-09-09 17:40] jpstroop commented on #123
@regisrob To confirm: the validator was consistently reproducing the error (@azaroth42: :beer:) because the first thing it does is requests an image. Now: http://goo.gl/P1KBkU

[2014-09-10 08:33] regisrob commented on #123
Thanks! I'm all green too :white_check_mark:

[2014-09-16 09:11] jpstroop opened #125 "Docker README as steps"
@eliotjordan Would you be willing to organize the README for Docker into options and steps? As a newb, I'm not sure (I am now, mostly, but I'm pretending) if I'm supposed to do everything listed on that page, or choose certain headings based on what I think I want to do, or what....
So, maybe (as an outline):
- A sentence or two explaining what Docker can do for you
  - and then headings for each

[2014-09-16 13:04] eliotjordan commented on #125
Yes it does. The README borrows the style of public docker images on [dockerhub](https://registry.hub.docker.com/u/dockerfile/nginx/) targeting a more experienced audience. I'll work on this.

[2014-09-16 13:08] jpstroop commented on #125
Awesome, thanks.

[2014-09-17 20:33] schwemmer opened #126 "Preserve image metadata (EXIF, IPTC) from source image when generating target image"
Would it be possible to preserve the image metadata such as EXIF and IPTC in the generated image?
The attached JPEG is a sample image that contains some metadata (normally we use JP2 files but I can't upload one here). If you open it in Photoshop or another application that can read image metadata you will find some metadata such as contact information, copyright notice, camera settings etc. (see

[2014-09-18 08:41] jpstroop commented on #126
The info from your file (thanks for that!) is below. My concern is that some of it is logical (e.g. Exif.Image.Artist, Exif.Image.Copyright, the IPTC data, and then the XMP representations of those) and therefore makes sense for copying over; while most of the exif fields are technical and aren't necessarily true about the downstream derivative file (e.g. dimensions, orientation, bits per sample);

[2014-09-18 09:55] jpstroop commented on #126
E.g.

[code]

[code]

[code]

[2014-09-18 12:20] jpstroop commented on #126
OK, check out the branch referenced above; it still needs some tidying up, but assuming you're on an Ubuntu system, do:

[code]

(Exact version of gir1.2-gexiv2-0.10 may vary).

and set `copy_iptc = True` in the config file.

I haven't figured out how to get gexiv2 to work with virtualenv yet; I'm sure there must be a way, but if that's a concern for you you may need to make some symlinks or somet

[2014-09-18 12:26] lfarrell commented on #51
Okay, great thanks.

[2014-09-18 12:30] lfarrell commented on #98
Sorry, this has fallen behind other things at the moment here.  If you want to ahead feel free.  I need to wait until our sys admins having a working Loris server up.

[2014-09-18 13:58] schwemmer commented on #126
Thank you so much for your extremely quick response! I agree with you that the Exif data is problematic. Our idea, originally, was to display some info about exposure time, f-stop etc. alongside the image, similar to what Flickr does. However, you are right that this is questionable for an image that is several derivatives away from the original image (in our case: RAW => TIFF => JP2 => JPEG) and

[2014-09-18 16:50] schwemmer opened #127 "Log error message if tmp directory is not readable/writeable"
I've run into this a couple of times while installing and experimenting with Loris: when requesting an image and the tmp directory is not readable or writeable you get an internal server error but the log does not show any error so it is a bit difficult to figure out what the problem is. The solution was to do a

`sudo chown -R loris /tmp/loris/tmp`
`sudo chgrp -R loris /tmp/loris/tmp`

It would b

[2014-09-18 17:12] schwemmer commented on #127
Upon further investigation I could find the error being logged to the apache2 error.log:

`CalledProcessError: Command '/usr/bin/mkfifo /tmp/loris/tmp/jp2/brrgp.bmp' returned non-zero exit status 1`
`/usr/bin/mkfifo: cannot create fifo '/tmp/loris/tmp/jp2/ddfzi.bmp': Permission denied`

It would still be useful if something was logged to the loris log file though. I think the same applies if the s

[2014-09-18 18:15] jpstroop commented on #127
I've run into it too...just never bothered doing anything about it :sleepy:. I think this takes care of it.

[2014-09-18 18:21] #127 closed, assigned to nobody

[2014-09-18 20:21] schwemmer commented on #127
Great, thanks!

[2014-09-22 16:12] schwemmer commented on #126
Hi Jon, I tried to install the required dependencies on my server (Debian 6). The libexiv2-dev package was no problem, but there is no gir1.2-gexiv2-0.10 or equivalent/similar package available for Debian 6. After a few hours of trying I gave up and asked @regisrob if he has an idea on how to install the dependency on Debian 6. While he also wasn't able to install the required package on Debian he

[2014-09-22 17:43] jpstroop commented on #126
I don't know Debian at all, but I wonder if there's a way of getting backports? I see this:

https://packages.debian.org/source/sid/gexiv2

but assume that's for Debian 7?

otherwise, yeah, I guess it's pyexiv2 (which I was hoping to avoid).

Is building from source (:crying_cat_face: I realize) and option?

https://wiki.gnome.org/action/show/Projects/gexiv2

[2014-09-22 19:30] jpstroop commented on #126
OK...building from source is not an option! I just spun up a Debian Squeeze box from scratch and quickly wound up in dependency hell (or purgatory....not sure which seems more appropriate :imp: ). So it looks like the pyexiv2 might be the way to go, at least for a while.

I'll try to have a look in the next day (evening) or two.

[2014-09-22 20:33] jpstroop commented on #126
Hmm...the console code you pasted above doesn't work for me. What does this:

[code]

return for you?

[2014-09-22 21:03] schwemmer commented on #126
Sorry for the trouble. Yes, dependency hell indeed, I've been there too. Strangely, the code from Régis works for me but when I do

[code]

all I get is an error:

[code]

even though it's in the docs: http://tilloy.net/dev/pyexiv2/doc/release-0.3.0/api.html

To spare you too much trouble with this I can consider upgrading to Debian 7 – not sure if it's feasible though. I will have to talk to the

[2014-09-22 21:24] jpstroop commented on #126
urgh...looks like version 0.1.3 is what apt has for debian 6, and that method doesn't even exist!

[2014-09-22 21:28] jpstroop commented on #126
As far as I know the debian users are you and @regisrob, but if I can handle it the differences, I don't mind trying. Just have to try to guess the older API...unless either of you know how to _write_ tags with version 0.1.3.

[2014-09-22 21:35] jpstroop commented on #126
Found the docs. Retro!

http://tilloy.net/dev/pyexiv2/doc/release-0.1.3/pyexiv2.htm

[2014-09-22 21:41] jpstroop commented on #126
Hmm...I think you might want to consider an upgrade. 0.1.3 doesn't support XMP :frowning:.

[2014-09-22 22:02] schwemmer commented on #126
Wow, these docs look _really_ old :-) Thanks for trying! I appreciate it. I think upgrading to Debian 7 makes sense, at least if we want this feature. I will see what I can do tomorrow and report back.

[2014-09-23 19:34] schwemmer commented on #126
Hi Jon, I upgraded to Debian 7 without problems today. However, my Loris server stopped working and I spent all day trying to get it back to working but without success. I am getting "undefined symbol: PyUnicodeUCS4_AsLatin1String" error messages and 500 errors.

Also, I just noticed now that the required gir1.2-gexiv2-0.10 package isn't even available on Debian 7 (Wheezy) but only on the next unr

[2014-09-23 20:11] jpstroop commented on #126
Youch, I'm sorry!

If you still have the machine, can you check the version of python? I can't help but wonder if you were running with a 3.x.y version of python.

[2014-09-24 09:38] schwemmer commented on #126
After all, we were able to solve the problem now. We were using Python 2.7.3 that comes with Debian 7. The first problem was that _functools was not found which was fixed by adding this to the WSGI file:

[code]

The second problem, the "undefined symbol: PyUnicodeUCS4_AsLatin1String" error was fixed by using a custom version of Python compiled with Unicode support like this:

[code]

So now it's

[2014-09-24 12:23] jpstroop commented on #126
What a palava! (as my English wife would say). I do I have a version
that works with pyexiv2 as well, but it doesn't like one of your IPTC
tags. I'll push it to that same branch when I get into the office.

We also still need to test with one of your JP2s, since--I
believe--baseline JP2 doesn't actually support exif, iptc, etc.
(Photoshop produces jpx or jpf, or one of those, which does).

[2014-09-24 12:58] jpstroop commented on #126
The error is:

[code]

I just pushed a branch from the `exif` branch, `exif_with_pyexiv2` in case you want to play around with it, but I think we should try as hard a possible to use gexiv2. Agree?

[2014-09-24 19:30] schwemmer commented on #126
I agree that Gexiv2 will be the way to go. We did try as hard as possible to install it on Debian 7 but it's dependency hell all over again. We tried installing it from experimental Debian sources, from the Jessie (next Debian release) sources, downloading it from Github and compiling it etc. The best we could get is that Python finds the module but complains about "typelib missing" and everyone o

[2014-09-24 20:05] jpstroop commented on #126
If that's OK with you, I think you're correct. I'll polish the feature (the `exif` branch) and get it in sometime soon so it'll be there when you're ready for it. Thanks for your efforts though, and in the meantime if another approach reveals itself, I'm happy to explore it.

None of my business, of course, but you could always "upgrade" to Ubuntu. :wink:

[2014-09-25 09:33] schwemmer commented on #126
Yes, this sounds like a good plan. Thanks again very much for implementing this so quickly!! I might look into "upgrading" to Ubuntu later but I don't know if the university even offers this option for their virtual servers and it would probably be a lot of work to set up everything from scratch (Apache, Solr, etc. etc.). For the time being I guess we'll have to wait a little before using the imag

[2014-09-25 12:34] jpstroop commented on #126
I hope you understand that I'm kidding--it's really none of my business and _ideally_ all of this would just work, at least across the various Linux distros. Reality is different, of course.

[2014-09-25 12:46] schwemmer commented on #126
Yes, I know that you were kidding ;-) but you've got a point... If our server was running on Ubuntu it would have saved me many hours of work and it seems that Ubuntu has more options in terms of available packages, probably due to its different philosophy (although Debian is said to be slightly more stable and performant). My "dream" would be that one day we could just do:

[code]

:relaxed: :sun

[2014-09-25 12:51] jpstroop commented on #126
I know, I know...you're not the first person to ask that. :smiley: In many, many ways it would probably be easier than the `setup.py` approach. Kakadu is always going to make that tricky (because it's proprietary), but I suppose OpenJPEG could be the default. It's just that then new users would be likely to think that Loris' performance is terrible.

[2014-09-25 12:54] jpstroop commented on #126
Also, for whatever it's worth, we've been running Ubuntu LTS releases in production since '08 and I can't say we've ever had a problem that we've traced back to Ubuntu or which has made us regret the migration from RHEL (generally quite the opposite, in fact!).

[2014-09-25 13:07] schwemmer commented on #126
Interesting. So Ubuntu would really be an option for us too (except for having to set up everything from scratch again for which we probably won't have the time right now). Maybe I'll talk to the IT department later and see what they think.

I guess Debian does not allow proprietary software in their packages (i.e. Kakadu), what about Ubuntu? Or is the problem on Kakadu's side, that they don't all

[2014-09-25 13:41] jpstroop commented on #126
Ubuntu is based on Debian, and uses APT as well, and as far as I can tell the conventions in terms of where things live on the filesystem are pretty similar (when I was playing with Debian 6 last week it felt very similar to Ubuntu, just a little older, and I didn't really have any trouble finding my way around). I don't know the exact details in terms of what they allow and don't allow in APT, bu

[2014-09-25 14:20] schwemmer commented on #126
Thanks for these clarifications! I will comment on #109 regarding the Kakadu executables.

As for installation, I am glad that @regisrob wrote a guide for Debian (http://doc.biblissima-condorcet.fr/loris-setup-guide-ubuntu-debian) and I can imagine that it used to be more difficult and that it's getting easier with every release. Cool! Maybe I can contribute at least a little bit to the docs. I'll

[2014-09-25 14:39] schwemmer commented on #109
The "neither by default" approach makes sense to me too, as long as it is clearly documented in the installation instructions. It seems that the following config options are currently ignored:

[code]

Is this correct? The Kakadu executables seem to be always taken from `/var/www/loris/bin/Linux/x86_64/kdu_expand`and `/var/www/loris/lib/Linux/x86_64/`. The supplied Kakadu version 7.2 doesn't work

[2014-09-26 22:11] eliotjordan opened #131 "Configure loris docker app to use ports other than 80"

[2014-09-26 22:12] eliotjordan commented on #131
Ok. This looks to be the issue (introspection of external port mappings), and it hasn't been fully addressed from the docker side. Workaround is to use env variables. This isn't as flexible as a docker-level solution, but it works. I'll tinker with it some this weekend.

https://github.com/docker/docker/issues/1270

[2014-09-30 21:01] #131 closed, assigned to nobody

[2014-10-02 13:54] jpstroop commented on #85
Yes, it can. Clear the cache and use `/47102787.jp2/full/full/0/default.jpg` to prove it.

[2014-10-02 13:57] #85 closed, assigned to jpstroop

[2014-10-02 14:14] jpstroop commented on #47
Still a problem: http://libimages.princeton.edu/loris2/pudl0052%2F6131707%2F00000001.jp2/info.json

[2014-10-06 14:34] jpstroop opened #133 "Update installation documentation"
- [ ] `pip install -r requirements.txt` before setup.py
- [ ] need `python-dev` from apt
- [ ] incorporate Debian variances from Ubuntu
- [ ] Apache config instructions should point to `loris2.wsgi`

[2014-10-17 15:26] regisrob commented on #98
I'm waking up quite a long time after the discussion has started but I'm interested in this too. It would be a suitable solution for us to implement IIIF "remotely" over one of the digital library we're dealing with: it would avoid setting up and maintaining an image server like Loris for every image repository that is part of our project. We could rely on a centralized model where Loris acts as a

[2014-10-17 16:40] jpstroop commented on #98
That's good to hear. I'm sorry I haven't paid more attention to this, was
thinking maybe in the 2.1 release, though I'd happily accept a pull request!

[2014-10-17 21:57] regisrob commented on #98
I wish I had at least a basic knowledge of Python so that I could help you out :confused:. I'm not able to measure the involved workload, but let me know if you think it's too substantial and won't have enough time to develop this feature

[2014-10-18 10:09] jpstroop commented on #98
I'll get to it, but as I said, it won't likely make it into 2.0. Does the
way it's been framed out look ok to you?

[2014-10-19 16:28] regisrob commented on #98
Sure! :thumbsup:

[2014-10-20 10:24] jpstroop opened #134 "Images with embedded color profiles do not support grayscale or color"
(As learned on stage just now...)

Either need to examine the color profile, or simply assume all qualities are available, and then remove "color" when we run into gray (likely to work most of the time).

[2014-10-22 19:24] jeffreycwitt opened #135 ""native" qualities problem"
I'm not sure if this is a bug or a feature request, but I'm wondering why my Loris install doesn't seem to support "quality": "native". "native" appears to be the default quality requested by the "Mirador" image viewer, and thus the lack of support for "native" as a quality is causing me some problems, See an image profile for an image on my server here: http://images.scta.info:3000/pg-lon%2FL3r.j

[2014-10-23 12:47] jpstroop commented on #135
Hi there. I assume you're running the latest version of Loris? If so, the issue is almost certainly that the version of Mirador you're using is IIIF Image API 1.1 compliant rather than 2.0. In 2.0 "native" was renamed "default".

You could run Loris 1.2.3, which is 1.1 compliant, or better, I think, would be to put in an issue over on the Mirador repo to get them to upgrade. I know that @azaroth42

[2014-10-23 16:04] jeffreycwitt commented on #135
Dear Jon,

Thanks for your response. That makes a lot of sense. Thanks for your help.
I'll start playing around with Mirador 2 and see if that solves my problem.

Best wishes,

## jw

Dr. Jeffrey C. Witt
Philosophy Department
Loyola University Maryland
4501 N. Charles St.
Baltimore, MD 21210
www.jeffreycwitt.com http://www.jeffreycwitt.com/

From:  Jon Stroop notifications@github.com
Reply-To:  pu

[2014-10-24 21:24] jpstroop opened #136 "Consider feature toggles"
Could all enumerated features be enabled/disabled via the config file? Also, What about limiting to certain sizes?

Compliance level would vary based on what's enabled.

[2014-11-06 15:57] scande3 commented on #98
@jpstroop - So we at the BPL hacked together a very simple HTTP resolver that we are now using in production as of two days ago. A "sudden need" situation as Djokota that had previously been stable had started to crash tomcat twice a day without leaving any relevant log information and no known problem symptoms can be discovered. Furthermore the issue affected all levels of our stack as switching

[2014-11-06 17:58] jpstroop commented on #98
Steven, I'm so sorry about your server woes--I'm glad you're (presumably) moving to Loris, but I'm sorry that it has to be at such a hectic pace!

Yay! And to answer your question (B), a simpler impl than what is spec'd above is totally fine. The only thing I'd ask (and perhaps this is obvious) is that you be sure to use the config file for any attributes that would otherwise be hard-coded as cons

[2014-11-06 18:23] scande3 commented on #98
@jpstroop - That makes some sense on the is_resolvable issue and how that is to function.

A http head request is possible but:
1. In the current implementation, it would get called twice for every request? Once initially [here](https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L343) and then once [here](https://github.com/pulibrary/loris/blob/development/loris/webapp.py#L288). T

[2014-11-06 19:32] rlskoeser commented on #98
I can confirm the 401 behavior on HEAD requests for valid content against our Fedora instance as well, so agree with @scande3 that this is likely to be the case for other Fedora instances.

I still think a HEAD request should be a nice option though (perhaps with a configurable override for Fedora instances?), since in most cases it should work.  I wonder if it would be possible to cache the resul

[2014-11-07 15:03] jpstroop commented on #98
Yup, and I apologize for not being clearer and a little off-topic yesterday, I've been home with the flu and haven't been terribly clear-headed. What I would have done yesterday if I had a working instance nearby was comment out those lines and run the tests, which I just did.

The spec requires (wrongly, IMO, but I continue to lose the argument) that a 'bare identifier' request either returns or

[2014-11-07 15:40] scande3 commented on #98
@jpstroop - Ack, sorry about the flu! That stinks. Hope you feel better soon.

To reply: From a quick read, I think I understand the issue possibly. Yes, I can check the cache, though I believe that often this will still result in one expensive request for any non-bare identifier request? (Since the non-bare identifier resolvable call will fail to the else every time). Unless I am mistaken, a non-

[2014-11-07 15:43] scande3 commented on #98
@rlskoeser - Thanks for confirming the HEAD response issue. If you have any theories on how to adjust Fedora Commons easily to act appropriately with a HEAD request, let me know. While I agree on the option existing with some type of cache logic implemented is ideal, I don't think it will be feasible for what scope I want to keep a simple implementation of the HTTP resolver unless the Fedora HEAD

[2014-11-07 16:13] jpstroop commented on #98
Bah, you're correct.

Yes, absolutely :frowning:. Off the top of my head the only other thing I can think of is to try to reorder the conditions in `route()` to make the call to `is_resolveable` the last thing we try. My afternoon is full of meetings so I'm not likely to get a chance to try that out today...do you want to have a crack at it?

[2014-11-07 16:30] scande3 commented on #98
@jpstroop - I can re-order it and have it as part of my pull request for the SimpleHTTPResolver if that works? Hoping to have a correct implementation to do that pull request sometime on Monday.

[2014-11-07 16:35] jpstroop commented on #98
Yeah, that's fine. Ideally it would get down to one call, either in dissect
or route, but not both, not sure that's possible, but I really appreciate
having another set of eyes look at it!

-Js

Sent via mobile. Please excuse typos, brevity, etc.
On Nov 7, 2014 11:30 AM, "Steven Anderson" notifications@github.com wrote:

[2014-11-10 21:54] scande3 commented on #98
So it is looking like tomorrow or Wed for the pull request to be ready. One additional question that is more generic to loris that I've been struggling with how to handle: how does one currently indicate to fix a single cached image?

For example, an item is ingested into my repository and later it is reported that it wasn't the correct source image or that image was simply cropped incorrectly. So

[2014-11-10 22:26] jpstroop commented on #98
On 11/10/2014 04:54 PM, Steven Anderson wrote:

I've been punting on that because I want to see it standardized. I
drafted [this][1] last winter (with some input from Rob and Simeon)
because we and others have exactly that use case--we need to CRUD stuff
on the server all the time. Deletes or replaces come up for us here at
Princeton a few times a month, and right now we cd to the cache and just
d

[2014-11-11 18:41] rlskoeser commented on #98
@scande3 I'm pretty sure the Fedora HEAD issue is a bug in older versions of Fedora, based on this ticket: https://jira.duraspace.org/browse/FCREPO-1149

I guess the solution is to upgrade to 3.8? Which is not necessarily so easy to do.

BTW, I'm glad to hear you're working on this feature and loris/fedora integration and look forward to seeing the results.

[2014-11-13 22:29] scande3 commented on #98
@jpstroop - will include a seperate batch script for the Simple HTTP Resolver. We keep the cached jp2 files separate on the NAS at the moment as we lacked ~100 GB readily available on the server itself for that aspect of the caching. Almost done with a workable update... plan to replace the hacked hard-coded solution we currently have deployed with the new re-factor tomorrow morning. Should then h

[2014-11-14 04:23] jpstroop commented on #98
Sounds great. I'll be out of the office in the afternoon tomorrow,
handling a family visit for the weekend, so please don't worry if you
don't hear from me right away. Looking forward to the PR!

[2014-11-14 21:45] scande3 commented on #98
Initial pull request created to see if this seems like the right idea: https://github.com/pulibrary/loris/pull/137

(Currently being used at: https://www.digitalcommonwealth.org ).

EDIT: Nevermind, all the documentation is all in the doc folder rather than the github wiki, ooopps. Can submit another pull request with a documentation update this weekend if this all looks good.

[2014-11-18 04:51] scande3 commented on #98
@rlskoeser - seems like the pull request was accepted. There is a separate pull request where I attempt to add documentation at https://github.com/pulibrary/loris/pull/138 . Is there anything this fails to address that Emory would wish to do or that you have suggestions for improvements? Thanks!

[2014-11-18 22:04] rlskoeser commented on #98
@scande3 thanks for the update, glad to see this work moving forward so quickly.  I didn't get the chance to respond earlier, but I'm definitely interested in the installation and configuration docs, so I'll take a look at that too.

[2014-11-18 22:28] rlskoeser commented on #133
Can't all of the python requirements go into setup.py install_requires instead of needing an additional manual step?

Semi-related question: are there any plans to publish loris on pypi so it can be pip installable?  I vaguely recall there might be issues with the kakadu stuff but I can't remember and I'm having trouble finding anything that references that in the current issues.

Another question

[2014-11-18 22:48] jpstroop commented on #133
We're crossing threads :smile: See my response over on #138, but let's continue the conversation here.

Yes, kakadu is a problem. It's possible that one could set it up with everything but kakadu, but I'm very concerned about people having a bad experience and walking away without understanding why. And, at least on 64-bit Ubuntu systems you have to do [this nasty stuff](https://github.com/pulibra

[2014-11-18 22:55] rlskoeser commented on #133
Whoops, I wasn't paying attention to which issue I was commenting on.  Sorry about that.  I agree, this is a better place to discuss it.

I'll summarize my comments/suggestions here so we have them in the right place.
- figure out how to remove configobj dep before running setup.py
- move requirements.txt deps into setup.py install_requires (or at least reduce to reqs file to configobj)
- consider

[2014-11-18 22:59] jpstroop commented on #133
Bring stuff over from the other thread (and commenting on it):

Because it looks at the config file to figure out where all of the various directories should be and where the kakadu dependencies are. It would quite a lot to pass in as options, but I guess an alternative would be really hard code everything in the setup script and then you to move it later if you stray from the defaults. Do you thi

[2014-11-18 23:12] rlskoeser commented on #133
Glad to know you're using virtualenv.  I'd have to check with our sysadmins on installing to conventional unix locations vs inside the virtualenv; but if you're installing two different versions in a virtualenv, wouldn't the second one overwrite the scripts from the first?

So is the setup script installing to paths in the config file packaged with the source code?  And the idea would be that if y

[2014-11-21 22:46] jpstroop opened #140 "Should be able to configure whether up-sampling is allowed"

[2014-11-21 22:50] jpstroop opened #141 "Should be able to set a size threshold in config"
Eg. Max long dimension of the final image can't be larger than _n_.

This should be reflected in `sizes`.

[2015-01-12 14:56] regisrob opened #142 "SimpleHTTPResolver is getting 404 for every non-cached IIIF request"
The Loris log file shows that the SimpleHTTPResolver by @scande3 is sending requests to the remote server for every single IIIF request that has not been previously cached.
Considering the docstring in resolver.py, I assumed that the resolver was making only one http request to retrieve the source image, copying it into the local cache, and using that local copy for every subsequent IIIF request s

[2015-01-12 21:09] scande3 commented on #142
@regisrob - The extra requests are from a thread here: https://github.com/pulibrary/loris/issues/98 . It starts with the comment titled "scande3 commented on Nov 6, 2014" (near the middle) and goes for a few replies about the issue. From the @jpstroop response, it is setup that was due to difficulty resolving the url in the IIIF specification.

The best I was able to do was check the local cache f

[2015-01-13 14:45] jpstroop commented on #142
@scande3 See #141, re: full size images. I forget who it was that asked about this in the past, but, FWIW, it's definitely come up before.

I'd love to get to it, but my time is severely limited for about the next 6 months. Do you have any thoughts about where to implement it? Maybe in the resolver logic?

[2015-01-13 14:51] regisrob commented on #142
@scande3 Thanks a lot for your comprehensive answer, now I think I understood the logic of having this extra request.
So It should not be an issue for us too in terms of server overload (and we only have to deal with static jpeg)

[2015-01-13 15:29] scande3 commented on #142
@jpstroop - Unsure where to implement it just yet. In theory, the solution is the same for all of the resolvers (try the full request as a uri if it appears to be a bad request). Whether that is part of the base Resolver class or done above the Resolver level by catching errors to try the full uri in certain cases, I am not sure? I may be able to work on it in a few weeks.

It isn't a significant

[2015-01-13 15:33] jpstroop commented on #142
Sorry, I was talking about the problem you had of someone requesting all of your full-size images, and somehow adding a config option that restricts sizes to an upper-boundary, n% of the long dimension or something like that.

The reason for putting the logic in the resolver would be that a fancier resolver implementation might want to change this behavior by image or even based on user credential

[2015-01-13 15:37] scande3 commented on #142
@jpstroop - Ah, misunderstood. As a different issue, will reply to  https://github.com/pulibrary/loris/issues/141 to keep the threads cleaner.

[2015-01-13 15:43] scande3 commented on #141
From a conversation on https://github.com/pulibrary/loris/issues/142 , the suggestion by @jpstroop is to put this in each individual resolver. This is because some might want to deal with other factors like authentication.

I suppose that makes sense if: it might be some type of method that authorizes a particular request with a true/false response? This way even more advanced logic than just size

[2015-01-15 16:15] #135 closed, assigned to nobody

[2015-01-27 15:49] jpstroop opened #143 "Make cache based on canonical syntax"
Rather than UUIDs

[2015-01-27 15:50] jpstroop opened #144 "Find a way to make sure hung subprocesses are terminated"
May need a separate thread so that it can time out?

[2015-01-27 15:55] jpstroop opened #145 "Refactor setup.py to not require configobj"
- [ ] Take a bunch of command line opts, (e.g. `--etc-dir <dir>`, `--kdu-libs <dir>`, `--kdu-compress <file>`, `--log-dir <dir>`, `--tmp-dir <dir>`, `--cache-dir`  etc.). Write these to the config file after configobj is installed. Have sensible defaults.
- [ ] Do not copy over Kakadu (Cf #109)
- [ ] Do not move cron script. Just document that it exists.

[2015-01-27 18:42] #143 closed, assigned to nobody

[2015-01-28 01:03] jpstroop opened #147 "Make it possible to use resolver implementations that aren't in the resolver module"
Something like:

[code]

[2015-01-28 14:30] jpstroop commented on #147
@scande3...since you've been touching the resolver functionality lately...any thoughts about this? The idea is that, if you wanted, you could have a separate Python module with your BPL business logic, whatever, baked in as well as whatever config options are needed, and as long as Python can find it, fine!

[2015-01-28 14:30] jpstroop commented on #147
@cwulfman See above. Same question.

[2015-01-28 21:10] jpstroop opened #148 "PURGE"
Enough people have asked about how to clear the cache for a particular image. Should Loris support a `PURGE` method [similar to Varnish](https://www.varnish-cache.org/docs/3.0/tutorial/purging.html)?

Client would send `PURGE` from to the Base URI for an image. Feels like there would need to be some kind of access restriction on this...but think about it.

[2015-01-29 14:57] #147 closed, assigned to nobody

[2015-02-04 15:24] vruwink opened #150 "Installer is failing"
Hi,
Trying to get Loris installed on an Ubuntu 14.04 VM, but I keep running into this error when I run ./setup.py install:

Traceback (most recent call last):
  File "./setup.py", line 65, in <module>
    cache_links = config['img.ImageCache']['cache_links']
  File "/usr/lib/python2.7/dist-packages/configobj.py", line 567, in **getitem**
    val = dict.**getitem**(self, key)
KeyError: 'cache_links

[2015-02-04 15:32] jpstroop commented on #150
This isn't you. There isn't test coverage for the setup script, and this was introduced when the caching strategy was changed a few commits back. Watch for a patch within 30 minutes.

Thanks for catching this. My apologies.

[2015-02-04 15:35] #150 closed, assigned to nobody

[2015-02-04 15:36] vruwink commented on #150
Wow! Thanks for the fast response.   :+1:

[2015-03-09 14:03] #47 closed, assigned to jpstroop

[2015-03-09 15:02] #109 closed, assigned to nobody

[2015-03-09 15:02] #145 closed, assigned to nobody

[2015-03-14 13:06] jpstroop opened #153 "Princeton JP2s from glass negatives raise server errors"
E.g.
http://libimages.princeton.edu/loris2/pudl0038%2fmp033%2f0882%2f00000001.jp2/full/!120,120/0/default.jpg

[2015-04-28 20:04] hading opened #154 "Problem using SimpleFSResolver when there is a space in file system path"
As near as I can tell this happens because in the _dissect_uri method in webapp.py the identifier is quoted with 'quote_plus', but in the resolver it is unquoted with 'unquote' rather than 'unquote_plus', so instead of looking for 'path/to/my file' it ends up looking for 'path/to/my+file'.

I'm not sure if changing that would impact paths that already have a '+' in them. I'm going to make the chan

[2015-04-28 20:08] jpstroop commented on #154
Thanks for reporting; let me know what you find out. If I understand the problem correctly, are you currenty escaping the space in your identifier, eg., `path/to/my file` should be `path%2Fto%2Fmy%20file`?

[2015-04-28 20:13] hading commented on #154
Yes.

[2015-04-30 14:03] #133 closed, assigned to nobody

[2015-04-30 14:04] #66 closed, assigned to jpstroop

[2015-06-12 17:27] jpstroop opened #162 "Permissions checks"
Add a permissions check for cache directories at startup. Unwritable directories currently resulti in opaque 500 errors.

[2015-07-01 22:44] eliotjordan opened #166 "Add support for png as input format"
Add a PNG_Transformer class to transforms.py. Should be simple as it uses the same code as jpeg and tiff.

[2015-07-02 13:16] jpstroop opened #167 "2.0.1 release notes"
Better late than never....

@eliotjordan @scande3 @rlskoeser would you mind giving this a read?

https://github.com/loris-imageserver/loris/releases/tag/2.0.1

[2015-07-02 14:17] eliotjordan commented on #167
Looks good.

[2015-07-02 16:29] jpstroop opened #168 "Make cache APIs more consistent"
Currently the info cache's `__getitem__` returns `(ImageInfo, last_modified)` but the image cache returns a path to an image only, and requires the webapp to get the last modified datetime. Make these consistent, preferring `__getitem__` to always include the last modified datetime.

[2015-07-02 16:40] #168 closed, assigned to nobody

[2015-07-02 18:00] ehenneken opened #170 "bug: missing key in PIL_MODES_TO_QUALITIES"
The dictionary `PIL_MODES_TO_QUALITIES` in `img_info.py` is expected to have a key `LA` for some images. The attached image threw an internal server error because of this. Apparently this is an "L" image with "alpha" (see: http://pillow.readthedocs.org/en/latest/handbook/concepts.html)
![astro-ph_0312526_f2](https://cloud.githubusercontent.com/assets/273358/8483915/3bb16caa-20c2-11e5-97e6-f575dd0b

[2015-07-02 18:31] jpstroop commented on #170
Thanks for the fixture. I'll look into it now.

[2015-07-02 20:33] jpstroop opened #172 "Cache abstraction"
Consider abstracting out the cache APIs (both should probably be moved into their own modules) to make way for alternative implementations.

[2015-07-02 20:41] #166 closed, assigned to nobody

[2015-07-02 20:41] #170 closed, assigned to nobody

[2015-07-06 05:49] scande3 commented on #167
@jpstroop - would it be worth noting the change in the resolver namespacing? (ie. "SimpleHTTPResolver" becomes "loris.resolver.SimpleHTTPResolver" in your config if you are simply upgrading).

Looks good to me otherwise. :+1:

[2015-07-06 14:03] jpstroop commented on #167
Good idea, thanks. Done.

[2015-07-06 14:03] #167 closed, assigned to nobody

[2015-07-17 20:55] aeschylus opened #174 "Automate build and setup to work like iiify"
I recently ran across this great demo server, [iiify](https://github.com/rogerhoward/iiify). It doesn't do much, and it isn't specifically a package yet either, but I was able to simply type
`pip install Flask Pillow`
`python iiify.py`
and it worked. It was really gratifying to be immediately testing the API on my own images (though, to be fair, I did have to convert them to .jpg, since that littl

[2015-07-20 12:30] jpstroop commented on #174
Loris does install all of the dependencies itself--except Kakadu. The lack of a way to package Kakadu with Loris on pip is really the only thing that has kept me from making Loris installable in that way. Regarding:

[That's how you do it](https://github.com/loris-imageserver/loris/blob/development/doc/setup.md). If you want to get as far as the commands you posted above get you, then:

[code]

I

[2015-07-27 22:55] aeschylus commented on #174
Sorry to generate more of this kind of support ticket (especially since github tickets still can't be deleted). I understand the ball and chain that is an un-automatable dependency, and the tradeoff between giving people working but unclearly configured software and making them read the complete docs before attempting to deploy a production instance.

I still think there would be value in releasin

[2015-07-27 22:55] #174 closed, assigned to nobody

[2015-07-31 15:48] gvasold opened #175 "Problem with loris-http_cache_clean.sh"
Got errors running loris-http_cache_clean.sh. Seems to work now. Here is my small patch:
https://gist.github.com/gvasold/da96513504437cc0762a

[2015-07-31 15:58] jpstroop commented on #175
This seems reasonable. I'm not sure how it would have worked before! @scande3 ??

[2015-07-31 17:26] scande3 commented on #175
@jpstroop - I must have had an older version checked in that I had deployed on our server when I did that pull request. :+1: to merging this though.

(Surprised no one else made an issue about it before now).

[2015-07-31 17:28] scande3 commented on #175
@gvasold - can you make a pull request? Or, if you prefer, I could do one for it?

[2015-09-01 22:55] ta1986 opened #177 "Make @id responsive to http and https?"
I would like to support both http and https on my server. Is that possible to adjust loris to response @id based on incoming requests? Currently I always get http://... in the @id field no matter what protocol I use. Thanks.

[2015-09-15 04:52] tingletech commented on #65
FWIW, I had a very similar issue, which seems to have been fixed when I upgraded openseadragon to 2.0.0

[2015-09-15 05:22] tingletech opened #178 "subclassing and adding a custom resolver / running in aws elastic beanstalk"
Hi,

@barbarahui created a [#ucldc branch of loris](https://github.com/barbarahui/loris/) that has a resolver for amazon S3  and a [docker container](https://github.com/ucldc/ucldc-iiif) to run loris in AWS elastic beanstalk with the docker application server.

I decided I wanted to refactor this for running on the python application server in elastic beanstalk, and created [Potto-Loris](https://g

[2015-09-15 13:13] jpstroop commented on #178
Brian,
That looks great! Thanks for the info. If there's anything that you think should/could be more generalized in [loris-imageserver/loris](https://github.com/loris-imageserver/loris), please let me know, file issues, send PRs, whatever.

You should also announce your project/work to [iiif-discuss](https://groups.google.com/forum/#!forum/iiif-discuss)!
-Js

[2015-09-15 13:17] jpstroop commented on #178
Doh! I missed this paragraph:

As long as it doesn't force any special opinions on existing users, has clear documentation, and we can work out any licensing constraints, I'd welcome a PR.

[2015-09-15 17:24] tingletech commented on #178
What were your intentions as far as customizing the resolvers / extending loris functionality?  For the `setup.py` -- would you be open to something like a `setup_application.py` that does the current full image server install, and a more conventional `setup.py` that would work with `pip`?

Since the license has no patent granting language, my understanding is that it is okay for us to work on, at

[2015-09-17 15:56] ghukill opened #179 "confusing documentation around --libkdu option for installation?"
We had trouble getting Loris to transform .jp2 files, and after some digging and environment printing during runtime, determined it was a path issue.

The install option flags for setup.py state:
`--libkdu     Path to libkdu.so [Default: /usr/local/lib/libkdu.so]`

Which suggested to us, that given our installation of Kakadu which has the lib file `libkdu_v77R.so`, we should set that flag as, `/us

[2015-09-17 16:47] #179 closed, assigned to nobody

[2015-09-17 16:50] jpstroop commented on #179
@ghukill , thanks for the note. This had gone unnoticed for a very long time, and now you're the second person to mention it in a week (/cc @terrellt)! I just pushed up a quick update. I'm glad you're happy w/ Loris!

[2015-09-24 22:31] jeffreycwitt opened #180 "How to configure cache cleaning cron job when using docker deploy"
I wonder if there are any instructions (or advice) about the best way to set up cache_maintenance when deploying loris with docker. If so, it would be a great wiki addition.

[2015-09-27 20:51] jronallo opened #181 "documentation on how to set Access-Control-Allow-Origin"
I'm looking for how to set Access-Control-Allow-Origin to something other than *. I see there are some commits making CORS-related changes. I expected to find documentation on how to do this here:
https://github.com/loris-imageserver/loris/blob/development/doc/configuration.md

Is there already an option to change this setting?

My use case for needing to change this is that until we can work out

[2015-09-29 20:26] ghukill commented on #181
Possibly related.  We're running Loris through Apache, and having a problem when serving the info.json across domains:

`The 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed.`

I've tried removing all instances where this header might be added again in the WSGI --> apache --> response hops, but I'm still getting this error.

Might it be possible to incl

[2015-11-10 15:49] rlskoeser opened #187 "500 error / circular symlinks"
I'm occasionally seeing 500 errors with circular symlinks for images that at other times have worked fine.

Example output from loris:

[code]

The original cache file looks fine, but the resized version appears to be a symlink to itself:

[code]

I may be able to look into this if someone can provide some suggestions of where in the code to start looking or some ideas on what the problem might be

[2015-11-10 16:02] rlskoeser opened #188 "Nicer filenames"
It seems that the cache filenames are based directly on IIIF syntax, but filenames including `!` are a little hard to work with, and filenames with commas are a little strange as well.

Would you be willing to include a pull request that modifies IIIF format to generate nicer filenames?  Assuming the answer is yes, I have some implementation questions:
- Should this be a configurable option (it co

[2015-11-10 17:05] jpstroop commented on #187
I can't look at the moment, but it's either the code in the image cache or
the code in the webapp that makes the image that makes these symlinks. The
idea is to store the image in the cache at a path based on the canonical
request URI, and then link to it from a path based on the actual request.

My guess is that there's a bug in the condition that checks whether or not
the request was made using

[2015-11-11 17:30] rlskoeser commented on #187
As you'll see, I've got a pull request with a preliminary fix to prevent creating circular symlinks, but I haven't figured out yet what could cause a canonical cache path to be generated incorrectly.  I'm guessing maybe it's in the parameters code; is it possible that the size parameter could fail to get the image size under certain circumstances and thus not be able to calculate the normalized fo

[2015-11-11 18:57] jpstroop commented on #187
I agree; or just always cache at the canonical path and  dump the symlink behavior altogether, as I typed with my thumbs yesterday.

I think all of the relevant code is here: https://github.com/loris-imageserver/loris/blob/development/loris/img.py#L217-L232

[2015-11-24 18:22] #187 closed, assigned to nobody

[2015-11-24 19:10] ghukill opened #193 "Bitonal images without PIL im.mode '1' rendering gray"
Before submitting a pull request, thought submitting an issue might be a better place to start.  We had a headscratcher with JP2s, where when originating from bitonal TIFFs, were rendering gray.

Example JP2 rendering gray, where ideally it'd be white:
http://digital.library.wayne.edu/loris/fedora:wayne:Afkestie1906b50081986%7CIMAGE_7_JP2/full/full/0/default.jpg

The original bitonal TIFF, renderi

[2015-11-24 21:03] #181 closed, assigned to nobody

[2015-11-25 14:02] jpstroop commented on #193
That was related to something slightly different. In the description of qualities in the 1.0 version of the API we said that bitonal images had to be "1 bit per pixel". When I joined the editorial team for 1.1 I was pretty sure that wasn't possible with JPEGs, so that post is an artifact of my trying confirm without digging into the JPEG spec :smile:.

I agree that this case needs handling, but I

[2015-11-25 14:25] ghukill commented on #193
Thanks for such a detailed response.  I think you're absolutely right that our JP2s could use some color management.  We have been making JP2 derivatives upon ingest, and they've looked and worked great, until now.  But this is a good opportunity to revisit that process; thanks for the Kakadu "recipes".  To be honest, not sure what library we delegated imagemagick to use at the time, it's been awh

[2015-11-25 14:36] jpstroop commented on #193
Whichever. I'm not opposed to putting the check in. JP2 is complicated enough that having these kinds of patches is really just practical--there are things like this all over the place.

[2015-11-25 16:01] ghukill commented on #193
Here's the rub, I think it would have to be outside the `image_request.quality` check [here](https://github.com/loris-imageserver/loris/blob/development/loris/transforms.py#L110) to be effective.

Our JP2s are coming through with `im.mode` 'RGB', and unfortunately, we don't always have the ability to explicitly request 'bitonal' from the front-end (mixed thumbnails, or some of our digitized books

[2015-11-26 02:06] #177 closed, assigned to nobody

[2015-11-26 02:07] #175 closed, assigned to nobody

[2015-12-01 14:47] ghukill commented on #193
Cue truck reverse beeps.  I had a pull request ready to go, but thought I should dig in a bit more and see if the `.getextrema()` check covered all instances.  It didn't.  Something about our JP2's, the highest level of tiles in the file did not have the signature `((0,192),(0,192),(0,192))` bands.  They would be uniform, in that they generally start at 0, but would terminate at an unknown maximum

[2015-12-04 21:10] lfarrell opened #196 "Serving Image from Fedora"
This may not be the right place to ask this, but I was wondering how to put in a UUID to pull a Img/JP2 stream from Fedora? I have the HTTP Resolver suffix & prefix in place, but I'm not sure how to pass the UUID from loris to Fedora.

Thanks,

Dean

[2015-12-04 22:37] jpstroop commented on #196
I believe it should just work, the resolver code builds URL and makes the
request. Does that not work? Looping in @scande3 in case there's something
more specific you should know. If you're seeing errors, can you post any
additional information?

-Js

Sent via mobile. Please excuse typos, brevity, etc.
On Dec 4, 2015 4:10 PM, "Dean Farrell" notifications@github.com wrote:

[2015-12-07 22:35] scande3 commented on #196
I'm assuming he is using Fedora 4 Commons which I've never tested against. It should work similar to a PID though? Essentially: you construct a url with the identifier and then your parameters. For example, given a pid of "commonwealth:wh246s56b", it then can resolve as follows on our server:

https://iiif.digitalcommonwealth.org/commonwealth:wh246s56b/100,450,3168,1645/570,/0/default.jpg

Of cour

[2015-12-08 13:09] lfarrell commented on #196
I'm working with Fedora 3.8. At the moment I'm passing a URL like this http://localhost:5004/uuid:c18d73e0-3b36-4a9a-a30c-ee3576f28cd7, which gives the following: Not Found: could not resolve identifier: uuid%3Ac18d73e0-3b36-4a9a-a30c-ee3576f28cd7  (404), though if I look in my repo there's an image with that UUID.

Thanks,
Dean

[2015-12-08 14:45] scande3 commented on #196
In theory, there should be no issues then. Can you share what is exactly in your loris2.conf for the SimpleHTTPResolver exactly? Are you able to look at any server logs to see which part is returning the 404?

Something like the following from /var/log/loris/loris.log:
2015-07-30 10:23:24,348 (urllib3.connectionpool) [INFO]: Starting new HTTPS connection (1): fedoradev.bpl.org

Something like the

[2015-12-08 14:46] scande3 commented on #196
(may also be worthwhile to look in "other_vhosts_access.log" if that exists in the apache2 log directory)

[2015-12-09 13:41] lfarrell commented on #196
Here's the loris HTTP setup:

impl = 'loris.resolver.SimpleHTTPResolver'
source_prefix='https://localhost:8443/fedora/objects/'
source_suffix='/datastreams/IMAGE_JP2000/content'
cache_root='/usr/local/share/images/loris'
head_resolvable=True
default_format='jp2'
user='fedoraUsername'
pw='fedoraPassword'

There doesn't seem to be anything in /var/log/loris/ directory. At the moment I'm using the we

[2015-12-09 16:24] scande3 commented on #196
Ah. Better if you can test it in Apache as I don't think I've ever used it that way. I believe the values are hard-coded for the default resolver implementation in the webapp script rather than what is configured? (Could be wrong about this - @jpstroop ?). If I'm not correct about that, can research it tomorrow to see how that method ends up working.

[2015-12-09 16:32] jpstroop commented on #196
Ahh, yes, that absolutely correct!

If you really don't want to hassle with setting up Apache yet, you could tinker with [these lines](https://github.com/loris-imageserver/loris/blob/6dc5c1b1c51859e97242f68060ac366a6d267a8d/loris/webapp.py#L38-L58) to have the dev server load a different resolver. Sort of like @scande3 does in the [tests](https://github.com/loris-imageserver/loris/blob/development

[2015-12-11 20:20] lfarrell commented on #196
Semi related is there a straightforward way to uninstall loris if I want to start fresh?

[2015-12-15 16:20] lfarrell commented on #196
Got everything funneling through Apache now. Have you all ever had an issue with the returned info.json file being blank?

[2015-12-16 15:16] #196 closed, assigned to nobody

[2015-12-16 15:34] jpstroop commented on #196
Hmm...only when there's an error somewhere further upstream (i.e. with the source image or in the application). Is there anything in your Apache logs that might provide a clue? If you want to share the source image with me privately I'd be happy to have a look in the next few days.

[2015-12-16 20:38] lfarrell commented on #196
The issue turned out to be the img root directories weren't on the file
system. So, I'm guessing there was nowhere to put the images. Once they
were added it would return a populated info.json

/usr/local/share/images

/usr/local/share/images/loris

On Wed, Dec 16, 2015 at 10:34 AM, Jon Stroop notifications@github.com
wrote:

[2015-12-16 20:52] lfarrell commented on #196
Is there a way to avoid multiple head requests to fedora?

It seems to do something like this:
http://localhost/loris/uuid:c18d73e0-3b36-4a9a-a30c-ee3576f28cd7/info.json/datastreams/IMAGE_JP2000/content
This always gives a 500 error.

Depending on how we access it on our system it sometimes then tries again
with the info.json bit left out
http://localhost/loris/uuid:c18d73e0-3b36-4a9a-a30c-ee3576f

[2016-01-05 18:27] scherztc commented on #196
Helpful thread.  Image cache directory permissions were giving me hang ups when going from sandbox to production.  Thanks.

[2016-01-07 15:39] ghukill commented on #193
Just to update this - we've regenerated our JP2s via your kindly shared recipes, and they all render beautifully now, further supporting the idea that fixing the JP2s was the better route than trying to sniff out poorly formed, bitonal JP2s.

[2016-01-27 19:21] lfarrell opened #202 "Alternate Port for @id value in info.json files"
I've installed Loris in a Vagrant environment.The info.json files are created correctly as the initial request to Loris is proxied so something like this works: https://localhost/loris. However the value for @id in the info.json file needs to read something like this: https://localhost:8443/loris/my-uuid for OpenSeaDragon to find tiles correctly. Is there a way to set this? For the moment I've gon

[2016-04-27 20:33] scande3 opened #209 "Cannot generate info.json for some JP2 images."
Hiya,

I'm unable to generate a info.json response for certain JP2 images. One example of this behavior is the following image that will just hang endlessly: http://fedoradev.bpl.org/fedora/objects/bpl-dev:5h73q433b/datastreams/accessMaster/content

There are no problems with 99% of our JP2 images but we are up to five known cases of this odd behavior. I've tried many things to resolve this... fro

[2016-04-28 00:24] jpstroop commented on #209
Hey Steven,
That seems strange...hanging on info isn't something I can remember seeing, but I certainly believe you.

There no libraries with Python bindings that can pull all of this info, so it happens natively:

https://github.com/loris-imageserver/loris/blob/development/loris/img_info.py#L137

It's tough to parse w/o a copy of the JP2 spec, but it's been pretty reliable for a long time. The on

[2016-04-28 11:43] scande3 commented on #209
@jpstroop -> It seems like even the JP2 may have been inaccessible as it appears I forgot our dev fedora doesn't resolve externally. So:

Original TIF File: https://fedora.digitalcommonwealth.org/fedora/objects/commonwealth:wm118r832/datastreams/productionMaster/content

Generated JP2 Derivative: https://fedora.digitalcommonwealth.org/fedora/objects/commonwealth:wm118r832/datastreams/accessMaster/

[2016-04-28 14:56] scande3 commented on #209
Output of that iiif_img_info script:

It just exists back to console after that last message that seems to indicate an error. On other derivatives, this script just outputs the info.json hash at the end. Can try with more debugging a bit later to see what command it stops at...

[2016-04-28 17:24] tpendragon opened #210 "No CORS on base ID path."
The base ID path redirects to the info.json, but it doesn't have CORS headers, so it can't be used.

[2016-04-28 18:24] scande3 commented on #209
The error occurs at the following line:
https://github.com/loris-imageserver/loris/blob/eaad26863d4873c799973442f5f27482da4eb223/loris/img_info.py#L165

I'm unsure what exactly this code is doing. So any guidance on what might be up that causes this image to fail is appreciated. Thanks!

[2016-04-28 19:48] jpstroop commented on #209
Hmm. The while loop is a sliding window through the header looking for
the string 'colr' which marks the beginning of of the Color
specification box of the JP2. Need to open you JP2 in a hex editor to
see if I can figure out why that's not working. I will try my best to
get to it tomorrow, but I'm not sure I'll be able to get to it until
next week.

[2016-05-02 12:11] #210 closed, assigned to nobody

[2016-05-02 21:07] scande3 commented on #209
@jpstroop Whenever you could is appreciated. If you are unable to, I can research into it, but would take time as haven't dealt much with how files are represented information is represented within its binary data. Thank you!

[2016-05-11 13:43] jpstroop opened #216 "Gray may be broken?"
On server running the master branch: https://libimages1.princeton.edu/loris/pudl0130%2f8555444%2f02%2f00000007.jp2/square/400,/90/gray.jpg

[2016-05-11 16:30] ghukill opened #217 "permissions for image vs. info cache writing"
A question more than an issue: why are the permissions handled differently for the image and info cache writing to disk?

It would seem that the [image cache writing follows the umask for the user behind loris](https://github.com/loris-imageserver/loris/blob/development/loris/img.py#L221-L250), while the [info caching explicitly writes to disk as `0755`](https://github.com/loris-imageserver/loris/

[2016-05-11 18:51] jpstroop commented on #217
Hey Graham,
No specific reason I can think of--put in a PR if you want. Caching is on my mind a lot--specifically having a RESTful way to expire all of the derivatives of an image. @demiankatz has suggested trying to move all of the derivative caching to something that sits in front of Loris (e.g. Squid or Varnish) as a proxy, which is something I always meant to explore (this is why you can turn

[2016-05-11 19:19] ghukill commented on #217
Thanks!  Will do.  And yeah, we've been thinking about caching a lot as well.  Had considered Varnish in the past for other areas, but not Loris, that's an intriguing idea.

In the meantime, the in-house caching is working well for us, will submit a PR to align those permissions.

[2016-05-13 16:26] demiankatz commented on #217
@ghukill, if you get around to experimenting with Varnish before we do, I'd love to hear your results. (I hope to try it here eventually, but at the moment it's not too high on the priority list due to many competing projects... I'm sure you know how it is!)

[2016-05-13 17:18] ghukill commented on #217
@demiankatz Certainly do, and will do!  It's a great idea.

[2016-05-17 18:56] scande3 commented on #209
I spent a few hours debugging this today (learned a bit about reading the JP2 header) and it isn't a loris issue. Rather it deals with a case of a compressed TIF file that kakadu doesn't support with its provided binary tools. In these rare cases, I fallback to using MiniMagick in my code, and a feature in that seems to be busted.

Essentially the format to load an image with options set as exists

[2016-05-17 19:04] jpstroop commented on #209
Stephen,
That's great--I'm sorry I wasn't able to get to look at it. The IIIF conference ate my whole week last week. I agree that this would be a good error to raise. There was an issue buried somewhere about using magic to characterize the file, and then choosing the appropriate extraction function and transformer based on that info...seems sort of relevant to this, but I was always worried abou

[2016-06-07 19:47] #202 closed, assigned to nobody

[2016-06-08 12:52] lfarrell opened #220 "Proxying Loris"
Does loris support something like this: https://groups.google.com/forum/?hl=en#!topic/iiif-discuss/207JToiwl_0? We'd like to proxy all requests for info.json and image tiles through our larger application.

Thanks,

Dean

[2016-06-08 14:23] jpstroop commented on #220
Dean
It's come up before, but I think the person who asked wound up solving it w/ ports (they were using Varnish or Squid or something like that, on the same server). It terms of natively changing the base URI (in IIIF terms) no. Loris does not have that feature.

That said, it would be pretty trivial to implement: the base URI is calculated in from the request [here](https://github.com/loris-imag

[2016-06-08 15:17] lfarrell commented on #220
Thanks, I'll take a look. At the moment I've modified the leaflet-IIIF plugin to work how we'd like:
So passing in this:

[code]

Outputs the below, while still passing everything through proxies

[code]

Don't really want to maintain our own fork of Leaflet-IIIF, however.

[2016-06-08 15:54] jpstroop commented on #220
Yeah, if you did it I'd happily merge :wink:

[2016-06-10 12:03] jpstroop commented on #220
Closed by #221

[2016-06-10 12:03] #220 closed, assigned to nobody

[2016-06-14 14:59] FPaquette opened #224 "Creating tiles on demande"
Hi,
 Our institution is looking to replace our old images server & viewer, we are pretty much set on the viewer we would be using but we are still looking for an images server. Loris is one of the servers we are considering. Could you tell me if it's possible to create tiles images on demand and not beforehand? I am not seeing anything about it in the documentation but I would like to be sure.

Th

[2016-06-14 22:05] jpstroop commented on #224
Yes, Loris creates tiles on the fly, and then caches them on the file
system for future requests.

[2016-06-15 12:12] #224 closed, assigned to nobody

[2016-06-15 17:11] lfarrell opened #225 "500 errors for tile requests"
We're seeing a lot of this in our loris log: `"GET /fedora/objects/uuid:583ca10a-64fd-4acd-a769-91b3717ef2c8/0,0,1209,582/152,/0/default.jpg/datastreams/IMAGE_JP2000/content HTTP/1.1" 500 1213`, which gives a 500 error. We're not storing tiles in our fedora instance, so this is always going to fail. Is this a configuration issue on our part? It eventually seems to go to this path: `https://.site.e

[2016-06-21 20:01] jrhoads opened #227 "What is the contract on a Resolver.is_resolvable method?"
Specifically, I'm curious about its interaction with caching.
If something is found in the file-cache (as opposed to the info-cache) should that be considered resolvable, or should we look back to the source.

This is analogous to the Caching Modes of Operation from the Cantaloupe Image server
https://medusa-project.github.io/cantaloupe/manual/3.0/caching.html#Modes%20of%20Operation

[2016-06-21 20:12] jpstroop commented on #227
First, let me say that I hate `is_resolvable` and it's only necessary for the reasons I explained here: https://github.com/loris-imageserver/loris/pull/219#issuecomment-224435807. To me it was intended to be against the source, e.g. via a HEAD request or `os.path.isfile` and the cache should be opaque, but I _think_ @scande3's Fedora resolver just always returns True, so it's effectively being ski

[2016-06-24 11:05] jeffreycwitt opened #228 "error when trying to install Pillow dependency"
I'm getting the following error when trying to install Pillow on RedHat 7. If someone could help me interpret the error I would be grateful.

(env) [root@facresearch07 python2.7]# pip install Pillow
Collecting Pillow
  Using cached Pillow-3.2.0.zip
Building wheels for collected packages: Pillow
  Running setup.py bdist_wheel for Pillow ... error
  Complete output from command /opt/loris/env/bin/py

[2016-06-24 17:27] lfarrell commented on #228
It looks like it can't compile the C files needed by Pillow. You'll probably need to install, `yum group install "Development Tools"`, which should add in a C compiler. I'm running loris on RedHat 6. These are the yum packages I seemed to need.
1.   Install "development tools":  `yum -y groupinstall "Development tools"`
2.     Install image libraries: `yum install libjpeg-turbo libjpeg-turbo-devel

[2016-06-28 17:19] jrhoads commented on #227
Thanks for your response Jon.

I understand.  I'd like to see Loris as a leaner package as well.  Specifically I would like to be able to drop in to whichever application server (django/flask/tornado) is appropriate at the time.

For now I will consider the contract for is_resolvable to check the source

[2016-06-28 17:19] #227 closed, assigned to nobody

[2016-07-08 13:32] lfarrell commented on #225
The fix is to set the ident_regex setting in loris.conf. See #219 for full details of the fix. You'll need to be running loris off the master branch as the fix was added after the latest tagged release 2.0.1

[2016-07-08 13:32] #225 closed, assigned to nobody

[2016-07-18 17:41] ghukill commented on #217
Wanted to update with some work we've done to implement Varnish as our image cache for Loris.

Below is sketch of how we slotted Varnish in, using an HTTP Resolver to grab images from Fedora:

![loris_with_varnish_cache](https://cloud.githubusercontent.com/assets/1753087/16923757/d7a2bf70-4ce9-11e6-943f-97664af6aeb1.png)
1.  IIIF request comes in
2.  Received by a proxy for Loris we have in place

[2016-07-18 18:23] jpstroop commented on #217
Presumably Varnish is caching in memory as opposed to in disk, right? That should account for at least some of the performance improvement; the rest is probably just the fact that cached responses don't have to touch the application at all, if I understand your approach.

I'm curious why you went this route as opposed to just putting Varnish on `:80` (or `:443`) in front of Loris and moving Loris

[2016-07-18 18:24] jpstroop commented on #217
Nice work, btw!

[2016-07-18 18:37] ghukill commented on #217
One of our few configurations we made was setting Varnish to cache with the [file backend](https://www.varnish-cache.org/docs/trunk/users-guide/storage-backends.html#file), as we wanted anywhere from 5, 10, 20gb.  But yes, hits for cached derivative images (what I had been referring to as the "IIIF cache") in Varnish don't touch Loris at all.

As for the ports, our Loris server -- for better or wo

[2016-07-19 00:17] azaroth42 opened #230 "requests 2.6 does not have pyopenssl"
Upgraded with pip to 2.10 and install proceeded.

Previously got:

[code]

[2016-07-19 12:58] jpstroop commented on #230
Interesting. We're running on HTTPS here as haven't seen that. PR to update `requirements.txt` and `setup.py`?

[2016-08-11 00:54] xcompass opened #231 "image converter to iiif format"
Does this come with a tool to convert images (jpg/png) to iiif format? If yes, where is it and how to use it? I couldn't find any doc in the repo mentioning this.

If not, is there an open source tool for this purpose? Thanks.

[2016-08-12 12:14] jpstroop commented on #231
@xcompass: Thanks for your interest in Loris and IIIF!

The [IIIF Image API](http://iiif.io/api/image/2.1/) defines a protocol for accessing images and regions of images at arbitrary sizes, as well as some other lightweight manipulations, regardless of the format (e.g. jpg, png, jp2, tif) of the images you have available--in fact the specification very purposefully does not discuss the format of s

[2016-08-15 21:02] jpstroop commented on #231
@xcompass May I close this issue, or would you like further clarification?

[2016-08-15 22:30] xcompass commented on #231
Thanks @jpstroop. That answers my question.

[2016-08-15 22:30] #231 closed, assigned to nobody

[2016-08-19 14:05] andjsmit commented on #230
Got the same error today on a fresh install of RHEL 7. Wasn't sure what upgraded was being referred to at first. Finally saw the light. Fix for me was `pip install --upgrade requests`. Setup completed afterwards.

[2016-08-25 13:59] mmcclimon opened #232 "Possibile issue with RHEL 6 install"
I got this email from someone (Janina Sarol) following the [instructions for RedHat 6 install](https://github.com/loris-imageserver/loris/blob/development/doc/redhat-install.md). I'm not sure whether it's worth including in the main document or not, so I just thought I'd file it as an issue instead in case anybody runs into the same thing. (If it's indeed a bug in Python's ctypes module, one hopes

[2016-09-05 21:03] tomturner123 opened #233 "changing src_img_root wont work in centos6"
Hi. I've been having a go at getting loris working with centos6. I have successfully managed to load some images but only when the src_img_root folder starts with /usr/... any other directory and I get a "Not Found: could not resolve identifier: ... (404)" error. I tried using a symlink within the /usr directory but it generates the same error. Ive checked the apache logs which dont show anything

[2016-09-06 08:11] tomturner123 commented on #233
disabling SELinux solved the problem!

[2016-09-06 13:12] jpstroop commented on #233
That's the solution to _many_ problems :wink:, and was the first thing I was going to suggest when I saw your issue this morning. @mmcclimon added some documentation a couple of years ago [here](https://github.com/loris-imageserver/loris/blob/development/doc/redhat-7-install.md#selinux-module) that might be helpful is you need to keep SELinux enabled.

[2016-09-06 13:12] jpstroop commented on #233
Otherwise, shall we close this issue?

[2016-09-06 13:18] tomturner123 commented on #233
Thanks for your reply. I had tried the to implement the notes you linked to but clearly not very successfully. For my use Im happy to leave SELinux disabled. Thanks

[2016-09-06 13:19] #233 closed, assigned to nobody

[2016-09-06 13:19] jpstroop commented on #233
No problem. :-)

[2016-10-12 14:38] peichman-umd opened #239 "TemplateHTTPResolver does not call its parent class initializer correctly"
The TemplateHTTPResolver in resolver.py does not call its parent initializer correctly. Instead, it calls `super(SimpleHTTPResolver, self).__init__`, which calls its _grandparent_ initializer (i.e., AbstractResolver). As such, it does not get intialized as a SimpleHTTPResolver, and there is duplicated code in the initializer that could be eliminated.

[2016-10-12 14:53] peichman-umd commented on #239
Tagging @rlskoeser and @ghukill as they appear the be the main contributors on the TemplateHTTPResolver.

[2016-10-13 19:43] jpstroop commented on #239
Closed by #240

[2016-10-13 19:43] #239 closed, assigned to nobody

[2016-10-14 17:05] bcail opened #242 "Source image cache race condition?"
We have an issue that happens every once in a while in our loris instance. We get the following error message:

[code]

When we access the image later in loris, it works fine. The timestamp on the cached file matches the timestamp of the error email. In the http access logs, there are multiple requests for that image at the same time.

Is this a race condition in the code? Ie. process 1 checks for

[2016-10-14 17:32] jpstroop commented on #242
That's an error I've seen from Kakadu when a file is not complete or when you try to make a bizarrely wrong out of bounds region request (I suspect the latter is a Kakadu bug; seems like it could give a better error message).

That said, I've never seen it surface in Loris but I suspect you could be correct--your resolver is pulling the image down and it's not completely there, and maybe new/addit

[2016-10-17 16:30] bcail commented on #242
Thanks, Jon. I haven't been able to reliably reproduce the error in development. I'll post here if I make progress on this issue.

[2016-10-17 16:46] jpstroop commented on #242
:+1:

[2016-10-18 13:12] bcail opened #243 "log rotation"
Log rotation isn't working properly for us. After the log got too large, it got rotated, but then multiple log files were being written to at the same time (see how loris.log.3 was written to after loris.log.1, the sizes are incorrect, ...):
-rw-rw-r--. 1 loris loris    5.0M Oct 18 08:34 loris.log.5
-rw-rw-r--. 1 loris loris     139 Oct 18 08:35 loris.log.2
-rw-rw-r--. 1 loris loris     139 Oct 18

[2016-10-26 16:18] bcail commented on #243
We turned off the python log rotation by setting maxBytes and backupCount to 0 - the logs are being handled by the system logrotate process now.

[2016-10-26 18:37] jpstroop commented on #243
That's bizarre. I've been out of town and haven't had a chance to look into this. I'm surprised your logs are growing that quickly too--are you running at DEBUG level in production?

[2016-10-26 19:28] bcail commented on #243
We actually are right now, but I don't think we were at the time.

[2016-10-31 14:35] bcail opened #247 "travis build reports success even with an error"
See https://travis-ci.org/loris-imageserver/loris/builds/171507934 and download the raw log (https://api.travis-ci.org/jobs/171507935/log.txt?deansi=true). There's a test failure at the bottom.

[2016-10-31 14:47] jpstroop commented on #247
Wow, that's a little scary. I just pulled the latest development revisions and see this:

[code]

I'll make a PR to see if having it return non-0 changes things.

[2016-10-31 15:10] jpstroop commented on #247
Closed by #248

[2016-10-31 15:10] #247 closed, assigned to nobody

[2016-10-31 15:11] jpstroop opened #249 "HTTP Resolver fail"
@peichman-umd

[code]
This was hidden due to #247. Can you get a fix in?

[2016-10-31 15:29] peichman-umd commented on #249
@jpstroop Looking at it now.

[2016-10-31 15:41] jpstroop commented on #249
Thanks!

[2016-10-31 16:54] peichman-umd commented on #249
Opened PR #250 that should fix this. It was a mixture of bad test data and the TemplateHTTPResolver not returning the expected `(url, options)` tuple in cases where the identifier couldn't be resolved.

[2016-11-04 15:12] bcail opened #253 "kdu_expand hanging"
Sometimes when I run the loris test suite (on Linux Mint 17.3), it hangs - I think it's when it's trying to run the kdu_expand command. If I kill the test process and run the tests again, they work.

Also, in production we're seeing that sometimes a kdu_expand process will just hang (until apache is restarted).

Is anyone else seeing these issues?

[2016-11-04 15:20] jpstroop commented on #253
It's a tough issue; I wrote this up on SO last week: http://stackoverflow.com/q/40352825/714478

[2016-11-04 15:33] bcail commented on #253
Hmm. One commenter mentioned using a temporary file instead of a named pip - are there issues with that approach?

[2016-11-04 15:48] jpstroop commented on #253
The only issue is that it's a lot of disk i/o which I'm sure would slow things down.

[2016-11-04 16:52] jpstroop commented on #253
I wonder if it could be a config option. Seems like it's a little deep under the hood to ask average users to understand, but other than adding some preflight checks and hoping for the best, I've never really been sure how to handle this.

[2016-11-04 17:02] jpstroop commented on #253
Reading your issue more closely, I guess I haven't seen it hang randomly--it's always when `kdu_expand` is misconfigured or missing, or the jp2 is corrupt.

[2016-11-17 16:27] bcail commented on #253
Looks like this happened on the Travis tests for PR #256. The tests froze for 10 minutes and then were killed. Restarting the tests made them run successfully to completion.

[2016-11-17 16:35] bcail commented on #209
I think this can be closed now, with PR #256 being merged.

[2016-11-17 16:50] bcail commented on #142
@regisrob are you able to give this a try again? I think PRs 251 and 255 may have helped with the extra hits to the remote server.

[2016-11-17 16:55] bcail commented on #110
@jpstroop is Loris still supporting python 2.6? Looks like 2.6 isn't in .travis.yml anymore...

[2016-11-17 23:08] jpstroop commented on #110
Can give it a try, I feel like we might have run into an issue the `requests` library and CentOS (not even RHEL) that 2.6 couldn't support. @azaroth42, do you remember?

[2016-11-18 21:40] scande3 commented on #209
Closing as that PR does seem to test to ensure this doesn't occur.

[2016-11-18 21:40] #209 closed, assigned to nobody

[2016-11-22 14:58] roelpaesen opened #258 "uppercase extension failing"
Hi,
when I have a file 'file.jpg', and I use the url "<server>/file.jpg/full/full/0/default.jpg" everything works great.

Now, when I copy 'file.jpg' to 'file.JPG' (ext4 filesystem, so these are seperate and valid files) and change the url accordingly to
"<server>/file.JPG/full/full/0/default.jpg"
a 500-internal server error occurs.
(when then remove FILE.JPG and browse to "<server>/file.JPG/full/

[2016-11-22 16:04] roelpaesen commented on #258
And because logging is sometimes usefull :)

[code]

[2016-11-22 18:35] jpstroop commented on #258
I think you hit on it--I'm sorry I didn't get to respond earlier. The application uses the file extension to know which Transformer instance to use to derive the new file. See here:

https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L636

and the default resolver (cheaply) just takes the extension and trusts that it's the format:

https://github.com/loris-imageserver/lori

[2016-11-23 09:06] tangfucius commented on #179
Had the same problem and this helped solve it for me. But [documentation](https://github.com/loris-imageserver/loris/blob/development/doc/setup.md) for setup.py still looks the same? At least I certainly couldn't tell from the documentation that I have to change the config file to this after installing to get it working on jp2 images. Thanks for making this available - loris is the first IIIF serv

[2016-11-23 14:53] jpstroop commented on #179
It looks like the default is still wrong:
https://github.com/loris-imageserver/loris/blob/development/setup.py#L27
I thought this was fixed! Fix coming..

[2016-11-24 13:01] roelpaesen commented on #258
I tested changing line 91 of resolver.py from
[code]
to
[code]
and now it works :)

[2016-11-27 18:02] regisrob commented on #142
Thank you @bcail, I will do my best to give it a try asap

[2016-11-28 16:20] bcail commented on #258
This should be fixed with PR #260. Closing.

[2016-11-28 16:20] #258 closed, assigned to nobody

[2016-12-02 21:46] bcail commented on #249
Fixed by PR #250.

[2016-12-02 21:46] #249 closed, assigned to nobody

[2016-12-02 21:48] bcail commented on #148
Might be a nice start to have a function or script that can be run from the Loris server to purge a certain item from the caches. That would be helpful to me, and I'll try to work on that.

[2016-12-05 15:19] jpstroop commented on #148
In case you haven't run across [this stub](https://github.com/loris-imageserver/loris/blob/development/loris/img.py#L264-L266); it would keep the cache as consistent with the dictionary API as possible.

[2016-12-15 20:37] jpstroop opened #265 "Push ExtensionNormalizingFSResolver up into AbstractResolver."
See [this comment](https://github.com/loris-imageserver/loris/pull/264#issuecomment-267046191). Multiple resolvers could benefit from this feature.

[2016-12-28 04:01] MedievalMatt opened #268 "Odd CORS issue that I'm not sure how to resolve"
I'm trying to set up a Loris server to serve some images of medieval architecture and texts that I have, with a Mirador viewer set up to view the images.  Loris is running on an Ubuntu 16.04 LTS box and Mirador is on Ubuntu 12.04 LTS. This setup works great when everything runs on the same server, but I'm running into a CORS issue if I try to access the manifests from a different location.

Adding

[2017-01-01 15:46] MedievalMatt commented on #268
Figured out enough to solve my problem.  `set_acao`, when defined, added the extra header statement.  Why it did not trigger unless I added a header to `000-default.conf`, I don't know, but commenting it out solved my immediate problem so I'm good.

[2017-01-01 15:46] #268 closed, assigned to nobody

[2017-01-06 16:23] bcail opened #271 "add tif to target_formats"
Make it possible to generate tiffs as output images.

[2017-01-06 21:00] jpstroop commented on #271
I had some trouble with this w/ Pillow when I last attempted it, but :+1: if you can get it to work.

[2017-01-27 13:35] bcail commented on #265
Fixed in PR #270.

[2017-01-27 13:35] #265 closed, assigned to nobody

[2017-01-27 13:36] bcail commented on #228
@jeffreycwitt did this fix your issue? Can we close this?

[2017-02-01 15:11] bcail commented on #253
@jpstroop I've been looking at this issue (it happens regularly in our production environment). Does it happen in your system as well?

 I'm attaching a patch where I changed transform() to create a new subprocess, and then kill that subprocess if it times out (hangs). Does that idea seem like something that would work? Would there be issues with thread-safety if loris is running in a threaded env

[2017-02-01 15:17] jpstroop commented on #253
Hey. I'm pretty tied up today, but will try to get a look tonight or tomorrow. I have to say, I don't have any evidence that this happens in our environment, but this risk has always bothered me, and I'd be happy to have a solution.

[2017-02-01 15:18] jpstroop commented on #253
Do you want to push up a PR? We can always close it if it doesn't work out?

[2017-02-01 15:19] bcail commented on #253
Sure, will do. I'll run it in our production environment and make sure the hung processes go away, too.

[2017-02-01 20:55] scossu commented on #253
Hi there,

I'm not sure how much this would add to the conversation but I have encountered this recently too.

When I send a request for a transform that is not cached, it hangs indefinitely. The Loris log shows in its last line:

    /opt/kdu/kdu/kdu_expand -quiet -i "/usr/local/loris/cache/1b/66b/164/af6/0aa/beb/6f5/7ff/e20/2e4/1d4/loris_cache.jp2" -num_threads 4  -reduce 4 -o /usr/local/loris/t

[2017-02-02 21:39] bcail commented on #253
See PR #278. This approach seems to be working fine for our setup.

[2017-02-07 14:50] scossu opened #280 "ETag caching"
I looked at https://github.com/loris-imageserver/loris/issues/148 and it may be a reasonable solution to ensure that the Loris cache is up-to-date. However, that requires the data provider, which likely knows nothing about Loris, actively triggering the purge action.

In our particular implementation we are pulling source images from Fedora 4 which supports ETags and `If-None-Match` headers (https

[2017-02-07 14:58] jpstroop commented on #280
Off the top of my head, probably the easiest way to make an etag would be to hash a concatenation of the request URI (or at least the IIIF params - `/full/full/0/default.jpg` or whatever) and the last modified date of the source file.

[2017-02-07 15:11] jpstroop commented on #280
...but that would probably change the resolver API, as the last-modified date might not be reliable if you just looked at what ultimately winds up on disk.

[2017-02-07 15:54] scossu commented on #280
I realize that I raised two separate, completely independent issues here—a) producing ETags and supporting the `If-None-Match` header for clients, and b) using ETags *specifically in the HTTP resolver* to manage the cache of source images. Would it be better to split this issue up?

[2017-02-07 16:08] jpstroop commented on #280
I think so. Both seem possible, but the the resolver one seems easier

[2017-02-07 17:24] scossu opened #281 "Use Entity Tags in HTTP resolver to cache source images"
This ticket is to implement an entity tag (ETag)–based cache in the HTTP resolver (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26)

Not all HTTP servers support this feature so this should be a configurable option.

Proposed implementation :

- Identify a possible key-vale store to use as ETag store (e.g. Redis, memcached)
- Add a configuration option for `SimpleHTTPResolver` to

[2017-02-07 17:28] scossu opened #282 "Support ETags and honor "If-None-Match" headers"
This ticket is to support creation of Entity Tags (ETags) for all derivatives generated by Loris.

The ETag string should consider all the IIIF parameters of the request AND a unique value related to the source image, e.g. checksum or timestamp.

Also, as part of this ticket, Loris should react to a provided `If-None-Match` header sent by the client. If the provided value of the header matches the

[2017-02-07 17:28] scossu commented on #280
Splitting up into #281 and #282.

[2017-02-07 17:28] #280 closed, assigned to nobody

[2017-02-13 17:22] deutsches-museum-digital commented on #126
This feature would be important for us too. Now I'm curious about what has become of it? Has it been incorporated into Loris?

As suggested above, I installed the additionally needed software on the Ubuntu 14.04.5 LTS box where Loris is running on:

    sudo apt-get install libexiv2-dev gir1.2-gexiv2-0.10

And configured Loris like so in /etc/loris2/loris2.conf:

    [transforms]
        ...

[2017-02-15 06:15] jpstroop commented on #126
@deutsches-museum-digital The branch that included this feature was never merged. It's been a while, but if I recall correctly, the problem was that we couldn't find a library that would handle extra, custom EXIF fields. I think it's explained above: https://github.com/loris-imageserver/loris/issues/126#issuecomment-56725221

If that's been fixed, or there's another approach that would work and is

[2017-02-15 17:04] deutsches-museum-digital commented on #126
Hmmm ... but in the comments above it says that everybody was happy and content with the feature and that the only problem was that gexiv2 could not be installed in Debian Wheezy. The latter is now oldstable and I can confirm that gexiv2 installs without problems in Debian Jessie (8.2 and 8.7) as well as in Ubuntu 14.04.5 LTS.

Maybe it's time now to think about a merge again? ;)

[2017-03-02 00:06] mistycheney opened #283 "Any plan to support 16-bit images / customized contrast stretching?"
My fluorescent histology images are 16 bits JPEG2000. The histogram has a really long tail with 99% of pixel values are between 0 and 300. The JPEG patches Loris generates are 8-bit and the conversion seems to simply map the range 0-65536 to 0-256. The result is an almost completely black image.

I am wondering if Loris has plans to support generating JPEG patches in 16 bits, or rather a more cust

[2017-03-15 13:30] captmiddy opened #284 "WSGI setup incorrect for Ubuntu 16.04"
The instructions found here:
https://github.com/loris-imageserver/loris/blob/development/doc/apache.md

Have a slight flaw in them for Ubuntu 16.04 where they will continually error out saying it can't reach a specified folder.  You must pass the home parameter to the WSGI configuration:
WSGIDaemonProcess loris2 home=/var/www/loris2 user=loris group=loris processes=10 threads=15 maximum-requests=1

[2017-03-15 14:10] jpstroop commented on #284
@captmiddy, thanks for pointing this out! It actually is covered [here](https://github.com/loris-imageserver/loris/blob/development/doc/setup.md#run-setuppy):

But you're correct, it might be a good idea to restate this in the Apache instructions. I'd happily merge a PR.

[2017-03-15 16:46] captmiddy commented on #284
AH HA! see this is what happens when you copy other people's code :D.  The issue is actually that I used the Loris Docker image as a starting point for the Apache setup we are doing and the ID used in the Loris Docker Image set the home directory to /var/www/loris but pushed the files into /var/www/loris2.  I should have set the home directory to /var/www/loris2 to match the installation directory

[2017-03-15 17:03] jpstroop commented on #284
No worries, anything for the sake of clarity!

[2017-03-31 09:05] bboro opened #285 "[Support Request] Integrating with Newrelic Python Agent?"
I'm looking for someone who has tried and succeeded to integrate Newrelic's Python Agent with Loris.

Newrelic Documentation: https://docs.newrelic.com/docs/agents/python-agent/installation-configuration/python-agent-installation

Newrelic is a server/application monitoring service (you can create a free account with them with no obligation to buy anything), then you can install various agents to

[2017-03-31 12:31] bcail commented on #285
I'm not familiar with Newrelic, but you're not required to use mod_wsgi with loris. We use Phusion Passenger to serve our loris application. Loris is just a wsgi app that can be served however you're comfortable serving other wsgi apps. Also, you're not required to use setup.py - we don't use that either. We just put the loris code in a passenger app root and set the paths up correctly, and it wor

[2017-04-06 15:47] giorgiosironi opened #287 "Race condition between cache cleaning and temporary file creation"
https://github.com/loris-imageserver/loris/blob/development/bin/loris-http_cache_clean.sh#L59 removes empty directories. However, if the cache clean runs while traffic is being served, there is a race condition with the creation of temporary files:
[code]
https://github.com/loris-imageserver/loris/blob/development/loris/resolver.py#L317 creates the cache dir, while https://github.com/loris-imagese

[2017-04-06 15:55] giorgiosironi commented on #287
However, it's not possible to add the same `atime` filter to the empty directories, as the `find` operations will have set it to a recent time.

[2017-04-06 20:50] bcail commented on #287
I guess we could download the file to the tmp directory, and then create the cache dir and move the file in without having the requests call in-between. I think there would still technically be a race condition, though.

[2017-04-07 12:38] giorgiosironi commented on #287
Would mitigate, but the same problem reappears between the creation and the movement. If I find a solution I'll post it here.

[2017-04-10 10:05] deutsches-museum-digital opened #288 "Loris 2.1.0 installs into a 2.0.0 directory"
When installing 2.1.0, Loris is being copied into a directory identificating itself as 2.0.0 (and thus likely overriding a previous installation):

[code]

[2017-04-10 10:11] deutsches-museum-digital opened #289 "Missing images in Loris 2.1.0's cache"
After upgrading from 2.0.0 to 2.1.0, and a purge of Loris2's cache, derivatives of certain images are suddenly missing. They were properly delivered under 2.0.0.

When investigating this issue, I noticed something that appeared quite strange to me. One of the missing images is a derivative having a height of 144 pixels (and an implicit width of 192 pixels) of an image file named 1965T19_0001.jpg.

[2017-04-10 22:13] thatbudakguy opened #290 "os.stat() failure on OSX causes 500 errors"
**System**: OSX 10.11.6
**Version**: `lorisimageserver/loris` docker image
**Issue**: Almost all requests to Loris are failing with 500 errors. I have mounted a single image into my container at `/usr/local/share/images` using the `volumes` stanza in `docker-compose`. Issue seems to be related to [this stackoverflow question](http://stackoverflow.com/questions/23963397/how-do-i-reliably-retrieve-a

[2017-04-10 22:30] thatbudakguy commented on #290
The problem doesn't exist when the containers are first booted up, but if I refresh the page containing my Mirador viewer, suddenly it will appear, and all following requests to Loris will fail.

[2017-04-26 18:40] thatbudakguy commented on #290
Building a new container with the images baked in didn't resolve the problem - images were rendered after the first `docker-compose build` but now the issue has appeared again. Not sure what to do at this point.

[2017-04-28 15:12] schwemmer commented on #181
I have the same issue. We are setting the CORS header in Apache config (otherwise the manifest does not load in Mirador). It seems that Loris is setting CORS again and Mirador then fails to load the images with the following message:

`The 'Access-Control-Allow-Origin' header contains multiple values '*, *', but only one is allowed. Origin 'http://localhost:8000' is therefore not allowed access.`

[2017-05-01 17:09] schwemmer commented on #181
We ended up removing the else condition from the `webapp.py` file that sets the CORS header to "*" by default.  This fix prevents the CORS header from being set if nothing is set in the `cors_regex` variable in the config file.

We think it is better if it is only set in `webapp.py` if you explicitly set it in the config file, e.g. to "*".

[2017-05-05 16:55] thatbudakguy commented on #290
Seem to have resolved this by bumping the loris version in the Dockerfile to 2.1.0 and rebuilding, so it may not be an issue anymore. Will file a PR.

[2017-05-05 16:55] #290 closed, assigned to nobody

[2017-05-08 23:04] azaroth42 commented on #230
It seems to be fixed in more recent versions of requests.  Can we unpin it?

[2017-05-08 23:09] azaroth42 commented on #126
We (J Paul Getty Trust) also require this functionality, and are happy to put effort towards ensuring the implementation is production quality.

[2017-05-08 23:15] azaroth42 commented on #126
Looking at the implementation, could the embedded data be extracted and managed as an external sidecar file (perhaps in JSON) to avoid having to read the full image every time? Check that the modified timestamp of the JSON is > than the modified timestamp of the image, and if not, then re-extract.  This would also allow data to be embedded by the server, regardless of where it came from (manually

[2017-05-09 05:39] rogerhoward commented on #126
@azaroth42 some things I considered as I tackled similar questions (I use IIIF as a fun challenge and teaching aid, and have implemented it myself in a number of langs/stacks as a coding kata):

* metadata can quickly become a non-trivial percentage of the total byte size of a smallish image - for instance, the XMP alone in Getty's open content Irises is roughly 5KB, and that doesn't count IPTC/II

[2017-05-09 14:47] bcail commented on #230
Seems like it'd be fine to move to the latest version of requests. Are you able to submit a PR?

[2017-05-09 16:56] azaroth42 commented on #230
Sure :)

[2017-05-18 16:28] giorgiosironi commented on #287
My solution is to create two servers behind a load balancer, so that when performing cache cleaning the server can be detached first to avoid interference from real traffic:
https://github.com/elifesciences/iiif-formula/blob/master/salt/iiif/config/usr-local-bin-loris-cache-clean
It's not a portable solution in general, but someone may find it useful.

[2017-05-22 14:26] clintonblackmore opened #294 "Sagami Scroll Demo gives a 404"
The description of the Loris project (at https://github.com/loris-imageserver/loris) lists two demos:

- Mentelin Bible, l. 1r
- Scroll illustrating a story about the Sagami River with OpenSeadragon

The second demo links to http://libimages1.princeton.edu/osd-demo/?feedme=pudl0123%2F8172070%2F01%2F00000001.jp2
When I follow the link, I see a viewer and inside, in dim grey text on a black backgrou

[2017-05-23 13:30] mrdale1958 opened #295 "undefined variable in resolver.py"
Line 238 (in _web_request_url) says
Bad URL request at %s for identifier: %s.' % (source_url, ident)
but source_url is undefined.  I suspect it should just be url

The result is a server error instead of a useful error message

[2017-05-23 13:38] jpstroop commented on #295
Good catch! I'm sure you're correct. Want to make a PR?

[2017-05-23 21:32] #230 closed, assigned to nobody

[2017-05-25 15:01] giorgiosironi opened #297 "Cache stampede leading to corrupted image"
We have cases such as:
[code]
Corresponding to the logs:
[code]
From https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L626 and https://github.com/loris-imageserver/loris/blob/development/loris/img.py#L287 it seems that the cached result image is created in place. It is possible that this leads to a race where one process can serve a file from the cache before another pro

[2017-05-25 17:35] jpstroop commented on #295
Closed with #296

[2017-05-25 17:35] #295 closed, assigned to nobody

[2017-05-25 17:39] jpstroop commented on #297
We used to create the file at a random path and then symlink it to the expected path rather than moving. If I recall correctly, it just got to difficult to manage. Any reason to try that approach again, vs. moving?

[2017-05-25 18:15] azaroth42 opened #298 "Design / Implement IIIF Authentication"
We (J Paul Getty Trust) require authentication for some of our images, notably images that have only been cleared for internal use on the way towards being made public. Also for images that are cleared for use at certain sizes publicly, but known researchers can have greater access, and onsite staff even greater.  We have a deadline of September for a production quality implementation, as it is ne

[2017-05-25 18:56] azaroth42 opened #299 "Proposal: Resolvers to return partial ImageInfo object"
`resolver.resolve()` is called in three places:

 * https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L466
 * https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L539
 * https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L553

In each case, the next functional step is to pass the results through to create the image info obj

[2017-05-25 19:08] jpstroop commented on #299
I don't love the idea of passing a class to a some other class to have its properties updated--but there is definitely some of that going on already. Want to mock it up?

[2017-05-25 19:23] azaroth42 commented on #299
The challenge even without Authentication is how to get access to a sidecar file that stores attribution, logo, license and other non-automated services. The efficient place to grab that information is in the resolver, as it's already looking at files/representations. It's either carry it around as variables like the fp and format, have a different cache that the resolver creates in the global spa

[2017-05-25 20:23] azaroth42 commented on #299
Implementation done and seems to work :)

The major change is that now the only place that calls resolve() is:
    https://github.com/azaroth42/loris/blob/auth/loris/webapp.py#L488

It is then decorated with the now non static call to from_image_file at L500
All other references that would have used resolver directly in webapp, instead call _get_info()

(Please ignore all the other auth changes in

[2017-05-26 10:31] giorgiosironi commented on #297
Symlinking leaves the actual content in `tmp_dir` so it could wreak havoc with existing cache cleaning that target the cache folder instead. Also all the metadata (`atime`, `mtime`) gets an additional layer of indirection, so I agree that option is difficult to manage.

[2017-05-26 13:09] #294 closed, assigned to nobody

[2017-05-26 13:11] jpstroop commented on #294
Thanks--I thought I knew what the issue was, and that we just needed to put a redirect in place, but it looks like the slashes are suddenly getting double escaped--I think it may just be a problem with that little demo page because we're not seeing this problem anywhere else, so I went ahead and updated the URL to have actual slashes instead.

[2017-06-01 16:17] bcail opened #301 "JPX files?"
Can/should Loris handle JPX files? In img_info.py, we're checking for 'ftypjp2' in the file, which excludes the 'ftypjpx' of JPX files. That's easily changed, but are there other issues we would run into? In my test here, after allowing 'ftypjpx', I'm seeing an AttributeError on info.color_profile_bytes.

Any thoughts on how hard it would be to support JPX files?

[2017-06-01 16:23] jpstroop commented on #301
I think the best thing to do is try. I suspect it will work.

On Jun 1, 2017 12:17 PM, "bcail" <notifications@github.com> wrote:

Can/should Loris handle JPX files? In img_info.py, we're checking for
'ftypjp2' in the file, which excludes the 'ftypjpx' of JPX files. That's
easily changed, but are there other issues we would run into? In my test
here, after allowing 'ftypjpx', I'm seeing an Attribut

[2017-06-12 12:16] Kevin-Darty opened #304 "Installation issue"
Hi,

I followed the installation instructions but I have the following issue when executing setup.py:
`kevin@data:/home/data/loris-development$ sudo ./setup.py install --loris-owner data --loris-group data`
The installation starts and then an error is raised:
[code]

Any idea from where this error comes from ?
Thanks in advance

Some other informations:
Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Lin

[2017-06-12 13:00] bcail commented on #304
@niwizard
`configobj.ConfigObjError: Parsing failed with several errors.`
Looks like an error parsing loris2.conf - have you modified that file locally?

[2017-06-12 13:12] Kevin-Darty commented on #304
Yes I modified it.

I added a `[resolver]` but didn't see that one was already there.
Commenting the original [resolver] and the two following configuration lines solved the problem.

Thanks !

[2017-06-13 12:48] bcail commented on #304
@niwizard is there still an issue, or can this be closed?

[2017-06-13 13:31] Kevin-Darty commented on #304
This specific issue is resolved but I'm having other problems that might be linked to my server (that's why I close and reopened this thread).
I will open another thread if these other problems are directly linked to Loris and if I do not resolve them by myself.

Thanks again

[2017-06-13 13:31] #304 closed, assigned to nobody

[2017-06-14 13:39] giorgiosironi commented on #297
The PR has been merged, although the documentation one is still open.

[2017-06-14 13:39] #297 closed, assigned to nobody

[2017-06-30 08:21] alexwlchan opened #315 "Allow installation from PyPI"
Right now, I’m installing Loris by downloading the ZIP release bundle from GitHub, unpacking it and running `python setup.py install`. It would be nice if Loris could be installed from PyPI instead:

[code]

It’s a small thing, but it would make my deployments a little simpler. 🙂

[2017-07-03 15:40] bcail commented on #288
Yes, the version info needs to be updated for 2.1.0 (it's still on 2.0.0), but that won't fix the 2.1.0 release. @jpstroop should we update the version info, and release a 2.1.1?

[2017-07-05 16:42] jpstroop commented on #288
Ugh, yeah, I suppose we should.

[2017-07-12 18:37] jpstroop opened #323 "Loris Needs a New Owner"
I can't think of an easier way to reach all of the people who need to see this message than to start an issue--I hope nobody minds.

Loris started as a simple Python script that was meant to sit behind a webserver and dynamically respond to DZI requests, and it wasn't meant to work for anyone other than me. Around the same time, [IIIF](http://iiif.io/) came along and the script became an applicati

[2017-07-12 21:12] rogerhoward opened #324 "Python 3 compatibility"
I'm interested in seeing loris support Python 3 (3.5+) and am willing to tackle this, having quite a bit of experience over the past few years migrating old projects forward. Apologies if this has already been discussed and ruled out - I searched old issues without finding anything.

Before I embark on this, I'd like some input, or certainly get any *over my dead body* comments out of the way firs

[2017-07-12 21:41] jpstroop commented on #324
FWIW I'm +💯 for this, probably supporting 2.7 and >3.5 for now. I think
the hardest part might be the jp2 info extraction, but I've already done
it! I started a major refactor last summer in a separate repo that kind of
fizzled (though it was basically done):

https://github.com/jpstroop/loris-redux/blob/master/loris/info/jp2_extractor.py

It's also much nicer code with better tests, if I say so m

[2017-07-13 00:10] rogerhoward commented on #324
Excellent - was planning to target 2.7/3.5

I think it'd be best to keep the refactor and this compatibility push separate - I'm a little afraid of the refactor without better test coverage (re: #325 and @alexwlchan comments). The 2/3 compatibility is immediately useful, low risk, and a relatively easy job (unsexy as it may be).

This is also a good chance for me to get more familiar with the code

[2017-07-13 00:36] jpstroop commented on #324
Yeah, I wouldn't use all of that code, just the jp2 parser: https://github.com/jpstroop/loris-redux/blob/master/loris/info/jp2_extractor.py#L103-L210. There wasn't a straight 2 to 3 upgrade there because of the something to do the `struct` module, if I recall.

[2017-07-13 00:37] jpstroop commented on #324
And, I say all of this w/ #323 as one gigantic caveat!

[2017-07-13 13:06] bcail commented on #324
@rogerhoward that'd be great to support Python 3! I'm also all for better test coverage, and incremental/low-risk changes. I'm ok with just supporting 3.5 & greater. If anyone would really want 3.4 support, please chime in and let us know.

[2017-07-13 13:19] rlskoeser commented on #324
+1 for python 3 support.  I think using `six` makes a lot of sense, I've used that on a few projects that were originally developed for python 2.7.

[2017-07-13 15:02] alexwlchan commented on #324
I am tentatively 👍 on six, but let’s see if we need it – I’ve already done the import renaming without it, and less dependencies is usually a good thing.

[2017-07-19 15:49] tharanp opened #331 "jp2 encoding issue"
hi there,

not sure if anyone else had a similar issue and im pretty new to Loris; I'm storing all my images as jp2 on Loris. When I converted the images from tiff to jp2 via Mac OS X Preview app as sample test and uploaded to the server, im having no issues of viewing jp2 (see ex: [http://ec2-52-2-247-250.compute-1.amazonaws.com/loris/test/co7/ago.131813-working.jp2/full/,350/0/default.jpg](http:

[2017-07-27 13:22] tharanp commented on #331
solved this issue, I used the mogrify function to convert on graphicmagick; those output seemed to have done the trick.

http://www.alphadevx.com/a/80-Bulk-resizing-multiple-images-with-GraphicsMagick

[2017-07-27 13:22] #331 closed, assigned to nobody

[2017-08-02 21:25] alexwlchan opened #337 "Documentation around logging parameters is potentially inaccurate"
It’s 10:20pm local time, so I don’t have time to put up a proper patch tonight. Briefly: Loris 2.1.0, Python 2.7 running on Ubuntu 14.04. Here’s my logging config:

[code]

The configuration docs say:

But I’m getting the following error when I try to start Loris:

[code]

I don’t think `format` is only applicable when logging to file.

[2017-08-02 21:30] alexwlchan commented on #337
I can’t read, can I? It’s still logging to file, I thought I’d changed it to log to console. 10pm is the wrong time to be debugging!

[2017-08-02 21:30] #337 closed, assigned to nobody

[2017-08-03 08:22] alexwlchan opened #338 "Docs say that log_to=console doesn't require a format parameter; it does"
Now I’m slightly more awake, I can do #337 properly.

Docs say that you only require a `format` parameter for the logging config if you have `log_to = file`, but inspecting [the relevant code](https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L105), that doesn’t seem to be the case. Additionally, I’m seeing the following error if I try to run Loris with this config:

[cod

[2017-08-03 12:29] #338 closed, assigned to nobody

[2017-08-08 08:44] alexwlchan opened #341 "Occasional 'NoneType object is not callable' errors in log"
We've seen this error crop up several times in our logs:

[code]

while running the latest version from development. I wasn’t sure if it was a UWSGI config error, or some other bug on my side. (Unsurprisingly, Googling for that error doesn’t turn up anything useful.)\

I’ve tracked down the bug, patch incoming shortly.

[2017-08-08 08:48] alexwlchan commented on #341
The TypeError is being emitted from this method in Werkzeug:

[code]

Digging into where the `_on_close` attribute is being set by Loris, I found this line in `webapp.py`:

[code]

where `r` is an instance of `LorisResponse`, in turn a subclass of `werkzeug.wrappers.BaseResponse`. That method [takes a callback](http://werkzeug.pocoo.org/docs/0.12/wrappers/#werkzeug.wrappers.BaseResponse.call_on_cl

[2017-08-08 20:09] #341 closed, assigned to nobody

[2017-08-17 17:38] bcail commented on #298
Implemented in #316.

[2017-08-17 17:38] #298 closed, assigned to nobody

[2017-08-18 16:55] jpstroop opened #343 "What is authnServices.py?"
Is https://github.com/loris-imageserver/loris/blob/development/authnServices.py just an example file? Seems odd to have it outside of the application if it's meant to do something. Based on what it's for I'd say it 1) it needs to be documented, 2) it needs to be moved either to the `loris` dir or the `misc` dir.

[2017-08-23 13:15] bcail commented on #343
Yes, my understanding is that it's an example authentication service, and Loris redirects to a service like it if that's how the Auth service is configured. I agree it should be documented and I would move it to the misc directory. @azaroth42

[2017-08-25 21:50] ColeDCrawford commented on #181
For me, Loris was successfully setting the CORS headers for my images and info.json files, but not for my manifest, which is why Mirador wouldn't load it. Setting `Header set Access-Control-Allow-Origin "*"` in apache.conf in the main directory added CORS to the manifest but added it again to the images, causing the multiple values error.

Fixed this by adding a new `<Directory>` in apache.conf to

[2017-08-28 18:31] yanrubi opened #345 "How could I change the image file name?"
Hi,

For now, all my images are named "default.jpg". Is there a way to dynamically change the name based on its original url?

Thanks

[2017-08-28 18:55] alexwlchan commented on #345
You’d need to set the `Content-Disposition` header on image responses with a custom filename; AFAIK Loris doesn’t support that yet. See #18.

[2017-08-28 18:57] jpstroop commented on #18
Corrected link: http://iiif.io/api/image/2.1/#a-implementation-notes

[2017-08-28 19:22] yanrubi commented on #345
Do I add that to the set_acao function in the LorisResponse class from the webapp.py file?

[2017-08-31 21:19] azaroth42 commented on #343
Should go in misc/ as it's stand alone, and yes needs docs.

[2017-09-05 15:56] azaroth42 commented on #343
And feel free to assign to me.

[2017-09-05 16:00] azaroth42 opened #346 "Auth'n failed should respect redirects"
This traps failed authentication tokens:
   https://github.com/loris-imageserver/loris/blob/development/loris/authorizer.py#L316

But doesn't check if the image has a redirect to a public version, it just flat out denies access. It should pass through to line 326 instead of jumping out early.

(Feel free to tag as auth, and assign me)

[2017-09-05 16:02] azaroth42 opened #347 "Handle non-expired auth failures better"
This `raise` should instead reraise an AuthorizerException() rather than the original to ensure that token validation exceptions are handled as 401, not 500 with a stack trace:
   https://github.com/loris-imageserver/loris/blob/development/loris/authorizer.py#L273

(Feel free to tag as auth and assign me)

[2017-09-14 16:22] bcail opened #356 "ImageInfo architecture"
Currently, the ImageInfo class serves 2 purposes:
1. It's the IIIF info that's returned to the user. https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L511
2. It's information about an image that Loris uses internally. https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L637 (src_img_fp, src_format).

Should these purposes be split out into differe

[2017-09-14 16:23] bcail commented on #356
I'm currently seeing errors in our Loris instance where the src_format is '', and that's causing a KeyError here: https://github.com/loris-imageserver/loris/blob/development/loris/webapp.py#L688.

[2017-09-14 18:09] bcail commented on #356
Looks like ImgInfo.to_dict() gives you the IIIF info. ImgInfo.to_json() dumps that to_dict data as json if cache param is False, and adds in extra Loris-specific specific information if cache param is True. That's how ImgInfo handles its dual purposes.

I think I'll try refactoring it some, to make things clearer and hopefully fix the issue I'm seeing.

[2017-09-15 06:16] alexwlchan commented on #356
If I had the time, I’d split it into two classes – one for internal logic, one for display logic. The latter moves into `webapp.py`, the former remains in `img_info.py`. No code is shared between them, just data.

The internal class is what’s left of the old class, and splitting out the display logic makes that class very easy to test – because it only ever has to pass around data in-memory, rathe

[2017-09-15 12:33] jpstroop commented on #356
Have a look at this:

https://github.com/jpstroop/loris-redux/blob/master/loris/info/jp2_extractor.py

[2017-09-15 12:37] bcail commented on #356
Thanks for your comments, @alexwlchan and @jpstroop.

I think the current issue I have is with the cache. src_format is now in the ImageInfo object, which means it could come from the ImageInfo cache. However, I have old objects that were already cached without the src_format information, and I think that's why I'm getting some KeyErrors on src_format==''.

One solution is to require everyone to p

[2017-09-15 13:39] bcail commented on #356
I made a change (in the img_info branch), so _get_info checks for whether the Info data from the cache has src_format or not - if not, it gets the src_format and sets the cache as if nothing was in the cache at all. Seems to be working for me so far.

[2017-09-19 11:06] giorgiosironi commented on #356
It could be difficult for users to coordinate cache purging with a deploy of the new minor version. I would favor a layer of backward compatibility in the code (to be removed in a future version).
Could probably wrap the lines in https://github.com/loris-imageserver/loris/compare/img_info#diff-7b8af9e99ca9db588d607bd09f065ef7R522 with come `----begin---- ----end----` comments specifying an estimat

[2017-09-19 13:04] bcail commented on #356
Thanks, @giorgiosironi. I could see the next version of Loris being a major version, with the new Auth code. If we release a version 3 of Loris with the new auth code, then maybe we should remove this compatibility layer in version 4?

Also, it'd be great to get a release with Python 3 support (#324). I guess if we get that in soon, we could make a 3.0 release with the new auth and py3 support, or

[2017-09-22 16:24] alexwlchan opened #359 "Loris doesn't respect the proxy_path setting when creating the Link header"
We run Loris with the following setting:

[code]

The proxy_path setting is used to create correct URLs in the info.json, for example:

[code]

But if you request an image file, the Link header is still poking through the origin URL (which in our case, leads to a 404):

[code]

Loris should use the proxy_path setting, and rewrite this URL to the following:

[code]

We’re seeing this while running

[2017-09-22 16:28] alexwlchan commented on #359
(I’d like to use this bug as a chance to get another person at Wellcome familiar with and contributing to the Loris codebase, so please don’t patch it before next week! 😉 )

[2017-09-24 18:02] giorgiosironi commented on #356
On removing compatibility in `4.x`: makes sense to me, shouldn't expect compatibility of a cache between distant major versions.
On Python 3: if a `3.x` version supports both Python 2 and 3, personally I'll use it to upgrade the Python version of the servers running it.